.child {
  position: relative;
  &:hover {
    .content {
      top: 0;
      transition: opacity 0.5s linear;
      visibility: visible;
      opacity: 1;
      line-height: 24px;
    }
    .child-link {
      // right: 72px;
      transform: translate(-2em, 0);
      background-color: $light-blue;
      border-color: $light-blue !important;
      position: relative;
    }
  }
  .content {
    width: 40%;
    height: 290px;
    background-color: $light-blue;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    left: 0;
    bottom: 0;
    .btn-outline-white {
      color: $white;
      margin-top: 20px;
      &:hover {
        border: solid 1px $white;
      }
    }
  }
}

.related-service-links {
  min-height: 300px;
  overflow: hidden;
}
.parent-link {
  width: 40%;
  float: left;
}
.child-link {
  width: 58%;
  float: left;
  margin-left: 2%;
}

/*realted service*/
.parent-link {
  cursor: pointer;
  &:hover {
    ~ {
      .child {
        .child-link {
          background-color: $light-blue !important;
          border-color: $light-blue !important;
          color: $white;
          margin-left: 10px;
        }
      }
    }
  }
}

.related-service-links {
  .btn-outline-white {
    transition: 0.5s all !important;
  }
}
.logo-briefing-20h {
  height: 20px;
}

.glide.latest-insight-slides {
  //slide fade effect
  .glide__slides {
    width: auto !important;
    .item {
      height: 100%;
      float: left;
      opacity: 1;
      position: relative;
      width: auto !important;
      &.glide__slide--active {
        z-index: 1;
        opacity: 1;
      }
    }
  }
  .arrow {
    border-color: #e5e8e9;
  }
}

@media (max-width: $reflex-lg) {
  .parent-link {
    width: 52%;
  }
  .child-link {
    width: 46%;
    margin-left: 0;
  }
  .child {
    .content {
      display: none;
    }
  }
}
@media (max-width: $reflex-md) {
  .parent-link {
    width: 100%;
  }
  .child-link {
    width: 100%;
    margin-left: 0;
  }
  .child {
    .content {
      display: none;
    }
    .btn-outline-white {
      border: none;
    }
  }
  .links-group {
    border: solid 1px $white;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .child {
    &:hover {
      .content {
        display: none;
      }
      .child-link {
        right: auto;
        transform: none;
        // margin-left: 0px;
      }
    }
  }

  .related-service-links {
    .btn-outline-white {
      transition: none !important;
      margin-left: 0px !important;
    }
  }

  
}
