.home {
    .big-banner {
       position:relative;
       .item{
        .heading-brand{ position: relative; z-index: 3; top: 400px;
        &::after {
            content: url(../img/dsa-brand-line.jpg);
            display: block;
          }
        img{position: relative;
          background-size: inherit;          
          background-attachment: inherit;          
          background-repeat: inherit;
          width: auto;          
          display: block;          
          margin-top: 20px;
        }
        }
        .btn-outline-white{ position: relative; z-index: 3; bottom: 0; left: 45%; top: 130px;}
        .item-image {
          position: relative;
          min-height: 950px;
          overflow: hidden;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(0deg, rgba(26,41,64,20) 30%, rgba(26,41,64,0.06774047509628855) 100%);
          }
        }
        img{ position: absolute; z-index: 1; 
            background-position:center;
            background-repeat:no-repeat;
            background-attachment:scroll;
            background-size:cover;
            width:100%;
            height:auto;
            padding:0 0;
          }
        .news { background-color: #1a2940;  min-height: 650px;
          img{ position: absolute; z-index: 2;
            opacity: 0.9;
            background-size: inherit;
            background-position: inherit;
            background-attachment: inherit;
            background-repeat: inherit;
            width: 100%;
            padding: inherit;
            
          }

          h3,.btn{ z-index: 2; text-align: left; margin-left: 30px; margin-right: 30px;}
          h3 { margin-left: 30px; margin-right: 30px;
            a{ color: $white;}
          }
          .btn{ padding-left: 0px;color: $white;}
        }
      }

      }
      section.about-us{ background:linear-gradient(to bottom,rgba(0, 0, 0, 0.5) 9%,rgba(0,0,0,.5) 9%,rgba(0,0,0,.5) 9%),url(../img/who-we-are.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-attachment:scroll;
        background-size:cover ; min-height: 610px; 
    .transparent-bg{ 
     min-height: 450px; color: $white; position: relative;
      h2{color: $white;}
     a{ color: $white;}
     &:hover{background:linear-gradient(to bottom,rgba(0, 0, 0, 0.8) 9%,rgba(0,0,0,.5) 9%,rgba(0,0,0,.8) 9%); cursor: pointer;}
     .center-block{ margin-top: 40px; margin-bottom: 40px;}
    }
    }
    .card.events{
      .card-body{ height: 450px; overflow: auto;}
    }

    .card.asiapedia{
      .card-body{
        form{ margin: 0 auto; display: flex;}
        select{ border: none; background-color: #e5e5e5; color: $gray-700; padding: 10px 20px; width: 100%; font-size: $font-size-sm;
        }

      }
    }
  }

  ul.top-quick-link{margin: 0; padding: 0; text-transform: uppercase; margin-top: 20px;}
  ul.navbar {float: right;
    li {
      display: inline-block;@include font-size(13px); font-weight: bold; color: $white;
          text-transform: uppercase;
          &:not(:last-child) {
        margin-right: 1rem; }
          a{ color: $white;}
      .dropdown-contents { 
        padding-top: 45px; padding-bottom: 45px;
        text-transform: none;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        transition: 0.2s 1s;
        width: 100%;
        background-color: #f4f4f4;
        @include box-shadow(0px 8px 16px 0px rgba(0,0,0,0.2));
  
              p{ @include font-size(14px);    
                  text-transform: initial;
                  font-weight: normal; color: #000;
  }
              h2{text-transform: initial; @include font-size(28px); line-height: 28px;}
              h3{ font-size: 20px;;}
              .btn-outline-dark{ color: initial; display: inline-table;}
              ul{
                  li{ display:block;  text-transform:none; line-height: 20px;
                  a {color: #2a2a2a; font-weight: normal;}
                  }
              }            
      }
      &:hover {
        .dropdown-contents {
          visibility: visible;
          transition-delay: 0s;
        }
      }
    }	
  }
  

  @media (max-width: 575px) {
    .home {
      .big-banner {
        .item {
          .heading-brand{ top: 30px;}
         img{ width: auto;
          }
      }
          
      }
    }
    }



 
