.home {
    .big-banner {
       position:relative;
       .item{
        .heading-brand{ position: relative; z-index: 3; top: 45vh;
        &::after {
            content: url(../img/dsa-brand-line.jpg);
            display: block;
          }
        img{position: relative;
          background-size: inherit;          
          background-attachment: inherit;          
          background-repeat: inherit;
          width: auto;          
          display: block;          
          margin-top: 20px;
        }
        }
        .btn-outline-white{ position: relative; z-index: 3; bottom: 0; left: 45%; top: 90px;}
        .item-image {
          position: relative;
          height: 105vh;
          overflow: hidden; padding-bottom: 180px;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(0deg, rgba(26,41,64,20) 50%, rgba(26,41,64,0.06774047509628855) 65%);
          }
        }
        img{ position: absolute; z-index: 1; 
            background-position:center;
            background-repeat:no-repeat;
            background-attachment:scroll;
            background-size:cover;
            width:100%;
            height:auto;
            padding:0 0;
          }
        .news { background-color: #1a2940;  min-height: 70vh;
          img{ position: absolute; z-index: 2;
            opacity: 0.4;
            background-size: inherit;
            background-position: inherit;
            background-attachment: inherit;
            background-repeat: inherit;
            width: 92%;

            
          }

          h3,.btn{ z-index: 2; text-align: left; margin-left: 30px; margin-right: 30px;
          }
          h3 { margin-left: 30px; margin-right: 30px;
            a{ color: $white;}
          }
          .btn{ padding-left: 0px;color: $white;}
        }
        .btn{ 
          img{background-size: inherit;
            background-position: inherit;
            background-attachment: inherit;
            background-repeat: inherit;
          width: 15px; position: inherit;
          opacity: 1;
          }
        }
      }

      }
      section.about-us{ background:linear-gradient(to bottom,rgba(0, 0, 0, 0.5) 9%,rgba(0,0,0,.5) 9%,rgba(0,0,0,.5) 9%),url(../img/who-we-are.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-attachment:scroll;
        background-size:cover ; min-height: 610px; 
    .transparent-bg{ 
     min-height: 450px; color: $white; position: relative;
      h2{color: $white;}
     a{ color: $white;}
     &:hover{background:linear-gradient(to bottom,rgba(0, 0, 0, 0.8) 9%,rgba(0,0,0,.5) 9%,rgba(0,0,0,.8) 9%); cursor: pointer;}
     .center-block{ margin-top: 40px; margin-bottom: 40px;}
    }
    }
    .card.events{
      .card-body{ height: 450px; overflow: auto;}
    }

    .card.asiapedia{
      .card-body{
        form{ margin: 0 auto; display: flex;}
        select{ border: none; background-color: #e5e5e5; color: $gray-700; padding: 10px 20px; width: 100%; font-size: $font-size-sm;
        }

      }
    }
  }

  ul.top-quick-link{margin: 0; padding: 0; text-transform: uppercase; margin-top: 20px; float: right;@extend %clearfix;
                position: relative;
                li{ padding: 5px;  line-height: 18px;;
                  &.dropdown.open{background-color: #f1f1f1; border-radius: 3px;
                  }
                }
      .dropdown-content{ border-radius: 3px; right: 0px; min-width: 250px;
        .list li{ padding: 12px 0;}  
      }
      .down-arrow{ top: -6px;}
        
  }

  ul.navbar {float: right;@extend %clearfix; clear: both; margin-bottom: 0;
        li {
          display: inline-block; @include font-size(14px); font-weight: $font-weight-normal; color: $white; letter-spacing: 0.05em;
          text-transform: uppercase; padding: 19px;
          @include transition(border-width 0.1s ease-in-out);
          border-bottom-width: 0;
          &:last-child{
            margin-right: 0rem; padding-right: 0px; vertical-align: top;}
            a{ color: $white;}

          &.dropdown.open{border-bottom:2px solid $blue;
          }
          
        }

      //overwrite for navbar dropdowns
      .dropdown-content{
        left:0;top:110px;width:100%;background-color: #f4f4f4;color:$black;
        @include box-shadow(0px 8px 16px 0px rgba(0,0,0,0.2));

        a{color:$black;}
      }
  }


  @media (max-width: 575px) {
    .home {
      .big-banner {
        .item {
          .heading-brand{ top: 30px;}
         img{ width: auto;
          }
      }
          
      }
    }
    }



 
