


// Variables

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$bright-gray:#58595B !default;
$light-gray:#939598 !default;
$bluish-gray:#94a2ad !default;
$soft-bluish-gray:#e6e7e8 !default;

$black:    #000 !default;
$deep-blue:#1a2940 !default;
$cyan-blue:#344E70 !default;
$deep-cyan-blue:#314d77 !default;
$bluedark:#0D2338 !default;
$light-blue:#316aa3 !default;
$dark-light-blue:#2981d1 !default;



// Links
//
// Style anchor elements.

$link-color:                              $blue !default;
$link-decoration:                         none !default;
$link-hover-color:                        $gray-600 !default;
$link-hover-decoration:                   underline !default;


// Paragraphs
//
// Style p element.
$paragraph-margin-bottom:   2rem !default;
$spacer: 1rem !default;
$body-color:                $gray-900 !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$border-radius-none: 0px;
$border-none: 0px;
$border:1px solid #dee2e6 !default;
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$text-muted:                  $gray-600 !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Myriad Pro", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-family-head:            "NimbusSanL", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


// stylelint-enable value-keyword-case

$font-size-base:              1.1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
$headings-line-height:        1.2 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 0.8 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-color:                 $body-color !default;
$table-bg:                    null !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-dark-color:            $white !default;
$table-dark-bg:               $gray-800 !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-color:      $table-dark-color !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($table-dark-bg, 7.5%) !default;
$table-dark-color:            $white !default;

$table-striped-order:         odd !default;

$table-caption-color:         $text-muted !default;

$table-bg-level:              -9 !default;
$table-border-level:          -6 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default

$border-default: 1px solid #ccc;
// icons
$dsa-icons-font-family: "dsa-icons" !default;
$dsa-icons-font-path: "../fonts/icons" !default;

$icon-chevron-down: "\e913";
$icon-twitter-old: "\e900";
$icon-justice: "\e901";
$icon-calendar: "\e902";
$icon-date: "\e902";
$icon-schedule: "\e902";
$icon-angle-up: "\e910";
$icon-industry: "\e903";
$icon-bar-chart: "\e904";
$icon-bar-chart-o: "\e904";
$icon-file-text-o: "\e905";
$icon-book: "\e906";
$icon-arrow-circle-o-down: "\e907";
$icon-play-circle: "\e908";
$icon-envelope-open: "\e909";
$icon-envelope: "\e90a";
$icon-laptop: "\e90b";
$icon-minus: "\e911";
$icon-plus: "\e912";
$icon-help-with-circle: "\e90c";
$icon-envelope1: "\e90d";
$icon-arrow-down-alt1: "\e90e";
$icon-download: "\e90e";
$icon-envelope2: "\e90f";
$icon-mail: "\e90f";
$icon-email: "\e90f";
$icon-contact: "\e90f";
$icon-book1: "\e91f";
$icon-books: "\e920";
$icon-file-text2: "\e926";
$icon-copy: "\e92c";
$icon-address-book: "\e944";
$icon-location: "\e947";
$icon-map2: "\e94c";
$icon-calendar1: "\e953";
$icon-bubbles: "\e96c";
$icon-user: "\e971";
$icon-search: "\e986";
$icon-cloud-download: "\e9c2";
$icon-sphere: "\e9c9";
$icon-facebook: "\ea90";
$icon-facebook2: "\ea91";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-youtube2: "\ea9e";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";






