// footer sign up form ----------------------------------------------------------------
.site-footer{
.input-add-on {
	display: flex;
	margin-bottom: 1.5em;
}
.input-add-on-field {
	flex: 1;
	border: 1px solid #3c495c;
    padding: 0.5em 0.75em;
    background-color: #3c495c;
    color: #95a3b0;
    font-size: 18px; 
    font-style: italic;
	&:not(:first-child) {
		border-left: 0;
	}
	&:not(:last-child) {
		border-right: 0; margin: 0; border: 0;
	}
}
.input-add-on-item {
	background-color:$light-blue;
	color: $white;
	font: inherit;
	font-weight: bold;
	border: 1px solid $light-blue;
	padding: 0.5em 1em;
}

}
input[type=text], input[type=password], select,textarea {
	width: 100%;
	padding: 8px 10px;
	margin: 6px 0;
	display: inline-block;
	border: $border-default;
	border-color: #e7e7e7;
	box-sizing: border-box;
	@include font-size(12px)
  }
  
  input[type=submit] {
	width: 100%;
	background-color: $gray-300;
	color: $white;
	padding: 6px 20px;
	margin: 6px 0;
	border: none;
	cursor: pointer;
  }

//Tablets
@media (max-width: $reflex-sm) {
	.input-add-on-field{
        font-size: 15px;
	}
  }