// footer sign up form ----------------------------------------------------------------
.site-footer {
  .input-add-on {
    display: flex;
    margin-bottom: 1.5em;
  }
  .input-add-on-field {
    flex: 1;
    border: 1px solid #3c495c;
    padding: 0.5em 0.75em;
    background-color: #3c495c;
    color: #95a3b0;
    font-size: 18px;
    font-style: italic;
    &:not(:first-child) {
      border-left: 0;
    }
    &:not(:last-child) {
      border-right: 0;
      margin: 0;
      border: 0;
    }
  }
  .input-add-on-item {
    background-color: $light-blue;
    color: $white;
    font: inherit;
    font-weight: bold;
    border: 1px solid $light-blue;
    padding: 0.5em 1em;
  }
}
input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin: 0;
  display: inline-block;
  border: $border-default;
  border-color: #e7e7e7;
  box-sizing: border-box;
  @include font-size(12px);
}

input[type="submit"] {
  width: 100%;
  background-color: $gray-300;
  color: $white;
  padding: 6px 20px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
}
form {
  .form-field {
    &.field-group {
      position: relative;
      input {
        margin: 0;
        padding-left: 50px;
      }
      .group-field-btn {
        position: absolute;
        &.btn-serach{
          left: 0;
          background: transparent;
          padding-top: 16px; color: $gray-400;
        }
        &.btn-plus-minus{
          right: 0;
          top: 32px;
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
          height: 49px;
          width: 3%;
          padding: 16px 0px;
          &.btn-plus-minus.btn-pluse-minus-city{
            width: 6%;
          }
          &.btn-plus-minus.btn-minus{
            top: 6px;
          }
        }
      }
      .select-topic {
        width: 97%;
      }
      .select-city  {
        width: 94%;
      }
    }
    label {
      @include font-size(14px);
      color: $gray-700;
      line-height: 1.5;
      font-weight: normal;
    }
    input,
    select,
    textarea {
      width: 100%;
      background: $gray-100;
      border-radius: 2px;
      @include font-size(20px);
      color: $gray-600;
      line-height: 1.2;
      padding: 0 15px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      margin-top: 5px;
      border-color: $gray-200;
    }
    input,
    select {
      height: 50px;
    }
    textarea {
      min-height: 100px;
      padding-top: 19px;
      padding-bottom: 13px;
    }
    input:focus,
    textarea:focus,
    select:focus {
      background: $gray-200;
    }
    input::placeholder,
    textarea::placeholder,
    select::placeholder {
      color: #adadad;
      font-weight: 200;
    }
  }
}
.light-blue-bg {
  form {
    .form-field {
      label {
        color: $white;
      }
    }
  }
}
//Mobile
@media (max-width: $reflex-sm) {
  .input-add-on-field {
    font-size: 15px;
  }
  form {
    .form-field {
      &.field-group {
        .group-field-btn {
          &.btn-plus-minus{
            width: 6%;
            &.btn-plus-minus.btn-pluse-minus-city{
              width: 6%;
            }
          }
        }
        .select-topic {
          width: 94%;
        }
        .select-city  {
          width: 94%;
        }
      }
    }
  }
}
//Tablets
@media (max-width: $reflex-md) {

  }
