
@font-face {
  font-family: '#{$dsa-icons-font-family}';
  src:  url('#{$dsa-icons-font-path}/#{$dsa-icons-font-family}.eot?kbxs19');
  src:  url('#{$dsa-icons-font-path}/#{$dsa-icons-font-family}.eot?kbxs19#iefix') format('embedded-opentype'),
    url('#{$dsa-icons-font-path}/#{$dsa-icons-font-family}.ttf?kbxs19') format('truetype'),
    url('#{$dsa-icons-font-path}/#{$dsa-icons-font-family}.woff?kbxs19') format('woff'),
    url('#{$dsa-icons-font-path}/#{$dsa-icons-font-family}.svg?kbxs19##{$dsa-icons-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$dsa-icons-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-twitter-old {
  &:before {
    content: $icon-twitter-old; 
  }
}
.icon-justice {
  &:before {
    content: $icon-justice; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-date {
  &:before {
    content: $icon-date; 
  }
}
.icon-schedule {
  &:before {
    content: $icon-schedule; 
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up; 
  }
}
.icon-industry {
  &:before {
    content: $icon-industry; 
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart; 
  }
}
.icon-bar-chart-o {
  &:before {
    content: $icon-bar-chart-o; 
  }
}
.icon-file-text-o {
  &:before {
    content: $icon-file-text-o; 
  }
}
.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.icon-arrow-circle-o-down {
  &:before {
    content: $icon-arrow-circle-o-down; 
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle; 
  }
}
.icon-envelope-open {
  &:before {
    content: $icon-envelope-open; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-help-with-circle {
  &:before {
    content: $icon-help-with-circle; 
  }
}
.icon-envelope1 {
  &:before {
    content: $icon-envelope1; 
  }
}
.icon-arrow-down-alt1 {
  &:before {
    content: $icon-arrow-down-alt1; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-envelope2 {
  &:before {
    content: $icon-envelope2; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-contact {
  &:before {
    content: $icon-contact; 
  }
}
.icon-book1 {
  &:before {
    content: $icon-book1; 
  }
}
.icon-books {
  &:before {
    content: $icon-books; 
  }
}
.icon-file-text2 {
  &:before {
    content: $icon-file-text2; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-address-book {
  &:before {
    content: $icon-address-book; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-map2 {
  &:before {
    content: $icon-map2; 
  }
}
.icon-calendar1 {
  &:before {
    content: $icon-calendar1; 
  }
}
.icon-bubbles {
  &:before {
    content: $icon-bubbles; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download; 
  }
}
.icon-sphere {
  &:before {
    content: $icon-sphere; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-facebook2 {
  &:before {
    content: $icon-facebook2; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-youtube2 {
  &:before {
    content: $icon-youtube2; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-linkedin2 {
  &:before {
    content: $icon-linkedin2; 
  }
}

