@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?aatp41');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?aatp41#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?aatp41') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?aatp41') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?aatp41##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat {
  &:before {
    content: $icon-wechat;     
    color: #7bb32e;
  }
}
.icon-laptop1 {
  &:before {
    content: $icon-laptop1; 
  }
}
.icon-unlocked {
  &:before {
    content: $icon-unlocked; 
  }
}
.icon-locked {
  &:before {
    content: $icon-locked; 
  }
}
.icon-secure {
  &:before {
    content: $icon-secure; 
  }
}
.icon-lamp {
  &:before {
    content: $icon-lamp; 
  }
}
.icon-light {
  &:before {
    content: $icon-light; 
  }
}
.icon-justice {
  &:before {
    content: $icon-justice; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-cog {
  &:before {
    content: $icon-cog; 
  }
}
.icon-preferences {
  &:before {
    content: $icon-preferences; 
  }
}
.icon-bulb {
  &:before {
    content: $icon-bulb; 
  }
}
.icon-lamp1 {
  &:before {
    content: $icon-lamp1; 
  }
}
.icon-idea {
  &:before {
    content: $icon-idea; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-date {
  &:before {
    content: $icon-date; 
  }
}
.icon-schedule {
  &:before {
    content: $icon-schedule; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-laptop_chromebook {
  &:before {
    content: $icon-laptop_chromebook; 
  }
}
.icon-location_city {
  &:before {
    content: $icon-location_city; 
  }
}
.icon-users1 {
  &:before {
    content: $icon-users1; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-twitter-old {
  &:before {
    content: $icon-twitter-old; 
  }
}
.icon-wechat1 {
  &:before {
    content: $icon-wechat1; 
  }
}
.icon-long-arrow-right {
  &:before {
    content: $icon-long-arrow-right; 
  }
}
.icon-long-arrow-left {
  &:before {
    content: $icon-long-arrow-left; 
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up; 
  }
}
.icon-industry {
  &:before {
    content: $icon-industry; 
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart; 
  }
}
.icon-bar-chart-o {
  &:before {
    content: $icon-bar-chart-o; 
  }
}
.icon-file-text-o {
  &:before {
    content: $icon-file-text-o; 
  }
}
.icon-book {
  &:before {
    content: $icon-book; 
  }
}
.icon-arrow-circle-o-down {
  &:before {
    content: $icon-arrow-circle-o-down; 
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle; 
  }
}
.icon-envelope-open {
  &:before {
    content: $icon-envelope-open; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-help-with-circle {
  &:before {
    content: $icon-help-with-circle; 
  }
}
.icon-envelope1 {
  &:before {
    content: $icon-envelope1; 
  }
}
.icon-arrow-down-alt1 {
  &:before {
    content: $icon-arrow-down-alt1; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-envelope2 {
  &:before {
    content: $icon-envelope2; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-contact {
  &:before {
    content: $icon-contact; 
  }
}
.icon-office {
  &:before {
    content: $icon-office; 
  }
}
.icon-newspaper {
  &:before {
    content: $icon-newspaper; 
  }
}
.icon-book1 {
  &:before {
    content: $icon-book1; 
  }
}
.icon-books {
  &:before {
    content: $icon-books; 
  }
}
.icon-file-text2 {
  &:before {
    content: $icon-file-text2; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-address-book {
  &:before {
    content: $icon-address-book; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-map2 {
  &:before {
    content: $icon-map2; 
  }
}
.icon-calendar1 {
  &:before {
    content: $icon-calendar1; 
  }
}
.icon-display {
  &:before {
    content: $icon-display; 
  }
}
.icon-bubbles {
  &:before {
    content: $icon-bubbles; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-user-tie {
  &:before {
    content: $icon-user-tie; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-briefcase {
  &:before {
    content: $icon-briefcase; 
  }
}
.icon-cloud-download {
  &:before {
    content: $icon-cloud-download; 
  }
}
.icon-sphere {
  &:before {
    content: $icon-sphere; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-facebook2 {
  &:before {
    content: $icon-facebook2; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-youtube2 {
  &:before {
    content: $icon-youtube2; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-linkedin2 {
  &:before {
    content: $icon-linkedin2; 
  }
}

.icon-3x {
  font-size: 3em;
}
.icon-2x {
  font-size: 2em;
}
.icon-6x {
  font-size: 6em;
}

