
* {
    box-sizing: border-box; 
  }

  a { color: $cyan-blue; text-decoration: none;
    &:hover{ text-decoration: none;}
  }
  hr{ width: 100%;}
  
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
#wrapper{
    display: flex;
    flex-direction:column;
}

header.site-header{ padding: 0px 0px; position: relative;
  .logo{position: absolute; width: auto;
    top: 40px;
    display: flex;
    align-items: center;}


  #main-nav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background: rgba(26, 41, 64, 0.8);
    @include transition(background-color 0.5s);
    // @include transition(height 0.15s ease-out);
    height:110px; display: flex; flex-direction: column;

    &.white{
      background:$white;
      opacity:0.98;
      // height:90px;
      // @include transition(height 0.25s ease-in);
      @include box-shadow(0px 21px 51px -26px rgba(0,0,0,0.45));
      a{
        color:$deep-blue;
      }
    }
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar{
.dropdown-hover{ position: inherit;
.dropdown-content{ text-align: left; padding: 45px;left: 0;
  width: 100%;
p{
  text-transform: inherit;
  text-transform: inherit;
  font-weight: normal;
}

h1,h2{text-transform: inherit;}
.btn-outline-dark{ color: initial; display: inline-table;}
.promotion{ background: $white; height: auto;
  img{
    background-position: center;
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
width: 100%;
height: auto;
  }
}
ul{
  li{ display:block; padding: 5px 0;
  a {color: #2a2a2a; font-weight: normal;}
  }
}
}
}
}
}
footer.site-footer{ background-color:$deep-blue; color: $bluish-gray;
  .list-inline{ color:$white;
    a{color: $white;}
    li{
      &:not(:last-child) {
        padding-right: 1rem;
        
      }
    }
  }
  .list-inline.social-media{
    color:$bluish-gray;
    text-transform: uppercase;
    font-size: $font-size-base;
    li{ vertical-align: middle;
      &:not(:last-child) {
        margin-right: .5rem;
        padding-right: 0px;
        
      }
    }
  }
  h2{ color: $white; font-weight: normal;}
  p{ font-size: 13px;}
  .border-bottom{ border-color:$bluish-gray;}
.copyright{ color:  $bluish-gray;
.list-inline{ line-height: 18px; text-align: right;
  li{ font-size: 13px;
    a{ color: $bluish-gray;}
    &:not(:last-child) {
      border-right: solid 1px $bluish-gray;
      padding-right: .5rem;
      
		}
  }
}
}
}





@media (max-width: 575px) {
  .home {
    .big-banner {
      .item {
        .item-image{ height: 120vh!important;padding-bottom: 180px;}
        .news{ position: relative;
        top: 100px;min-height: 80vh !important;
        }
        .heading-brand{ top: 120px !important;}
       img{ width: auto;
        }
        .btn-outline-white{ left: 30% !important; top: 180px !important;}
    }
        
    }
  }
  header.site-header{
    .logo{ position: relative;}
    }
  footer.site-footer {
    text-align: center;
    .copyright{
    .list-inline{ text-align: center;}
  }
}

}