
* {
    box-sizing: border-box; 
  }

  a { color: $cyan-blue; text-decoration: none;
    &:hover{ text-decoration: none;}
  }
  hr{ width: 100%;}
  
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
#wrapper{
    display: flex;
    flex-direction:column;
}

header.site-header{ padding: 0px 0px;

  #main-nav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background: rgba(26, 41, 64, 0.5);
    transition: background-color .3s ease-in-out;
}
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


}
footer.site-footer{ background-color:$deep-blue; color: $bluish-gray;
  .list-inline{ color:$white;
    a{color: $white;}
    li{
      &:not(:last-child) {
        padding-right: 1rem;
        
      }
    }
  }
  .list-inline.social-media{
    color:$bluish-gray;
    text-transform: uppercase;
    font-size: $font-size-base;
    li{
      &:not(:last-child) {
        margin-right: .5rem;
        padding-right: 0px;
        
      }
    }
  }
  h2{ color: $white; font-weight: normal;}
  p{ font-size: 13px;}
  .border-bottom{ border-color:$bluish-gray;}
.copyright{ color:  $bluish-gray;
.list-inline{ line-height: 18px; text-align: right;
  li{ font-size: 13px;
    a{ color: $bluish-gray;}
    &:not(:last-child) {
      border-right: solid 1px $bluish-gray;
      padding-right: .5rem;
      
		}
  }
}
}
}





@media (max-width: 575px) {
  footer.site-footer {
    text-align: center;
    .copyright{
    .list-inline{ text-align: center;}
  }
}
}