//Mobile
@media (max-width: $reflex-sm) {
  .text-align-center-sm {
    text-align: center !important;
  }
  .text-align-left-sm {
    text-align: left !important;
  }
//content center on mbile like button and image
  .content-center-sm {
    display: table;
    margin: 0 auto;
  }
  .content-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  .flex-img{ width:880px; max-width: 880px;}
  }
}

@media (max-width: $reflex-xs) {
  .text-align-center-xs {
    text-align: center !important;
  }
  .text-align-left-xs {
    text-align: left !important;
  }
//content center on mbile like button and image
  .content-center-xs {
    display: table;
    margin: 0 auto;
  }
}
