doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='../assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include ../components/_header
    section.banner-admin
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Partners-banner.jpg')    
        .container
            .grid.align-end
                .col-sm-6.col-md-6.col-grid
                    h1 Recharge Credit
                    h4 
                        | Are you looking for a job at Dezan Shira & Associates or Asia Briefing?
                        | Fill in your job seeker profile here. 