header.site-header
    nav#main-nav.fixed-top
      .container
        img.logo(src='assets/img/logo.png' alt='')
        ul.list-inline.top-quick-link
          li
            img(src='assets/img/glob-icon.png' alt='' width='18px')
          li
            img(src='assets/img/user-icon.png' alt='' width='18px')
          li
            img(src='assets/img/download-icon.png' alt='' width='18px')
          li
            img(src='assets/img/search-icon.png' alt='' width='18px')
        ul.navbar
          li.dropdown
            a(href='#').dropdown-label About Us
            .dropdown-content
              .container
                .grid.align-center
                  .col-xs-3.col-md-3.col-grid
                      h3.centered
                        a(href='#') Who we are
                      img.flex-img.shadow(src='assets/img/banner-asiapedia.jpg' alt='')
                  .col-xs-3.col-md-3.col-grid          
                      h3.centered
                        a(href='#') Company News
                      img.flex-img.shadow(src='assets/img/banner-asiapedia.jpg' alt='')
                                             
                  .col-xs-3.col-md-3.col-grid
                    
                      h3.centered 
                        a(href='#') Personnel
                      img.flex-img.shadow(src='assets/img/banner-asiapedia.jpg' alt='')
                                      
                  .col-xs-3.col-md-3.col-grid
                    
                      h3.centered 
                        a(href='#') Partnerships
                      img.flex-img.shadow(src='assets/img/banner-asiapedia.jpg' alt='')
          li.dropdown
            a(href='#').dropdown-label Services
            .dropdown-content
              .container
                .grid
                  .col-xs-3.col-md-3.col-grid
                    h1 Services we offer
                    p
                      | The services provided by Dezan Shira &amp; Associates incorporate more than two decades of on-the-ground experience in Asia&rsquo;s dynamic business environment. The firm&rsquo;s services help decision makers manage the legal, tax, and operational challenges facing multinational businesses in China, ASEAN, and India.
                    a.btn.btn-outline-dark Conatc Us 
                  .col-xs-2.col-md-2.col-grid
                    h3.ml-2 Services
                    ul.list-unstyled.bullet-list.ml-2
                      li
                        a(href='#') BI
                      li
                        a(href='#') Corp Est & Structuring
                      li
                        a(href='#')  Due Dilligence
                      li
                        a(href='#') Accounting
                      li
                        a(href='#') HR Payroll
                      li
                        a(href='#') Tax
                      li
                        a(href='#') Audit & Risk
                      li
                        a(href='#') Tech       
                      li
                        a(href='#') ODI                                               
                  .col-xs-3.col-md-3.col-grid
                    h3  Industries
                    ul.list-unstyled.list-unstyled.bullet-list
                      li
                        a(href='#') Education
                      li
                        a(href='#') Entertainment & Sports
                      li
                        a(href='#') Environment
                      li
                        a(href='#') F&B
                      li
                        a(href='#') Healthcare
                      li
                        a(href='#') IT
                      li
                        a(href='#') Manufacturing
                      li
                        a(href='#') NGO
                      li
                        a(href='#') Professional Services
                      li
                        a(href='#') Trade & E-Commerce                                                                       
                  .col-xs-4.col-md-4.col-grid
                    .card.contact-us.p-arround-3.mb-2
                        h3.pt-3.pr-2 To learn more about how we can support you, contact one of our local experts.
                        p
                            | We provide professional services tailored to Asia´s business environment across the full business cycle.
                        a.btn.btn-outline-white.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
          li.dropdown
            a(href='#').dropdown-label Resources
            .dropdown-content
              .container
                .grid
                  .col-xs-3.col-md-3.col-grid
                    h1 Our Resources
                    p
                      | Dezan Shira & Associates is committed to developing business intelligence and understanding of investing across Asia. The firm publishes significant and well-received business titles about each of the markets and disciplines in which it operates through its publishing subsidiary, Asia Briefing Ltd.
                    a.btn.btn-outline-dark Conatc Us 
                  .col-xs-2.col-md-2.col-grid
                    h3.ml-2 Asiapedia
                    ul.list-unstyled.bullet-list.ml-2
                      li
                        a(href='#') Videos
                      li
                        a(href='#') Presentations
                      li
                        a(href='#')  Podcasts
                      li
                        a(href='#') Legal Documents
                      li
                        a(href='#') Industry Profiles
                                             
                  .col-xs-3.col-md-3.col-grid
                    h3  Asia Briefing
                    ul.list-unstyled.list-unstyled.bullet-list
                      li
                        a(href='#') About Asia Briefing
                      li
                        a(href='#') Magazines
                      li
                        a(href='#') Guides                                                                
                  .col-xs-4.col-md-4.col-grid
                    .card.contact-us.p-arround-3.mb-2
                        h3.pt-3.pr-2 To learn more about how we can support you, contact one of our local experts.
                        p
                            | We provide professional services tailored to Asia´s business environment across the full business cycle.
                        a.btn.btn-outline-white.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
          li
            a(href='#') Events
          li.dropdown
            a(href='#').dropdown-label Contact Us
            .dropdown-content
              .container
                .grid.align-center
                  .col-xs-3.col-md-3.col-grid
                    h1 Contact Us
                    p
                      | We want to help you and your team succeed in our neighborhood – Asia. Please introduce yourself so that our team can connect with you.
                    a.btn.btn-outline-dark Conatc Us 
                  .col-xs-3.col-md-3.col-grid
                    h3.centered 
                      a(href='#') Send enquiry
                    img.flex-img(src='assets/img/banner-asiapedia.jpg' alt='')
                                             
                  .col-xs-3.col-md-3.col-grid
                    h3.centered 
                      a(href='#') Locations
                    img.flex-img(src='assets/img/banner-asiapedia.jpg' alt='')
                                      
                  .col-xs-3.col-md-3.col-grid
                    h3.centered 
                      a(href='#') Careers
                    img.flex-img(src='assets/img/banner-asiapedia.jpg' alt='')
        