header.site-header
    nav#main-nav.fixed-top
      .container
        a(href='index.html')
          img.logo.flex-img(src='assets/img/logo.png', alt='')
        .hamburger-menu.float-right(data-open="header-menu")
            span
            span
            span
        div.header-menu
          ul.list-inline.top-quick-link
            li.dropdown
              a(data-trigger)
                i.icon-sphere
                i.down-arrow
              .dropdown-content.dropdown-content-normal(data-dropdown) 
                ul.list-unstyled.list
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-american.float-left.mr-1
                      span North America Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-uk-ireland.float-left.mr-1
                      span Ireland Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-french.float-left.mr-1
                      span French Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-german.float-left.mr-1
                      span German Desk
                  li
                    a.dropdown-item(href='https://www.dezshira.com/international-desk/italian.html')
                      i.sprite.sprite-flag-italian.float-left.mr-1
                      span Italian Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-russian.float-left.mr-1
                      span Russian Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-spanish.float-left.mr-1
                      span Spanish Desk
                  li
                    a.dropdown-item(href='https://www.dezshira.com/cn')
                      i.sprite.sprite-flag-chinese.float-left.mr-1
                      span &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-australian.float-left.mr-1
                      span Australian Desk
            li.dropdown
              a(data-trigger)
                i.icon-user
                    span.ml-05 Welcome Ikram
                i.down-arrow
              .dropdown-content.dropdown-content-normal(data-dropdown) 
                ul.list-unstyled.list
                    li
                        a(href='https://www.dezshira.com/member') Your Credits: 0
                    li
                        a(href='https://www.dezshira.com/member') Dashboard
                    li
                        a(href='https://www.asiabriefing.com/member/recharge') Recharge Credits
                    li
                        a(href='https://www.dezshira.com/member/change-password') Change Password
                    li
                        a(href='https://www.dezshira.com/member/logout') Logout  
            li
              a(href='brochure.html')
                i.icon-cloud-download
          ul.navbar
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | About Us 
                i.down-arrow
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg(data-closeBtn)
                .container
                  .grid.align-center
                    .col-xs-12.col-sm-10.col-md-10.col-lg-4.col-grid
                      h2.text-capitalize.text-left.text-align-center-xs About us
                      p.text-left.text-align-center-xs
                        | Dezan Shira & Associates is a pan-Asia, multi-disciplinary professional services firm, providing legal, tax, HR, technology and operational advisory to international corporate investors.
                      a.btn.btn-secondary.text-white.content-center-xs(href='our-firm.html') Read more 
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='news.html')
                              i.sprite.sprite-news-icon
                            h4.text-center.text-capitalize 
                              a(href='news.html') Company News
                            a.btn.btn-link.mb-2.center-block(href='news.html') Read more &gt;                       
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='personnel.html')
                              i.sprite.sprite-people-icon
                            h4.text-center.text-capitalize 
                              a(href='personnel.html') Personnel
                            a.btn.btn-link.mb-2.center-block(href='personnel.html') Read more &gt;                   
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='partnerships.html')
                              i.sprite.sprite-handshake-icon
                            h4.text-center.text-capitalize 
                              a(href='partnerships.html') Partnerships
                            a.btn.btn-link.mb-2.center-block(href='partnerships.html') Read more &gt;
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='international-desks.html')
                              i.sprite.sprite-globe-icon
                            h4.text-center.text-capitalize 
                              a(href='international-desks.html') International Desk
                            a.btn.btn-link.mb-2.center-block(href='international-desks.html') Read more &gt;
                            
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | Services  
                i.down-arrow 
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm-9.col-md-9.col-lg-3.col-grid
                      h2.text-capitalize.text-left Services
                      p.text-left
                        | The services provided by Dezan Shira &amp; Associates incorporate more than two decades of on-the-ground experience in Asia&rsquo;s dynamic business environment. The firm&rsquo;s services help decision makers manage the legal, tax, and operational challenges facing multinational businesses in China, ASEAN, and India.
                      a.btn.btn-secondary.text-white(href='services.html') Contact Us 
                    .col-xs-12.col-sm-4.col-md-4.col-lg-3.col-grid
                      h3.text-left 
                        a(href='services.html') Services we offer
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='services-single.html') BI
                        li
                          a(href='services-single.html') Corp Est & Structuring
                        li
                          a(href='services-single.html')  Due Dilligence
                        li
                          a(href='services-single.html') Accounting
                        li
                          a(href='services-single.html') HR Payroll
                        li
                          a(href='services-single.html') Tax
                        li
                          a(href='services-single.html') Audit & Risk
                        li
                          a(href='services-single.html') Tech       
                        li
                          a(href='services-single.html') ODI                                               
                    .col-xs-12.col-sm-4.col-md-4.col-lg-3.col-grid
                      h3.text-left  
                        a(href='industries.html') Industries
                      ul.list-unstyled.list-unstyled.bullet-list.text-left
                        li
                          a(href='industries-single.html') Education
                        li
                          a(href='industries-single.html') Entertainment & Sports
                        li
                          a(href='industries-single.html') Environment
                        li
                          a(href='industries-single.html') F&B
                        li
                          a(href='industries-single.html') Healthcare
                        li
                          a(href='industries-single.html') IT
                        li
                          a(href='industries-single.html') Manufacturing
                        li
                          a(href='industries-single.html') NGO
                        li
                          a(href='industries-single.html') Professional Services
                        li
                          a(href='industries-single.html') Trade & E-Commerce                                                                       
                    .col-xs-12.col-sm-6.col-md-6.col-lg-3.col-grid
                      .card.dark-blue-bg.mb-2.p-arround-2
                          i
                            img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='100%')
                          h3.pt-2.pr-2.text-white.text-left To learn more about how we can support you, contact one of our local experts.
                          p.text-white.text-left
                              | We provide professional services tailored to Asia´s business environment across the full business cycle.
                          a.btn.btn-secondary.mb-2.text-white(href='personnel.html') Talk to experts 
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | Resources 
                i.down-arrow
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm-9.col-md-9.col-lg-3.col-grid
                      h2.text-capitalize.text-left 
                        a(href='asiapedia.html') Our Resources
                      p.text-left
                        | Dezan Shira & Associates is committed to developing business intelligence and understanding of investing across Asia. The firm publishes significant and well-received business titles about each of the markets and disciplines in which it operates through its publishing subsidiary, Asia Briefing Ltd.
                      a.btn.btn-secondary.text-white Contact Us 
                    .col-xs-12.col-sm-4.col-md-4.col-lg-3.col-grid
                      h3.text-left 
                        a(href='asiapedia.html') Asiapedia
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='asiapedia-search.html') Videos
                        li
                          a(href='asiapedia-search.html') Presentations
                        li
                          a(href='asiapedia-search.html')  Podcasts
                        li
                          a(href='asiapedia-search.html') Legal Documents
                        li
                          a(href='asiapedia-search.html') Industry Profiles                                             
                    .col-xs-12.col-sm-4.col-md-4.col-lg-3.col-grid
                      h3.text-left  
                       a(href='asia-briefing.html') Asia Briefing
                      ul.list-unstyled.list-unstyled.bullet-list.text-left
                        li
                          a(href='asia-briefing.html') About Asia Briefing
                        li
                          a(href='asiapedia-search.html') Magazines
                        li
                          a(href='asiapedia-search.html') Guides                                                                
                    .col-xs-12.col-sm-6.col-md-6.col-lg-3.col-grid
                      .card.dark-blue-bg.mb-2.p-arround-2
                          i
                            img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='100%')
                          h3.pt-2.pr-2.text-white.text-left To learn more about how we can support you, contact one of our local experts.
                          p.text-white.text-left
                              | We provide professional services tailored to Asia´s business environment across the full business cycle.
                          a.btn.btn-secondary.mb-2.text-white(href='personnel.html') Talk to experts 
            li
              a(href='#') Events
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | Contact Us 
                i.down-arrow
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg(data-closeBtn)
                .container
                  .grid.align-center
                    .col-xs-12.col-sm-10.col-md-10.col-lg-4.col-grid
                      h2.text-capitalize.text-left.text-align-center-xs 
                        a(href='contact.html') Contact Us
                      p.text-left.text-align-center-xs
                        | We want to help you and your team succeed in our neighborhood – Asia. Please introduce yourself so that our team can connect with you.
                      a.btn.btn-secondary.text-white.content-center-xs Contact Us 
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='contact.html')
                              i.sprite.sprite-inq-icon
                            h4.text-center.text-capitalize 
                              a(href='contact.html') Send Inquiry
                            a.btn.btn-link.mb-2.center-block(href='contact.html') Read more &gt;                       
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='office.html')
                              .i.sprite.sprite-locations-icon
                            h4.text-center.text-capitalize 
                              a(href='office.html') Locations
                            a.btn.btn-link.mb-2.center-block(href='office.html') Read more &gt;                                       
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='career.html')
                              i.sprite.sprite-new-job-icon
                            h4.text-center.text-capitalize 
                              a(href='career.html') Careers
                            a.btn.btn-link.mb-2.center-block(href='career.html') Read more &gt;
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid.text-center          
                            a(href='media.html')
                              i.sprite.sprite-follow-us-icon
                            h4.text-center.text-capitalize 
                              a(href='media.html') Follow Us
                            a.btn.btn-link.mb-2.center-block(href='media.html') Read more &gt;     
            li
              a(href='brochure.html')
                i.icon-search
              