header.site-header
    nav#main-nav.fixed-top.site-header-blue
      .container
        a(href='index.html')
          img.logo.flex-img(src='assets/img/logo.png', alt='' data-dark='assets/img/logo-black.png')
        .hamburger-menu.float-right(data-open="header-menu")
            span
            span
            span
        div.header-menu
          ul.list-inline.top-quick-link
            li.dropdown.tooltip
              span.tooltiptext.tooltip-bottom International Desks
              a(data-trigger)
                i.icon-sphere
                i.down-arrow
              .dropdown-content.dropdown-content-normal(data-dropdown) 
                ul.list-unstyled.list
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-american.float-left.mr-1
                      span North America Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-uk-ireland.float-left.mr-1
                      span Ireland Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-french.float-left.mr-1
                      span French Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-german.float-left.mr-1
                      span German Desk
                  li
                    a.dropdown-item(href='https://www.dezshira.com/international-desk/italian.html')
                      i.sprite.sprite-flag-italian.float-left.mr-1
                      span Italian Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-russian.float-left.mr-1
                      span Russian Desk
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-spanish.float-left.mr-1
                      span Spanish Desk
                  li
                    a.dropdown-item(href='https://www.dezshira.com/cn')
                      i.sprite.sprite-flag-chinese.float-left.mr-1
                      span &#x5173;&#x4E8E;&#x6211;&#x4EEC;
                  li
                    a.dropdown-item(href='international-desks-single.html')
                      i.sprite.sprite-flag-australian.float-left.mr-1
                      span Australian Desk
            li.dropdown.tooltip
              span.tooltiptext.tooltip-bottom Subscribe/Login
              a(data-trigger)
                i.icon-user
                i.down-arrow
              .dropdown-content.dropdown-content-medium(data-dropdown)
                .btn-close.hidden-lg.hidden-xlg.hidden-md(data-closeBtn)
                .grid.pb-3
                  .col-md.text-center
                    a(href='asiapedia.html')
                      img(alt='', src='https://www.dezshira.com/themes/dsa/images/asiapedia-logo.png', srcset='https://www.dezshira.com/themes/dsa/images/asiapedia-logo-2X.png 2x')
                    h5.text-capitalize-none
                      | A place to share knowledge and better understand Asia
                  .col-md-6.col-sm-6.col-grid
                    .white-bg.p-arround-2.login-block
                      h5.text-uppercase.text-left.mt-2.border-bottom-dark-blue.mb-3.pb-1 Create account
                      ul.list-unstyled.text-left.login-popup
                        li.m Download our FREE magazines and guides
                        li.n Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications
                        li.w Access presentations, webinars, podcasts, reports, Q&amp;As and more
                        li.c Track paid orders and connect with our support team 
                      .text-center
                        button.btn.btn-secondary.text-white(type='submit') Subscribe

                  .col-md-6.col-sm-6.col-grid
                    form.dark-blue-bg.p-arround-2.text-center.create-ac-block(action='')
                      h3.text-center.mb-3.mt-4 Log In
                      input.mb-1(type='text', placeholder='Enter email', name='email', required='')
                      input.mb-1(type='password', placeholder='Enter password', name='psw', required='')
                      button.btn.btn-secondary.text-white.mt-2(type='submit') Login
                      small.text-center.text-capitalize.d-block.mt-5
                        a(href='https://www.asiabriefing.com/customer/forgot-password')
                          | Forgot Password? 
            li.tooltip
              span.tooltiptext.tooltip-bottom Download Brochure
              a(href='brochure.html')
                i.icon-cloud-download
            li.dropdown.tooltip
              span.tooltiptext.tooltip-bottom Our Offices
              a(data-trigger)
                i.icon-location
                i.down-arrow 
              .dropdown-content.dropdown-content-large(data-dropdown)
                .btn-close.hidden-md.hidden-xlg(data-closeBtn)
                .grid
                  .col-sm-4.col-md-2.col-grid-2
                    .gray-very-light-bg.p-arround-2.hover-bg
                      h5.text-left 
                        a(href='https://www.dezshira.com/office/china') China
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/china/beijing.html') Beijing
                        li
                          a(href='https://www.dezshira.com/office/china/dalian.html') Dalian
                        li
                          a(href='https://www.dezshira.com/office/china/dongguan.html') Dongguan
                        li
                          a(href='https://www.dezshira.com/office/china/guangzhou.html') Guangzhou
                        li
                          a(href='https://www.dezshira.com/office/china/hangzhou.html') Hangzhou
                        li
                          a(href='https://www.dezshira.com/office/china/ningbo.html') Ningbo
                        li
                          a(href='https://www.dezshira.com/office/china/qingdao.html') Qingdao
                        li
                          a(href='https://www.dezshira.com/office/china/shanghai.html') Shanghai
                        li
                          a(href='https://www.dezshira.com/office/china/shenzhen.html') Shenzhen
                        li
                          a(href='https://www.dezshira.com/office/china/suzhou.html') Suzhou
                        li
                          a(href='https://www.dezshira.com/office/china/tianjin.html') Tianjin
                        li
                          a(href='https://www.dezshira.com/office/china/zhongshan.html') Zhongshan
                  .col-sm-4.col-md-3.col-lg-3
                    .gray-very-light-bg.p-arround-2.hover-bg
                      h5.mb-0.text-left  
                        a(href='https://www.dezshira.com/office/silk-belt-road.html') Belt & Road Initiative  
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.mb-0.text-left  
                        a(href='https://www.dezshira.com/office/hong-kong.html') Hong Kong 
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/india.html') India
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/india/bengaluru.html') Bengaluru 
                        li
                          a(href='https://www.dezshira.com/office/india/delhi.html') Delhi
                        li
                          a(href='https://www.dezshira.com/office/india/mumbai.html') Mumbai
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/indonesia') Indonesia
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/indonesia/jakarta.html') Jakarta 
                        li
                          a(href='https://www.dezshira.com/office/indonesia/batam.html') Batam
                  .col-sm-4.col-md-3.col-lg-3
                    .gray-very-light-bg.p-arround-2.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/italy')  Italian Liaison Offices 
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/italy/conegliano.html') Conegliano Office
                        li
                          a(href='https://www.dezshira.com/office/italy/eurolink-udine.html') Udine Office
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/germany')  German Liaison Offices 
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/germany/essen.html') Essen
                        li
                          a(href='https://www.dezshira.com/office/germany/cologne.html') Cologne
                        li
                          a(href='https://www.dezshira.com/office/germany/stuttgart.html') Stuttgart
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/usa')  USA Liaison Offices  
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/usa/boston.html') Boston Office
                        li
                          a(href='https://www.dezshira.com/office/usa/salt-lake-city.html') Salt Lake City Office
                  .col-sm-6.col-md-2.col-lg-2
                    .gray-very-light-bg.p-arround-2.hover-bg
                      h5.mb-0.text-left   
                        a(href='https://www.dezshira.com/office/malaysia.html')  Malaysia  
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.mb-0.text-left   
                        a(href='https://www.dezshira.com/office/philippines.html')  Philippines 
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/russia')  Russia
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/russia/moscow.html') Moscow Office
                        li
                          a(href='https://www.dezshira.com/office/russia/st-petersburg.html') St.Petersburg Office
                        li
                          a(href='https://www.dezshira.com/office/russia/irkutsk.html') Irkutsk Office
                  .col-sm-6.col-md-2.col-lg-2
                    .gray-very-light-bg.p-arround-2.hover-bg
                      h5.mb-0.text-left   
                        a(href='https://www.dezshira.com/office/singapore.html')  Singapore 
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.mb-0.text-left   
                        a(href='https://www.dezshira.com/office/thailand.html')  Thailand 
                    .gray-very-light-bg.p-arround-2.mt-1.hover-bg
                      h5.text-left    
                        a(href='https://www.dezshira.com/office/vietnam')  Vietnam 
                      ul.list-unstyled.text-left.mb-0
                        li
                          a(href='https://www.dezshira.com/office/vietnam/da-nang.html') Danang
                        li
                          a(href='https://www.dezshira.com/office/vietnam/hanoi.html') Hanoi
                        li
                          a(href='https://www.dezshira.com/office/vietnam/ho-chi-minh-city.html') Ho Chi Minh City



          ul.navbar
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | About Us 
                i.down-arrow
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg.hidden-md(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm.col-md.col-lg-3.col-grid
                      h2.text-capitalize.text-left About us
                      p.text-left
                        | Dezan Shira & Associates is a pan-Asia, multi-disciplinary professional services firm, providing legal, tax, HR, technology and operational advisory to international corporate investors.
                    .col-xs-12.col-sm-4.col-md-4.col-lg-2.col-grid
                      h3.text-left 
                        a(href='services.html') Our Story
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='services-single.html') Overview
                        li
                          a(href='services-single.html') History
                        li
                          a(href='services-single.html')  Media
                        li
                          a(href='services-single.html') Partnerships
                        li
                          a(href='services-single.html') News
                 
                    .col-xs-12.col-sm-4.col-md-4.col-lg-2.col-grid
                      h3.text-left 
                        a(href='services.html') Our Experts
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='services-single.html') China
                        li
                          a(href='services-single.html') India
                        li
                          a(href='services-single.html') Vietnam
                        li
                          a(href='services-single.html') Singapore
                        li
                          a(href='services-single.html') Hong Kong
                        li
                          a(href='services-single.html') Indonesia        
                        li
                          a(href='services-single.html') Germany Liaison Office
                        li
                          a(href='services-single.html') ASEAN Alliance Members
                        li
                          a(href='services-single.html') Italian Liaison Office
                        li
                          a(href='services-single.html') USA Liaison Office
                        li
                          a(href='services-single.html') Russia              
                    .col-xs-12.col-sm-4.col-md-4.col-lg-2.col-grid
                      h3.text-left 
                        a(href='services.html') International Desks
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='services-single.html') Italian Desk
                        li
                          a(href='services-single.html') North American Desk
                        li
                          a(href='services-single.html') UK and Ireland Desk 
                        li
                          a(href='services-single.html') German Desk
                        li
                          a(href='services-single.html') Italian Desk
                        li
                          a(href='services-single.html') French Desk
                        li
                          a(href='services-single.html') Russian Desk
                        li
                          a(href='services-single.html') Spanish Desk 
                        li
                          a(href='services-single.html') Australian Desk
                    .col-xs-12.col-sm-6.col-md-6.col-lg-3.col-grid
                      .card.gray-light-bg.mb-2.p-arround-2
                          i
                            img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='100%')
                          h3.pt-2.pr-2.text-left To learn more about how we can support you, contact one of our local experts.
                          p.text-left
                              | We provide professional services tailored to Asia´s business environment across the full business cycle.
                          a.btn.btn-secondary.mb-2.text-white(href='personnel.html') Talk to experts 
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | Services  
                i.down-arrow 
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg.hidden-md(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm.col-md.col-lg-3.col-grid
                      h2.text-capitalize.text-left Tailored Services
                      p.text-left
                        | Our clients’ growth and sustainable development is paramount.  We provide a comprehensive range of services which we deliver as a flexible mix of stand-alone or blended services, covering business intelligence, audit, accounting, human resources, legal, payroll, tax and technology services.  Our blended services approach provides high knowledge and services value to small, medium and large sized organisations, operating in a number of sectors. 
                    .col-xs-12.col-sm-3.col-md-3.col-lg-3.col-grid
                      h3.text-left 
                        a(href='services.html') Services Areas
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='services-single.html') BI
                        li
                          a(href='services-single.html') Corp Est & Structuring
                        li
                          a(href='services-single.html')  Due Dilligence
                        li
                          a(href='services-single.html') Accounting
                        li
                          a(href='services-single.html') Human Resources & Payroll
                        li
                          a(href='services-single.html') Tax
                        li
                          a(href='services-single.html') Audit & Risk
                        li
                          a(href='services-single.html') Technology       
                        li
                          a(href='services-single.html') Outbound Direct Investment                                               
                    .col-xs-12.col-sm-3.col-md-3.col-lg-3.col-grid
                      h3.text-left  
                        a(href='industries.html') Industry Focus
                      ul.list-unstyled.list-unstyled.bullet-list.text-left
                        li
                          a(href='industries-single.html') Education
                        li
                          a(href='industries-single.html') Entertainment & Sports
                        li
                          a(href='industries-single.html') Environment
                        li
                          a(href='industries-single.html') F&B
                        li
                          a(href='industries-single.html') Healthcare
                        li
                          a(href='industries-single.html') IT
                        li
                          a(href='industries-single.html') Manufacturing
                        li
                          a(href='industries-single.html') NGO
                        li
                          a(href='industries-single.html') Professional Services
                        li
                          a(href='industries-single.html') Trade & E-Commerce                                                                       
                    .col-xs-12.col-sm-6.col-md-6.col-lg-3.col-grid
                      .card.gray-light-bg.mb-2.p-arround-2
                          i
                            img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='100%')
                          h3.pt-2.pr-2.text-left To learn more about how we can support you, contact one of our local experts.
                          p.text-left
                              | We provide professional services tailored to Asia´s business environment across the full business cycle.
                          a.btn.btn-secondary.mb-2.text-white(href='personnel.html') Talk to experts 
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                | Insights & Events 
                i.down-arrow
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg.hidden-md(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm.col-md.col-lg-3.col-grid
                      h2.text-capitalize.text-left 
                        a(href='asiapedia.html') Insights and Investor Resources
                      p.text-left
                        | Explore our leading business regional briefing news and business publications, or search our archives of business guides, podcasts, videos, presentations, publications and more.
                      a.btn.btn-secondary.text-white Subscribe 
                    .col-xs-12.col-sm-4.col-md-2.col-lg-2.col-grid
                      h3.text-left 
                        a(href='asiapedia.html') Events
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='asiapedia-search.html') Upcoming Events
                        li
                          a(href='asiapedia-search.html') Event Archive
                        li
                          a(href='asiapedia-search.html')  Asia Events
                        li
                          a(href='asiapedia-search.html') Global Events
                                           
                    .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-grid
                      h3.text-left  
                       a(href='asia-briefing.html') Asia Briefing
                      ul.list-unstyled.list-unstyled.bullet-list.text-left
                        li
                          a(href='asia-briefing.html') About Asia Briefing
                        li
                          a(href='asiapedia-search.html') Publication Store
                        li
                        .dropdown-divider
                          a(href='asiapedia-search.html') China Briefing
                        li
                          a(href='asia-briefing.html') India Briefing
                        li
                          a(href='asiapedia-search.html') Vietnam Briefing
                        li
                          a(href='asiapedia-search.html') ASEAN Briefing
                        li
                          a(href='asiapedia-search.html') Russia Briefing
                        li
                          a(href='asiapedia-search.html') Silk Road Briefing                                                                  
                    .col-xs-12.col-sm-4.col-md-3.col-lg-2.col-grid
                      h3.text-left  
                       a(href='asia-briefing.html') Asiapedia
                      ul.list-unstyled.list-unstyled.bullet-list.text-left
                        li
                          a(href='asia-briefing.html') Publications
                        li
                          a(href='asiapedia-search.html') Publication Store
                        li
                          a(href='asiapedia-search.html') Multimedia
                        li
                          a(href='asia-briefing.html') Q&A’s
                        li
                          a(href='asiapedia-search.html') Treaties
                        li
                          a(href='asiapedia-search.html') Legal
                        li                          
                          a(href='asiapedia-search.html') Infographic
                        li
                          a(href='asiapedia-search.html') Industry Profile
                    .col-xs-12.col-sm-6.col-md-4.col-lg-3.col-grid
                      .card.gray-light-bg.mb-2.p-arround-2
                          i
                            img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='100%')
                          h3.pt-2.pr-2.text-left To receive knowledge, insight and a better understanding of Asia.
                          p.text-left
                              | Stay up-to-date on breaking news, regulatory updates and Asia Briefing Publications including. We provide FREE magazines and guide, presentations, webinar, podcasta, report, Q&As and more
                          a.btn.btn-secondary.mb-2.text-white(href='personnel.html') Login/Subscribe  
            li.dropdown
              a.contact-button(href='#' data-trigger data-turn-header-white)
                | Contact Us 
                i.down-arrow
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg.hidden-md(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm.col-md.col-lg-4.col-grid
                      h2.text-capitalize.text-left.text-align-center-xs 
                        a(href='contact.html') Contact Us
                      p.text-left.text-align-center-xs
                        | We want to help you and your team succeed in our neighborhood – Asia. Please introduce yourself so that our team can connect with you.
                      a.btn.btn-secondary.text-white.content-center-xs General Inquiry 
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid
                      h3.text-left 
                        a(href='asiapedia.html') Contact our Offices
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='asiapedia-search.html') China
                        li
                          a(href='asiapedia-search.html') Belt & Road 
                        li
                          a(href='asiapedia-search.html') Initiative
                        li
                          a(href='asiapedia-search.html') Hong Kong     
                        li
                          a(href='asiapedia-search.html') India
                        li
                          a(href='asiapedia-search.html') Indonesia 
                        li
                          a(href='asiapedia-search.html') Malaysia
                        li
                          a(href='asiapedia-search.html') Philippines
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid

                      ul.list-unstyled.bullet-list.text-left.mt-3
                        li
                          a(href='asiapedia-search.html') Russia  
                        li
                          a(href='asiapedia-search.html') Singapore
                        li
                          a(href='asiapedia-search.html') Thailand    
                        li
                          a(href='asiapedia-search.html') Vietnam
                        li
                          a(href='asiapedia-search.html') Italian Liaison Offices 
                        li
                          a(href='asiapedia-search.html') German Liaison Offices
                        li
                          a(href='asiapedia-search.html') USA Liaison Offices            
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid
                      h3.text-left 
                        a(href='asiapedia.html') Join Us
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='asiapedia-search.html') Full Time Career 
                        li
                          a(href='asiapedia-search.html') Internship
                    .col-xs-12.col-sm-3.col-md-3.col-lg-2.col-grid
                      h3.text-left 
                        a(href='asiapedia.html') Engage with us
                      ul.list-unstyled.bullet-list.text-left
                        li
                          a(href='asiapedia-search.html') Follow Us 
                        li
                          a(href='asiapedia-search.html') Partner with Us 
            li.dropdown
              a(href='#' data-trigger data-turn-header-white)
                i.icon-search.ml-1
              .dropdown-content(data-dropdown)
                .btn-close.hidden-md.hidden-lg.hidden-xlg.hidden-md(data-closeBtn)
                .container
                  .grid
                    .col-xs-12.col-sm.col-md.col-lg.col-grid
                        form.form-search.material(action='https://www.dezshira.com/register', method='GET')
                            .form-field.field-group.mb-2
                                input.form-control(type='text', name='search', placeholder='Search')
                                button.btn.group-field-btn.btn-primary.btn-go(type='submit') 
                                    i.icon-search
                        ul.list-inline.list-inline-style
                          li
                            a(href='http://dezshira.in/library/search?services=168') Business Intelligence
                          li
                            a(href='http://dezshira.in/library/search?services=264') Corporate Establisment and Structuring
                          li
                            a(href='http://dezshira.in/library/search?services=423') Due Diligence
                          li
                            a(href='http://dezshira.in/library/search?services=178') Accounting
                          li
                            a(href='http://dezshira.in/library/search?services=201') HR and Payroll
                          li
                            a(href='http://dezshira.in/library/search?services=8') Tax
                          li
                            a(href='http://dezshira.in/library/search?services=178') Audit and Risk Advisory
                          li
                            a(href='http://dezshira.in/library/search?services=210') Technology
                          li
                            a(href='http://dezshira.in/library/search?services=427') Outbound Direct Investment
