header.site-header
    nav#main-nav.fixed-top
      .container
        img.logo(src='assets/img/logo.png' alt='')
        ul.list-inline.top-quick-link
          li.dropdown
            a(data-trigger)
              img(src='assets/img/icon-globe.png' alt='' width='20px')
              i.down-arrow
            .dropdown-content(data-dropdown) International Desk Content
          li.dropdown
            a(data-trigger)
              img(src='assets/img/icon-user.png' alt='' width='20px')
              i.down-arrow
            .dropdown-content(data-dropdown) Users Dropdown Content
          li
            img(src='assets/img/icon_download.png' alt='' width='20px')
        ul.navbar
          li.dropdown
            a(href='#' data-trigger data-turn-header-white)
              | About Us 
              i.down-arrow
            .dropdown-content(data-dropdown)
              .container
                .grid.align-center
                  .col-xs-3.col-md-3.col-grid
                    h1.text-capitalize About us
                    p
                      | Dezan Shira & Associates is a pan-Asia, multi-disciplinary professional services firm, providing legal, tax and operational advisory to international corporate investors.
                    a.btn.btn-secondary.text-white Read more 
                  .col-xs-3.col-md-3.col-grid          
                          .card
                              .card-header-img.zoom-on-hover
                                  a(href='https://www.dezshira.com/updates/')
                                      img.flex-img(src='https://www.dezshira.com/themes/dsa/images/industries/banner-industries.jpg')
                                  .card-text-overlap
                                      h3.text-center.text-capitalize 
                                          a(href='https://www.dezshira.com/updates/') Company News                        
                  .col-xs-3.col-md-3.col-grid          
                          .card
                              .card-header-img.zoom-on-hover
                                  a(href='https://www.dezshira.com/personnel')
                                      img.flex-img(src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')
                                  .card-text-overlap
                                      h3.text-center.text-capitalize 
                                          a(href='https://www.dezshira.com/personnel') personnel
                                      
                  .col-xs-3.col-md-3.col-grid          
                          .card
                              .card-header-img.zoom-on-hover
                                  a(href='https://www.dezshira.com/partnerships/global')
                                      img.flex-img(src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Partners-banner.jpg')
                                  .card-text-overlap
                                      h3.text-center.text-capitalize 
                                          a(href='https://www.dezshira.com/partnerships/global') partnerships
          li.dropdown
            a(href='#' data-trigger data-turn-header-white)
              | Services  
              i.down-arrow 
            .dropdown-content(data-dropdown)
              .container
                .grid
                  .col-xs-3.col-md-3.col-grid
                    h1.text-capitalize Services we offer
                    p
                      | The services provided by Dezan Shira &amp; Associates incorporate more than two decades of on-the-ground experience in Asia&rsquo;s dynamic business environment. The firm&rsquo;s services help decision makers manage the legal, tax, and operational challenges facing multinational businesses in China, ASEAN, and India.
                    a.btn.btn-secondary.text-white Conatc Us 
                  .col-xs-3.col-md-3.col-grid
                    h3.Services
                    ul.list-unstyled.bullet-list.ml-2
                      li
                        a(href='#') BI
                      li
                        a(href='#') Corp Est & Structuring
                      li
                        a(href='#')  Due Dilligence
                      li
                        a(href='#') Accounting
                      li
                        a(href='#') HR Payroll
                      li
                        a(href='#') Tax
                      li
                        a(href='#') Audit & Risk
                      li
                        a(href='#') Tech       
                      li
                        a(href='#') ODI                                               
                  .col-xs-3.col-md-3.col-grid
                    h3  Industries
                    ul.list-unstyled.list-unstyled.bullet-list
                      li
                        a(href='#') Education
                      li
                        a(href='#') Entertainment & Sports
                      li
                        a(href='#') Environment
                      li
                        a(href='#') F&B
                      li
                        a(href='#') Healthcare
                      li
                        a(href='#') IT
                      li
                        a(href='#') Manufacturing
                      li
                        a(href='#') NGO
                      li
                        a(href='#') Professional Services
                      li
                        a(href='#') Trade & E-Commerce                                                                       
                  .col-xs-3.col-md-3.col-grid
                    .card.dark-blue-bg.mb-2.p-arround-2
                        i
                          img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='200')
                        h3.pt-2.pr-2.text-white To learn more about how we can support you, contact one of our local experts.
                        p.text-white
                            | We provide professional services tailored to Asia´s business environment across the full business cycle.
                        a.btn.btn-secondary.mb-2.text-white(href='https://www.dezshira.com/personnel') Talk to experts 
          li.dropdown
            a(href='#' data-trigger data-turn-header-white)
              | Resources 
              i.down-arrow
            .dropdown-content(data-dropdown)
              .container
                .grid
                  .col-xs-3.col-md-3.col-grid
                    h1.text-capitalize Our Resources
                    p
                      | Dezan Shira & Associates is committed to developing business intelligence and understanding of investing across Asia. The firm publishes significant and well-received business titles about each of the markets and disciplines in which it operates through its publishing subsidiary, Asia Briefing Ltd.
                    a.btn.btn-secondary.text-white Conatc Us 
                  .col-xs-3.col-md-3.col-grid
                    h3.ml-2 Asiapedia
                    ul.list-unstyled.bullet-list.ml-2
                      li
                        a(href='#') Videos
                      li
                        a(href='#') Presentations
                      li
                        a(href='#')  Podcasts
                      li
                        a(href='#') Legal Documents
                      li
                        a(href='#') Industry Profiles
                                             
                  .col-xs-3.col-md-3.col-grid
                    h3  Asia Briefing
                    ul.list-unstyled.list-unstyled.bullet-list
                      li
                        a(href='#') About Asia Briefing
                      li
                        a(href='#') Magazines
                      li
                        a(href='#') Guides                                                                
                  .col-xs-3.col-md-3.col-grid
                    .card.dark-blue-bg.mb-2.p-arround-2
                        i
                          img(alt='', src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg', width='200')
                        h3.pt-2.pr-2.text-white To learn more about how we can support you, contact one of our local experts.
                        p.text-white
                            | We provide professional services tailored to Asia´s business environment across the full business cycle.
                        a.btn.btn-secondary.mb-2.text-white(href='https://www.dezshira.com/personnel') Talk to experts 
          li
            a(href='#') Events
          li.dropdown
            a(href='#' data-trigger data-turn-header-white)
              | Contact Us 
              i.down-arrow
            .dropdown-content(data-dropdown)
              .container
                .grid.align-center
                  .col-xs-3.col-md-3.col-grid
                    h1.text-capitalize Contact Us
                    p
                      | We want to help you and your team succeed in our neighborhood – Asia. Please introduce yourself so that our team can connect with you.
                    a.btn.btn-secondary.text-white Conatc Us 
                  .col-xs-3.col-md-3.col-grid          
                          .card
                              .card-header-img.zoom-on-hover
                                  a(href='https://www.dezshira.com/contact')
                                      img.flex-img(src='https://www.dezshira.com/themes/dsa/images/topics-banners/contactUSBanner.jpg')
                                  .card-text-overlap
                                      h3.text-center.text-capitalize 
                                          a(href='https://www.dezshira.com/contact') Send inquiry
                                             
                  .col-xs-3.col-md-3.col-grid          
                          .card
                              .card-header-img.zoom-on-hover
                                  a(href='https://www.dezshira.com/office')
                                      img.flex-img(src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')
                                  .card-text-overlap
                                      h3.text-center.text-capitalize 
                                          a(href='https://www.dezshira.com/office') Locations
                                      
                  .col-xs-3.col-md-3.col-grid          
                          .card
                              .card-header-img.zoom-on-hover
                                  a(href='https://www.dezshira.com/career')
                                      img.flex-img(src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')
                                  .card-text-overlap
                                      h3.text-center.text-capitalize 
                                          a(href='https://www.dezshira.com/career') Careers
          li
            i
              <img src="assets/img/icons-search.png" alt="" width="20px">