footer.site-footer
  section.pt-4.border-bottom
    .container
      .grid
          .col-xs.col-md-5.col-sm-6.col-lg-4.col-grid
            h5 Foreign Investment News for Asia Direct to Your Inbox
            form.mt-1(action='register-material.html', method='GET')
              .input-add-on
                input.input-add-on-field.padding-height(type='text', name='email', placeholder='Enter your email')
                button.input-add-on-item.padding-text Sign Up
          .col-xs.col-sm-4.col-md-3.col-lg-2.col-grid.offset-sm-2.offset-md-4.offset-lg-6
            h5 Follow Us
            ul.list-inline.social-media.mt-1
              li
                a(href='https://www.facebook.com/DezanShira', target='_blank')
                  i.sprite.sprite-facebook-icon
              li
                a(href='https://twitter.com/dezanshira', target='_blank')
                  i.sprite.sprite-twitter-icon
              li
                a(href='https://www.linkedin.com/company/51688', target='_blank')
                  i.sprite.sprite-linkdin-icon
              li
                a(href='https://www.youtube.com/channel/UCDuNrJ3qUVmxinM5i6trjtA', target='_blank')
                  i.sprite.sprite-youtube-icon
  section.pt-5
    .container
      .grid
        .col-xs.col-sm-4.col-md-2.col-lg-2.col-grid
          h5.text-uppercase ABOUT
          ul.list-unstyled.mb-0
            li
              a(href='our-firm.html') Overview
            li
              a(href='news.html') Company News
            li
              a(href='partnerships.html') Partnerships
            li
              a(href='international-desks.html') International Desk
        .col-xs.col-sm-8.col-md-6.col-lg-6.col-grid
          .grid
            .col-xs.col-sm-6.col-md-6.col-lg-6.col-grid
              h5.text-uppercase Service
              ul.list-unstyled.mb-0
                li
                  a(href='services-single-material.html') Business Intelligence
                li
                  a(href='services-single-material.html') Corporate Establishment and Structuring
                li
                  a(href='services-single-material.html') Due Diligence
                li
                  a(href='services-single-material.html') Accounting
                li
                  a(href='services-single-material.html') HR and Payroll
                li
                  a(href='services-single-material.html') Tax
                li
                  a(href='services-single-material.html') Audit and Risk Advisory
                li
                  a(href='services-single-material.html') Technology
                li
                  a(href='services-single-material.html') Outbound Direct Investment
            .col-xs.col-sm-6.col-md-6.col-lg-6.col-grid
              h5.text-uppercase Industries
              ul.list-unstyled.mb-0
                li
                  a(href='industries-single-material.html') Education
                li
                  a(href='industries-single-material.html') Entertainment &amp; Sports
                li
                  a(href='industries-single-material.html') Environment
                li
                  a(href='industries-single-material.html') F&amp;B
                li
                  a(href='industries-single-material.html') Healthcare
                li
                  a(href='industries-single-material.html') IT
                li
                  a(href='industries-single-material.html') Manufacturing
                li
                  a(href='industries-single-material.html') NGO
                li
                  a(href='industries-single-material.html') Professional Services
                li
                  a(href='industries-single-material.html')
                    | Trade &amp; E-Commerce
        .col-xs.col-sm-4.col-md-2.col-lg-2.col-grid
          h5.text-uppercase events
          ul.list-unstyled
            li
              a(href='events-single.html') Upcoming Events
            li
              a(href='events-single.html') Event Archive
            li
              a(href='events-single.html') Asia Events
            li
              a(href='events-single.html') Global Events
          h5.text-uppercase Contact
          ul.list-unstyled.mb-0
            li
              a(href='contact.html') Send Inquiry
            li
              a(href='office.html') Locations
            li
              a(href='career.html') Careers
            li
              a(href='media.html') Follow Us
        .col-xs.col-sm-4.col-md-2.col-lg-2.col-grid
          h5.text-uppercase Resources
          ul.list-unstyled
            li
              a(href='asiapedia-search.html') Videos
            li
              a(href='asiapedia-search.html') Presentations
            li
              a(href='asiapedia-search.html')  Podcasts
            li
              a(href='asiapedia-search.html') Legal Documents
            li
              a(href='asiapedia-search.html') Industry Profiles 
          h5.text-uppercase Asia Briefing    
          ul.list-unstyled
            li
              a(href='https://www.asiabriefing.com/', target='_blank') About Asia Briefing
            li
              a(href='https://www.asiabriefing.com/store/search?type_detail=magazine', target='_blank') Magazines
            li
              a(href='https://www.asiabriefing.com/store/search?type_detail=guide', target='_blank') Guides
        .col-grid
            p Dezan Shira & Associates is a pan-Asia, multi-disciplinary professional services firm, providing legal, tax, HR, technology and operational advisory to international corporate investors. Operational throughout China, ASEAN and India, our mission is to guide foreign companies through Asia’s complex regulatory environment and assist them with all aspects of establishing, maintaining and growing their business operations in the region. With more than 25 years of on-the-ground experience and a large team of lawyers, tax experts and auditors, in addition to researchers and business analysts, we are your partner for growth in Asia.
            p Hong Kong Employment Agency Licence No.: 60187    
            span.border-bottom 
      .grid.copyright
          .col-xs.col-sm-7.col-md-6.col-lg-6.col-grid
            small © 1992-2020 Dezan Shira &amp; Associates All Rights Reserved.
          .col-xs.col-sm-5.col-md-6.col-lg-6.col-grid
            ul.list-inline
              li
                a(href='contact.html') Contact Us
              li
                a(href='terms-of-use.html') Terms of Use
              li
                a(href='privacy-policy.html') Privacy Policy

a.cta-button.btn.btn-secondary.text-uppercase(href='contact.html')
  i.icon-envelope1  
  strong.hidden-sm.hidden-xs.hidden-xxs Contact Us
input#cookies-modal.cookies-modal(type='checkbox')
.cookie-modal-bar
  p
    | We use cookies to enhance your experience on our website. By using our website you agree to our use of cookies.
    span
      | Please read our 
      a(href='terms-of-use.html' target='_blank') Terms of Use
      |  for information on how we use cookies and how to manage them.
  label.close-cookies-modal.btn.btn-outline-white(for='cookies-modal')#cookiesPoligyAccept Got IT
