footer.site-footer.pt-7
    .container
      .grid
        .col-xs.col-sm-4.col-md-2.col-lg-2.col-grid
          h4.text-uppercase ABOUT
          ul.list-unstyled
            li
              a(href='#') Overview
            li
              a(href='#') Company News
            li
              a(href='#') Partnerships
            li
              a(href='#') International Desk
        .col-xs.col-sm-8.col-md-6.col-lg-6.col-grid
          .grid
            .col-xs.col-sm-6.col-md-6.col-lg-6.col-grid
              h4.text-uppercase Service
              h4 Services we offer
              ul.list-unstyled
                li
                  a(href='http://dezshira.in/services/business-intelligence-solutions') Business Intelligence
                li
                  a(href='http://dezshira.in/services/business-advisory') Corporate Establishment and Structuring
                li
                  a(href='http://dezshira.in/services/legal-financial-due-diligence') Due Diligence
                li
                  a(href='http://dezshira.in/services/accounting-reporting') Accounting
                li
                  a(href='http://dezshira.in/services/payroll-human-resource-administration') HR and Payroll
                li
                  a(href='http://dezshira.in/services/tax') Tax
                li
                  a(href='http://dezshira.in/services/audit-financial-review') Audit and Risk Advisory
                li
                  a(href='http://dezshira.in/services/information-technology-solutions') Technology
                li
                  a(href='http://dezshira.in/services/outbound-direct-investment') Outbound Direct Investment
            .col-xs.col-sm-6.col-md-6.col-lg-6.col-grid
              h4 Industries
              ul.list-unstyled
                li
                  a(href='industries-single.html') Education
                li
                  a(href='industries-single.html') Entertainment &amp; Sports
                li
                  a(href='industries-single.html') Environment
                li
                  a(href='industries-single.html') F&amp;B
                li
                  a(href='industries-single.html') Healthcare
                li
                  a(href='industries-single.html') IT
                li
                  a(href='industries-single.html') Manufacturing
                li
                  a(href='industries-single.html') NGO
                li
                  a(href='industries-single.html') Professional Services
                li
                  a(href='industries-single.html')
                    | Trade &amp; E-Commerce
        .col-xs.col-sm-4.col-md-2.col-lg-2.col-grid
          h4.text-uppercase Resources
          h4 Asiapedia
          ul.list-unstyled
            li
              a(href='asiapedia-search.html') Videos
            li
              a(href='asiapedia-search.html') Presentations
            li
              a(href='asiapedia-search.html')  Podcasts
            li
              a(href='asiapedia-search.html') Legal Documents
            li
              a(href='asiapedia-search.html') Industry Profiles 
          h4 Asia Briefing
          ul.list-unstyled.list-unstyled.bullet-list.text-left
            li
              a(href='https://www.asiabriefing.com/', target='_blank') About Asia Briefing
            li
              a(href='https://www.asiabriefing.com/store/search?type_detail=magazine', target='_blank') Magazines
            li
              a(href='https://www.asiabriefing.com/store/search?type_detail=guide', target='_blank') Guides
  
        .col-xs.col-sm-4.col-md-2.col-lg-2.col-grid
          h4.text-uppercase events
          ul.list-unstyled
            li
              a(href='#') Upcoming Events
            li
              a(href='#') Event Archive
            li
              a(href='#') Asia Events
            li
              a(href='#') Global Events
          h4.text-uppercase Contact
          ul.list-unstyled
            li
              a(href='#') Send Inquiry
            li
              a(href='#') Locations
            li
              a(href='#') Careers
            li
              a(href='#') Follow Us
      .grid
          .col-xs.col-md-6.col-sm-7.col-lg-4.col-grid
            h4 Foreign Investment News for Asia Direct to Your Inbox
            form.mt-1(action='register.html', method='GET')
              .input-add-on
                input.input-add-on-field.padding-height(type='text', name='email', placeholder='Enter your email')
                button.input-add-on-item.padding-text Sign Up
          .col-xs.col-sm-4.col-md-4.col-lg-4.col-grid
            h4 Follow Us
            ul.list-inline.social-media.mt-1
              li
                a(href='https://www.facebook.com/DezanShira', target='_blank')
                  i.sprite.sprite-facebook-icon
              li
                a(href='https://twitter.com/dezanshira', target='_blank')
                  i.sprite.sprite-twitter-icon
              li
                a(href='https://www.linkedin.com/company/51688', target='_blank')
                  i.sprite.sprite-linkdin-icon
              li
                a(href='https://www.youtube.com/channel/UCDuNrJ3qUVmxinM5i6trjtA', target='_blank')
                  i.sprite.sprite-youtube-icon
          .col-grid
            p Dezan Shira &amp; Associates is a pan-Asia, multi-disciplinary professional services firm, providing legal, tax and operational advisory to international corporate investors. Operational throughout China, ASEAN and India, our mission is to guide foreign companies through Asia’s complex regulatory environment and assist them with all aspects of establishing, maintaining and growing their business operations in the region. With more than 25 years of on-the-ground experience and a large team of lawyers, tax experts and auditors, in addition to researchers and business analysts, we are your partner for growth in Asia.
            p Hong Kong Employment Agency Licence No.: 60187    
            span.border-bottom 
      .grid.copyright
          .col-xs.col-sm.col-md-6.col-lg-6.col-grid
            small © 1992-2019 Dezan Shira &amp; Associates All Rights Reserved.
          .col-xs.col-sm.col-md-6.col-lg-6.col-grid
            ul.list-inline
              li
                a(href='our-firm.html') About Us
              li
                a(href='contact.html') Contact Us
              li
                a(href='terms-of-use.html') Terms of Use
              li
                a(href='privacy-policy.html') Privacy Policy

a.cta-button.btn.btn-secondary.text-uppercase(href='http://dezshira.in/contact')
  i.icon-envelope1  
  strong.hidden-sm.hidden-xs.hidden-xxs Contact Us
input#cookies-modal.cookies-modal(type='checkbox')
.cookie-modal-bar
  p
    | We use cookies to enhance your experience on our website. By using our website you agree to our use of cookies.
    span
      | Please read our 
      a(href='https://www.dezshira.com/terms-of-use.html' target='_blank') Terms of Use
      |  for information on how we use cookies and how to manage them.
  label.close-cookies-modal.btn.btn-outline-white(for='cookies-modal')#cookiesPoligyAccept Got IT
