doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')    
        .container
            .grid.align-end
                .col-sm-12.col-md-12.col-grid
                    h1 Investor Resources       
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-8.col-md-8.col-grid
                    p
                         | Asia Briefing is a wholly owned subsidiary of Dezan Shira & Associates, a specialist foreign direct investment practice with a pan-Asia presence. 
                    .col-sm-12.col-md-12.col-lg-12
                        a(href='http://www.asiabriefing.com', target='_blank')
                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB.png', alt='')

                    p
                        | Asia Briefing was founded in 1999 as a complimentary service. The publication house produces articles, magazines, and guides on doing business in China, Vietnam, ASEAN, Indonesia, India, Russia, and the Silk Road. It publishes business news and analysis, particularly as it relates to foreign direct investment and related legal, tax, and operational concerns. 
                    ul.list-inline
                        .col-sm-6.col-md-6.col-lg-6
                            a(href='http://www.aseanbriefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/ASB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            a(href='http://www.china-briefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/CB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            a(href='https://www.india-briefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/IB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            a(href='http://www.vietnam-briefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/VB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            a(href='http://www.indonesiabriefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/INDOB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            a(href='https://www.russia-briefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/RB.png', alt='')
                        .col-sm-6.col-md-6.col-lg-6
                            a(href=' https://www.silkroadbriefing.com', target='_blank')
                                img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/SKB.png', alt='')


                    p
                        | Asia Briefing subscription is free and provides you with the Asia Briefing Weekly, a roundup of the latest business news and analysis from across the region. 
                               
                            

                .col-sm-4.col-md-4.col-grid
                        .card.contact-us.p-arround-3.mb-2
 
                                h3.pt-3.pr-2.text-white To learn more about how we can support you, contact one of our local experts.
                                p.text-white
                                    | We provide professional services tailored to Asia´s business environment across the full business cycle.
                                a.btn.btn-outline-white.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
                        .card.light-blue-bg.mt-2.mb-2.p-arround-2
                                a(href='https://www.dezshira.com/brochure')
                                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Download.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                                p
                                    a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                                h3
                                    a(href='https://www.dezshira.com/brochure')
                                        | Get access to our Asiapedia resource, magazines and guides, as well as our monthly newsletter                                      
                        
                        // /flyersBrochures

                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='600', href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                        a(name='mini_contact_form')
    section.light-blue-bg.pt-3.pb-3
        .container
            .grid
                .col-sm-2.col-md-2.col-grid.offset-md-1.offset-sm-1.offset-lg-1
                    a(href='https://www.dezshira.com/register.html')
                        img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png')
                .col-sm-8.col-md-8.col-grid
                    h4.pt-2 SUBSCRIBE
                    h1
                        a(href='https://www.dezshira.com/register.html')
                        | Join over thousands of people who receive weekly foreign investment news in Asia

    include components/_footer