doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header-blueV2
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/banner-asiapedia.jpg')    
        .container
            .grid.align-end
                .col-sm-8.col-md-8.col-grid.offset-md-2.offset-sm-2.offset-lg-2.text-center
                    h1 Asiapedia Resources Search       
    section.pt-150.pb-7.dark-blue-bg
        .container
            form(action='https://www.dezshira.com/events/search', method='GET')
                .grid
                    
                            .col-sm-3
                                <input class="input-add-on-field" type="text" name="email" placeholder="Search by keyword">
                            .col-sm-2

                                select.form-control.radius-none(id='', name='location')
                                    option(value='', selected='selected') Countries
                                    option(value='asia') Asia
                                    option(value='china') China
                                    option(value='india') India
                                    option(value='vietnam') Vietnam
                                    option(value='hong-kong') Hong Kong
                                    option(value='singapore') Singapore
                                    option(value='europe') Europe
                                    option(value='north-america') North America
                                    option(value='central-and-latin-america') Central &amp; Latin America
                                    option(value='oceania') Oceania
                                    option(value='middle-east') Middle East
                                    option(value='africa') Africa
                            .col-sm-2

                                select(id='', name='language')
                                    option(value='', selected='selected') Topics
                                    option(value='english') English
                                    option(value='german') German
                                    option(value='italian') Italian
                                    option(value='spanish') Spanish
                                    option(value='french') French
                                    option(value='chinese') chinese
                            .col-sm-2

                                select(id='', name='status')
                                    option(value='', selected='selected') Type
                                    option(value='upcoming') Upcoming
                                    option(value='past') Past
                            .col-sm-2

                                select(id='', name='status')
                                    option(value='', selected='selected') Language
                                    option(value='upcoming') Upcoming
                                    option(value='past') Past                                    
                            .col-sm-1
                                button.btn.btn-secondary(type='submit')
                                    i.icon-search 
                            .col-sm-12.col-md-12.col-grid
                                ul.list-inline.list-inline-style
                                    li
                                        a(href='asiapedia-search.html') Business Intelligence
                                    li
                                        a(href='asiapedia-search.html') Corporate Establisment and Structuring
                                    li
                                        a(href='asiapedia-search.html') Due Diligence
                                    li
                                        a(href='asiapedia-search.html') Accounting
                                    li
                                        a(href='asiapedia-search.html') HR and Payroll
                                    li
                                        a(href='asiapedia-search.html') Tax
                                    li
                                        a(href='asiapedia-search.html') Audit and Risk Advisory
                                    li
                                        a(href='asiapedia-search.html') Technology
                                    li
                                        a(href='asiapedia-search.html') Outbound Direct Investment                                  
    section.pt-7.pb-7.grey
            .container
                .grid
                    .col-sm.col-md-6.col-lg-6.col-grid
                        h2 Featured Resources
                        div
                            a.btn.btn-secondary.mt-2(target='_top', href='register-material.html') Subscribe Today
                    .col-sm.col-md-6.col-lg-6.col-grid
                        ul.list-inline.text-right.list-inline-icons.mt-7
                            li
                                a(href='#') 
                                    i.icon-industry
                            li 
                                a(href='#') 
                                    i.icon-justice
                            li 
                                a(href='#') 
                                    i.icon-book
                            li 
                                a(href='#') 
                                    i.icon-bar-chart-o   
                            li 
                                a(href='#') 
                                    i.icon-file-text-o  
                            li
                                a(href='#') 
                                    i.icon-play-circle
                            li
                                a(href='#') 
                                    i.icon-newspaper
                            li
                                a(href='#') 
                                    i.icon-help-with-circle                                                                                                                                                                          
                .grid
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                        .card.featured-resources
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body
                                h3.text-left
                                    a(href='asiapedia-single.html') China Regulatory Watch – September 2, 2019
                                small.text-muted September 2019
                                p
                                    | This week's episode will cover the naming of 6 new free trade zone locations, a two-step customs declaration and a few more headlines that caught our attention.
                            .card-footer
                                small Free   
                                ul.list-inline.text-right.list-inline-icons.float-right
                                    li
                                        a(href='#') 
                                            i.icon-industry
                                    li 
                                        a(href='#') 
                                            i.icon-justice 
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                        .card.featured-resources
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body
                                h3.text-left
                                    a(href='asiapedia-single.html') Market Entry Options for Foreign Companies in India 
                                small.text-muted August 2019
                                p
                                    | Watch this webinar to understand the different entity models available to structure your India business and the recent regulatory reforms that have taken place to improve the ease of doing business in India.
                            .card-footer
                                small Free   
                                ul.list-inline.text-right.list-inline-icons.float-right
                                    li
                                        a(href='#') 
                                            i.icon-industry
                                    li 
                                        a(href='#') 
                                            i.icon-justice 
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                        .card.featured-resources
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Resources/8400/China-Briefing-Investing-in-ChinaCus-Economic-Development-Zones.jpg')
                            .card-body
                                h3.text-left
                                    a(href='asiapedia-single.html') Case Study: Education Sector in China                            
                                small.text-muted August 2019
                                p
                                    | For foreign investors in the education industry, there are a number of restrictions on investments; many organizations operate in the market through joint-ventures or programs with local partners. It is not uncommon for this reliance on external shar...
                            .card-footer
                                small Free   
                                ul.list-inline.text-right.list-inline-icons.float-right
                                    li
                                        a(href='#') 
                                            i.icon-industry
                                    li 
                                        a(href='#') 
                                            i.icon-locked                                     
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                            .card.featured-resources
                                .card-header-img.zoom-on-hover
                                    a(href='asiapedia-single.html')
                                        img(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-presentation.jpg')
                                .card-body
                                    h3.text-left
                                        a(href='asiapedia-single.html')       Leveraging Vietnam's Free Trade Agreements
                                    small.text-muted August 2019
                                    p
                                        | On August 22, our Business Intelligence Manager, Maxfield Brown, hosted a webinar discussing Vietnam’s free trade agreement network and how to leverage the country’s rules of origin to reduce tariffs.
                                .card-footer
                                    small Free   
                                    ul.list-inline.text-right.list-inline-icons.float-right
                                        li
                                            a(href='#') 
                                                i.icon-industry
                                        li 
                                            a(href='#') 
                                                i.icon-justice  
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                        .card.featured-resources
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body
                                h3.text-left
                                    a(href='asiapedia-single.html') China Regulatory Watch – September 2, 2019
                                small.text-muted September 2019
                                p
                                    | This week's episode will cover the naming of 6 new free trade zone locations, a two-step customs declaration and a few more headlines that caught our attention.
                            .card-footer
                                small Free   
                                ul.list-inline.text-right.list-inline-icons.float-right
                                    li
                                        a(href='#') 
                                            i.icon-industry
                                    li 
                                        a(href='#') 
                                            i.icon-locked   
                    .col-sm-6.col-md-3.col-grid
                        .card.featured-resources
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body
                                h3.text-left
                                    a(href='asiapedia-single.html') Market Entry Options for Foreign Companies in India 
                                small.text-muted August 2019
                                p
                                    | Watch this webinar to understand the different entity models available to structure your India business and the recent regulatory reforms that have taken place to improve the ease of doing business in India.
                            .card-footer
                                small Free   
                                ul.list-inline.text-right.list-inline-icons.float-right
                                    li
                                        a(href='#') 
                                            i.icon-industry
                                    li 
                                        a(href='#') 
                                            i.icon-locked   
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                        .card.featured-resources
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Resources/8400/China-Briefing-Investing-in-ChinaCus-Economic-Development-Zones.jpg')
                            .card-body
                                h3.text-left
                                    a(href='asiapedia-single.html') Case Study: Education Sector in China                            
                                small.text-muted August 2019
                                p
                                    | For foreign investors in the education industry, there are a number of restrictions on investments; many organizations operate in the market through joint-ventures or programs with local partners. It is not uncommon for this reliance on external shar...
                            .card-footer
                                small Free   
                                ul.list-inline.text-right.list-inline-icons.float-right
                                    li
                                        a(href='#') 
                                            i.icon-industry
                                    li 
                                        a(href='#') 
                                            i.icon-justice                                    
                    .col-sm-6.col-md-4.col-lg-3.col-grid
                            .card.featured-resources
                                .card-header-img.zoom-on-hover
                                    a(href='asiapedia-single.html')
                                        img(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-presentation.jpg')
                                .card-body
                                    h3.text-left
                                        a(href='asiapedia-single.html')       Leveraging Vietnam's Free Trade Agreements
                                    small.text-muted August 2019
                                    p
                                        | On August 22, our Business Intelligence Manager, Maxfield Brown, hosted a webinar discussing Vietnam’s free trade agreement network and how to leverage the country’s rules of origin to reduce tariffs.
                                .card-footer
                                    small Free   
                                    ul.list-inline.text-right.list-inline-icons.float-right
                                        li
                                            a(href='#') 
                                                i.icon-industry
                                        li 
                                            a(href='#') 
                                                i.icon-justice  
                ul.pagination.mt-3
                    li.active
                        a(href='asiapedia-search.html') 1
                    li
                        a(href='asiapedia-search.html') 2
                    li
                        a.active(href='asiapedia-search.html') 3
                    li
                        a(href='asiapedia-search.html') 4
                    li
                        a(href='asiapedia-search.html') 5
                    li
                        a(href='asiapedia-search.html') 6
                    li
                        a(href='asiapedia-search.html') 7
                    li
                        a(href='asiapedia-search.html') Last                            
                a.btn.btn-secondary(target='_top', href='asiapedia.html') Back to Asiapedia Home

    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 