doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/brochures/Download-brochure-Background.jpg')    
        .container
            .grid.align-end
                .col-sm-8.col-md-8.col-grid.offset-sm-2.offset-md-2.offset-lg-2.text-center
                    h1 Download Brochure
                    h4  Learn more about how we can support your business in Asia
                    a.btn.btn-secondary.mt-2.block-center(href='#CTA_form') Contact us for more information
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-6.col-md-4.col-lg-4.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com//services/business-intelligence-solutions')
                                img(src='https://www.dezshira.com/themes/dsa/images/brochures/business-intelligence-solutions.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                    a(href='https://www.dezshira.com//services/business-intelligence-solutions') Business Intelligence
                        .card-body
                            ul.list-unstyled.bullet-list
                                li
                                    a(href='https://www.dezshira.com/brochure_download_status/services~BI?8', target='_blank') Location Analysis and Site
                        .card-footer.text-center
                            a(target='_top', href='#')
                                | Read more 
                                i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com//services/business-advisory')
                                img(src='https://www.dezshira.com/themes/dsa/images/brochures/legal-financial-due-diligence.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3                                
                                    a(href='https://www.dezshira.com//services/business-advisory') Corporate Establishment and Structuring
                        .card-body
                            ul.list-unstyled.bullet-list
                                li
                                    a(href='https://www.dezshira.com/brochure_download_status/services~DD brochure-Legal, Financial, and HR Due Diligence?7', target='_blank') Legal, Financial, and HR Due Diligence 
                        .card-footer.text-center
                            a(target='_top', href='#')
                                | Read more 
                                i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com//services/business-advisory')
                                img(src='https://www.dezshira.com/themes/dsa/images/brochures/legal-financial-due-diligence.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                    a(href='https://www.dezshira.com//services/business-advisory') Due Diligence
                        .card-body
                            ul.list-unstyled.bullet-list
                                li
                                    a(href='https://www.dezshira.com/brochure_download_status/services~Audit brochure-Internal Audit, Risk and Compliance?2', target='_blank') Internal Audit, Risk and Compliance 
                        .card-footer.text-center
                            a(target='_top', href='#')
                                | Read more 
                                i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//services/payroll-human-resource-administration')
                                    img(src='https://www.dezshira.com/themes/dsa/images/brochures/payroll-human-resource-administration.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//services/payroll-human-resource-administration') HR and Payroll
                            .card-body
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~Human%20Resources%20Payroll%20-%20Global%20Mobility%20Service?7', target='_blank') Global Mobility Service 
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~Human%20Resources%20Payroll%20brochure-Payroll?3', target='_blank') Human Resources & Payroll - Payroll                                                        
                            .card-footer.text-center
                                a(target='_top', href='#')
                                    | Read more 
                                    i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//services/tax')
                                    img(src='https://www.dezshira.com/themes/dsa/images/brochures/tax.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//services/tax') Tax
                            .card-body
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~China%20Outbound%20Direct%20Investment-CN?5', target='_blank') China Outbound Direct Investment-CN中文
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~China%20Outbound%20Direct%20Investment%20to%20France-CN?9', target='_blank') China Outbound Direct Investment to France-CN中文                                                        
                            .card-footer.text-center
                                a(target='_top', href='#')
                                    | Read more 
                                    i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//services/audit-financial-review')
                                    img(src='https://www.dezshira.com/themes/dsa/images/brochures/audit-financial-review.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//services/audit-financial-review') Audit and Risk Advisory    
                            .card-body
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~Tax%20brochure-International%20Tax%20and%20cross%20border%20transactions?6', target='_blank') International Tax and Cross Border Transaction
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~Tax%20brochure-Transfer%20pricing?5', target='_blank') Transfer pricing                                                       
                            .card-footer.text-center
                                a(target='_top', href='#')
                                    | Read more 
                                    i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//services/information-technology-solutions')
                                    img(src='https://www.dezshira.com/themes/dsa/images/brochures/information-technology-solutions.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//services/information-technology-solutions') Technology   
                            .card-body
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~IT-Cloud%20Application%20Design?4', target='_blank') Cloud Application Design
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/services~IT-Cloud%20Migration?2', target='_blank') Cloud Migration                                                       
                            .card-footer.text-center
                                a(target='_top', href='#')
                                    | Read more 
                                    i.down-arrow
                .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//services/outbound-direct-investment')
                                    img(src='https://www.dezshira.com/themes/dsa/images/brochures/outbound-direct-investment.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//services/outbound-direct-investment') Outbound Direct Investment    
                            .card-body                              
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/industries~DSA-Manufacturing-Brochure?4', target='_blank') Industry: Manufacturing
                                    li
                                        a(href='https://www.dezshira.com/brochure_download_status/industries~NGO-NPO-and-Foundations-Brochure?8', target='_blank') Industry: NGOs, Non-Profits, and Foundations                                                       
                            .card-footer.text-center
                                a(target='_top', href='#')
                                    | Read more 
                                    i.down-arrow                                           
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 