doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header  
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-7.col-lg-7.col-grid
                    h1 Careers
                    p Working at Dezan Shira & Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.        
    section.pt-150.pb-7
        .container
            h1.text-center.mt-3.mb-4 Featured Offers
            .grid
                .col-sm.col-md-4.col-lg-4.col-grid
                    .card.featured-offers
                        .card-body
                            h3
                                a(href='career-single.html') Marketing Assistant, Spanish Desk
                            p.mb-1 
                                 | Assistant (Intern) | Marketing
                            p.text-muted.mb-0 Shanghai | China
                .col-sm.col-md-4.col-lg-4.col-grid
                    .card.featured-offers
                        .card-body                
                            h3
                                a(href='career-single.html') International Business Advisory Assistant, Spanish Desk
                            p.mb-1 
                                 | Assistant (Intern) | International Business Advisory
                            p.text-muted.mb-0 Shanghai | China
                .col-sm.col-md-4.col-lg-4.col-grid
                    .card.featured-offers
                        .card-body                
                            h3
                                a(href='career-single.html') Marketing Assistant, Spanish Desk
                            p.mb-1 
                                 | Assistant (Intern) | Marketing
                            p.text-muted.mb-0 Shanghai | China 
    section.grey-bg
            .grid
                .col-sm-12.col-md-6.col-lg-6.col-grid.col-bleed-x.col-bleed-y
                    .card.pt-7.pb-7.pl-7.pr-7               
                        h2 Internship program
                        p Find your fit in an environment where you can explore new skills and interests. We offer a flexible internship for personal and professional growth.
                        a.btn.btn-outline-dark(href='career-search.html', role='button') See Offer
                .col-sm-12.col-md-6.col-lg-6.col-grid.col-bleed-x.col-bleed-y
                    .card.full-time-jobs.pt-7.pb-7.pl-7.pr-7              
                        h2.text-white Full time jobs
                        p.text-white Make your next move with a growing team of entrepreneurial professionals from across the world. We provide the platform for success. 
                        a.btn.btn-outline-white(href='career-search.html', role='button') See Offer                                                              
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-6.col-lg-6.offset-md-3.offset-lg-3
                    h1.text-center Our Core Values
                    p.text-center We are motivated by our core values. These values have enabled our continued success as trusted advisors for international businesses across Asia.
            .grid
                .col-sm.col-md-4.col-lg-4.col-grid
                    h2
                        a(href='#') Innovation and Creativity
                    p We are always looking to expand our boundaries, knowing that an environment of sharing and collaboration will foster the continual development of our practice.
                .col-sm.col-md-4.col-lg-4.col-grid
                    h2
                        a(href='#')  Ethics
                    p We act with highest standards of personal and professional integrity; our business is run honestly, without cutting corners.
                .col-sm.col-md-4.col-lg-4.col-grid
                    h2
                        a(href='#') Cultural Diversity
                    p Our clients come from all over the world, and so do we. We are proud to attract and retain diverse talent to ensure our offices have multiple perspectives and global insight.
                .col-sm.col-md-4.col-lg-4.col-grid
                    h2
                        a(href='#') Diligence
                    p We love what we do, and our commitment to quality means that we approach our work with unmatched enthusiasm and dedication, to our people and to our clients.                       
                .col-sm.col-md-4.col-lg-4.col-grid
                    h2
                        a(href='#')  Perseverance
                    p We know that the best solutions don’t always come easily. Our employees are empowered to challenge their assumptions in an environment where they have the freedom to reach their full potential.
                .col-sm.col-md-4.col-lg-4.col-grid
                    h2
                        a(href='#')  Prudence
                    p We take our work seriously, which is why our clients feel confident that we will provide sound advice in increasingly complex emerging markets.
    section.pt-7.pb-7.grey-bg
        .container
            .grid
                .col-sm.col-md-6.col-lg-6.col-grid
                    h2 Meet Our People
                    p Since its establishment in 1992, Dezan Shira & Associates has grown into one of Asia's most versatile full-service consultancies with operational offices across China, Hong Kong, India, Singapore and Vietnam as well as liaison offices in Italy and the United States. By joining our international team, you will be one of many business professionals committed to improving the understanding and transparency of investing in emerging Asia.
                    div
                        a.btn.btn-outline-dark(href='#', role='button') See Testimonies
                .col-sm.col-md-6.col-lg-6.col-grid 
                    img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/career/slide1.jpg')
    section.banner.top-postion-0
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/Resources-Foreign-Investors.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-grid.offset-md-2.offset-lg-2.text-center
                    h2.text-uppercase Get in touch
                    p.mb-0 We want to connect with professionals that have a diverse array of experiences, skills, and goals. Log-in to our career portal so that we can start a conversation.
                    ul.list-inline
                        li
                            a.btn.btn-secondary.mt-2.block-center(href='login.html')  Log in now 
                        li
                            a.btn.btn-outline-white.mt-2.block-center(href='register.html')  SIGN UP                        
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-4.col-lg-4.col-grid
                    .card.testimonial
                        .card-body
                            p “ For a company that values talent and provides the environment for it to be developed, putting in hard work and taking your career seriously would ensure that your roles and responsibilities will grow each year. ” 
                    ul.list.lists-img-thumbnail
                        li
                            a(href='https://www.dezshira.com/library/qa/alojamiento-sitio-web-china.html', target='_blank')
                                img.mr-2.img-circle(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Hannah_Feng200200.jpg', scale='0', width='80')
                            .list-content
                                h5 Hannah Feng
                                small.text-muted Senior Manager | Corporate Accounting Services | Beijing                                     
                            .clearfix
                .col-sm.col-md-4.col-lg-4.col-grid
                    .card.testimonial
                        .card-body                
                            p “ I am very proud of my Dalian HR and payroll team, which has grown to be more proficient in coping with the demands of clients from multinational backgrounds. ” 
                    ul.list.lists-img-thumbnail
                        li
                            a(href='https://www.dezshira.com/library/qa/alojamiento-sitio-web-china.html', target='_blank')
                                img.mr-2.img-circle(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Helen_kong_200x200.jpg', scale='0', width='80')
                            .list-content
                                h5 Helen Kong
                                small.text-muted Manager | Human Resources | Dalian Office         
                            .clearfix                                        
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 