doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header  
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')    
        .container
            .grid.align-end
                .col-sm-7.col-md-7.col-grid
                    h1 Careers
                    h4 Working at Dezan Shira & Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.        
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-9.col-grid
                        h2.page-title Marketing Assistant, Spanish Desk
                        .col-sm-12.col-md-12.col-lg-12.grey-bg.p-arround-3.mb-3.mt-2
                            h5.text-muted
                                strong Location:
                                |  China, Shanghai 
                                br
                                strong Function:
                                |  Marketing 
                                br
                                strong Role:
                                |  Assistant (Intern)
                            a.btn.btn-outline-dark.mt-3(href='#', role='button') Internship
                        h4
                            strong Providing assistance on the Spanish Desk:
                        ul
                            li
                                | Conducting research on legal, tax and finance matters in China and in the wider Asia region.
                            li
                                | Writing articles in Spanish and/or English related to foreign direct investment (FDI) in Asia region and outbound direct investment (ODI) from China to Spanish-speaking countries.
                            li Producing other forms of marketing content as required.
                            li
                                | Translating existing articles and existing marketing material from English into Spanish.
                            li
                                | Assistance with the management of existing relationships with Spanish Desk partners and clients.
                            li
                                | Assistance with the development of new relationships with potential Spanish Desk partners and potential Spanish Desk clients.
                            li
                                | Applicants must meet the requirements to work as an intern pursuant to the country where they will be hosted.
                        h4
                            strong Providing assistance on the Marketing team:
                        p
                            | Assist with the marketing of Dezan Shira &amp; Associates and Asia Briefing services and products
                        ul
                            li
                                | Coordinate, develop and maintain relationships with partners and improve media relations
                            li
                                | Organize and coordinate marketing campaigns and activities, including but not limited to events, media sponsorships, multimedia and syndication
                            li Tracking and analysis of marketing efforts and strategies
                            li Improve publication distribution channels and database
                            li Keep abreast of the latest China regulatory issues
                            li Assisting internal HR and administrative projects
                        .clearfix
                        p
                            em
                                | If you have any interests in this position, please kindly send your cover letter and resume to 
                                strong
                                a(href='mailto:lorena.miera@dezshira.com') lorena.miera@dezshira.com
                        hr
                        ul.list-inline.mt-3
                            li
                                a.btn.btn.btn-outline-dark(href='login.html') LOGIN TO APPLY
                            li
                                a.btn.btn-secondary(href='register.html', target='_blank') CREATE AN ACCOUNT
                        .clearfix                     
                .col-sm-12.col-md-3.col-grid
                    h4.section-title Other openings in China 
                    ul.list
                        li
                            h4 
                                a(href='career-single.html') International Business Advisory Assistant, Spanish Desk
                            h5 Assistant (Intern) | International Business Advisory
                            h6.text-muted Shanghai
                        li
                            h4 
                                a(href='career-single.html') Marketing Assistant
                            h5 Assistant (Intern) | Marketing
                            h6.text-muted Shanghai  
                        li
                            h4 
                                a(href='career-single.html') Global Business Development Assistant role (Shanghai)
                            h5 Assistant (Intern) | International Business Advisory
                            h6.text-muted Shanghai
                        li
                            h4 
                                a(href='career-single.html') Global Business Development Assistant role (Shanghai), Russian speaking
                            h5 Assistant (Intern) 
                            h6.text-muted Shanghai 
                        li
                            h4 
                                a(href='career-single.html') Marketing & Operation Assistant (China)
                            h5 Assistant (Intern) | Marketing
                            h6.text-muted Beijing, Shanghai, Shenzhen, Guangzhou                                                                                                                                                                           
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 