doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header  
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg')    
        .container
            .grid.align-end
                .col-sm-7.col-md-7.col-grid
                    h1 Careers
                    p Working at Dezan Shira & Associates is about growth. That means developing skills, making a difference, and achieving goals to help colleagues and clients reach new heights.        
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-8.col-lg-8.col-grid
                        h4.section-title.mb-3 OPEN POSITIONS
                        form(action='https://www.dezshira.com/events/search', method='GET')
                            .p-arround-2.border.mb-4
                                .grid
                                    .col-md-3.col-lg-3
                                        label Location
                                        select(name='location')
                                            option(value='')  Any 
                                            option(value='china')  China 
                                            option(value='hongkong')  Hong Kong 
                                            option(value='india')  India 
                                            option(value='vietnam')  Vietnam 
                                            option(value='singapore')  Singapore 
                                            option(value='other-regions')  Other Regions 
                                    .col-md-3.col-lg-3
                                        label Function
                                        select(name='function')
                                            option(value='') All
                                            option(value='Asia Briefing Editorial') Asia Briefing Editorial
                                            option(value='International Business Advisory') International Business Advisory
                                            option(value='Marketing') Marketing
                                            option(value='Business Advisory Services') Business Advisory Services
                                            option(value='Corporate Accounting Services') Corporate Accounting Services
                                            option(value='IT') IT
                                            option(value='HR & Administration') HR &amp; Administration
                                    .col-md-3.col-lg-3
                                        label Role
                                        select(name='role')
                                                option(value='') Any
                                                option(value='Assistant (Intern)') Assistant (Intern)
                                                option(value='Associate') Associate
                                                option(value='Manager') Manager
                                                option(value='Director') Director
                                                option(value='Research & Editorial') Research &amp; Editorial
                                    .col-md-3.col-lg-3
                                        label Type
                                        select(name='type')
                                            option(value='', selected='selected') All
                                            option(value='intern') Intern
                                            option(value='permanent', selected='') Permanent                                          
                                    .col-md-12.col-lg-12.text-right
                                        button.btn.btn-primary(type='submit') Search

                        ul.list.list-content
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                            li
                                a.btn.btn-outline-dark.float-right.ml-2(href='#', role='button') Full time
                                h3.mb-1
                                    a(href='career-single.html') Contributing Editors, Researchers and Analysts
                                p.mb-0
                                    strong 
                                        |Research &amp; Editorial | Asia Briefing Editorial
                                p.mb-0.text-muted All Offices | Other-regions
                        .clearfix                     
                .col-sm-12.col-md-4.col-lg-4.col-grid
                    h4.section-title FEATURED POSITIONS  
                    ul.list.list-content
                        li
                            h4
                                a(href='career-single.html') Global Business Development Assistant role (Shanghai)
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | International Business Advisory
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') Editorial Assistant (Singapore)
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Asia Briefing Editorial
                            p.mb-0.text-muted Singapore | Singapore
                        li
                            h4
                            a(href='career-single.html') Editorial Assistant (China)
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Asia Briefing Editorial
                            p.mb-0.text-muted Dalian/Beijing/Shanghai/Shenzhen | China
                        li
                            h4
                                a(href='career-single.html') Global Business Development Assistant role (Shanghai), Russian speaking
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | 
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') Marketing &amp; Operation Assistant (China)
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Marketing
                            p.mb-0.text-muted.text-muted Beijing, Shanghai, Shenzhen, Guangzhou | China
                        li
                            h4
                                a(href='career-single.html') Senior Accounting &amp; Tax Manager
                            p.mb-0
                                strong 
                                    | Manager | Corporate Accounting Services
                            p.mb-0.text-muted.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') International Business Advisory Assistant (French Speaking)
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Asia Briefing Editorial
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                            a(href='career-single.html') Assistant Manager, Business Intelligence
                            p.mb-0
                                strong 
                                    | Manager | Business Intelligence
                            p.mb-0.text-muted Ho Chi Minh City | Vietnam
                        li
                            h4
                                a(href='career-single.html') Junior Associate, Business Advisory Service
                            p.mb-0
                                strong 
                                    | Associate | Business Advisory Services
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') Senior Associate, Business Advisory Service
                            p.mb-0
                                strong 
                                    | Associate | Business Advisory Services
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                            a(href='career-single.html') International Business Advisory Intern (German Speaking)
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | International Business Advisory
                            p.mb-0.text-muted Shanghai, Beijing, Qingdao | China
                        li
                            h4
                                a(href='career-single.html') Specialist of Business Advisory Services Department &#x6CD5;&#x5F8B;&#x90E8;&#x4E13;&#x5458;
                            p.mb-0
                                strong 
                                    | Associate | Business Advisory Services
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') Dynamics 365 CRM - Sr. Developer
                            p.mb-0
                                strong 
                                    | Associate | Marketing
                            p.mb-0.text-muted Delhi | India
                        li
                            h4
                                a(href='career-single.html') International Business Advisory Intern
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | International Business Advisory
                            p.mb-0.text-muted HCMC | Vietnam
                        li
                            h4
                                a(href='career-single.html') Marketing  Assistant
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Marketing
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') International Business Advisory Intern
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | International Business Advisory
                            p.mb-0.text-muted Beijing | China
                        li
                            h4.text-muted
                                a(href='career-single.html') CRM Data and Process Coordinator
                            p.mb-0
                                strong 
                                    | Associate | Marketing
                            p.mb-0.text-muted New Delhi | India
                        li
                            h4
                                a(href='career-single.html') Graphic Designer, Asia Briefing
                            p.mb-0
                                strong 
                                    | Associate | Marketing
                            p.mb-0.text-muted Delhi | India
                        li
                            h4
                                a(href='career-single.html') Business Intelligence Intern
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Business Intelligence
                            p.mb-0.text-muted HCMC / Hanoi | Vietnam
                        li
                            h4
                                a(href='career-single.html') Junior Company Secretary
                            p.mb-0
                                strong 
                                    | Associate | Business Advisory Services
                            p.mb-0.text-muted Singapore | Singapore
                        li
                            h4
                                a(href='career-single.html') Junior Associate / Associate, Corporate Accounting Services
                            p.mb-0
                                strong 
                                    | Associate | Corporate Accounting Services
                            p.mb-0.text-muted Singapore | Singapore
                        li
                            h4
                                a(href='career-single.html') Editor, Asia Briefing
                            p.mb-0
                                strong 
                                    | Associate | Asia Briefing Editorial
                            p.mb-0.text-muted Delhi | India
                        li
                            h4
                                a(href='career-single.html') ASEAN Marketing Associate
                            h5 Associate | Marketing
                            p.mb-0.text-muted Ho Chi Minh City | Vietnam
                        li
                            h4
                                a(href='career-single.html') International Business Advisory Assistant, Spanish Desk
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | International Business Advisory
                            p.mb-0.text-muted Shanghai | China
                        li
                            h4
                                a(href='career-single.html') Marketing Assistant, Spanish Desk
                            p.mb-0
                                strong 
                                    | Assistant (Intern) | Marketing
                            p.mb-0.text-muted Shanghai | China                                                                                                                                                                        
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 