doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header
    section.banner.banner-CV
        img(alt='', src='assets/img/coronavirus.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Navigating Coronavirus Issues and Managing Your China Business
                    p A roundup of vital business updates, resources and services which can help you manage your business through adverse cirumstances       
    section.pt-150.pb-7
        .container 
            h4.section-title CORONAVIRUS NEWS       
            .grid
                .col-sm.col-md.col-lg-9.col-grid
                    .grid
                        .col-sm.col-md-7.col-lg-7
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/china-coronavirus-logistics-supply-issues-china-staff-motivation/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/Digital-Rat.jpg', alt='')
                        .col-sm.col-md-5.col-lg-5
                            h1.heading-1
                                a(href='https://www.china-briefing.com/news/china-coronavirus-logistics-supply-issues-china-staff-motivation/')
                                    | China Coronavirus: Logistics and Supply Issues, Impact on Cash Flow, and China Staff Motivation
                            p
                                | Dezan Shira &amp; Associates&apos; Chris Devonshire-Ellis reflects on the impact of the coronavirus outbreak on China business projections and the need to keep staff motivated during this period.

                        .col-sm-4.col-md-4.col-lg-4
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/China-HR.jpg')
                                .card-body 
                                    h2
                                        a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                        .col-sm-4.col-md-4.col-lg-4
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/Digital-Office-.jpg')
                                .card-body
                                    h2
                                        a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                        .col-sm-4.col-md-4.col-lg-4
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/chinese-spring-festival-extended-feb-2-2020-china-briefing-news.jpg')
                                .card-body 
                                    h2
                                        a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9                          
                .col-sm.col-md.col-lg-3.col-grid  
                    ul.list.latest-news
                        li
                            span.date.text-muted January 31, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/china-coronavirus-logistics-supply-issues-china-staff-motivation/')
                                    | China Coronavirus: Logistics and Supply Issues, Impact on Cash Flow, and China Staff Motivation
                        li
                            span.date.text-muted January 31, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/managing-china-business-during-coronavirus-outbreak-updates-advisory/')
                                    | Managing Your China Business during the Coronavirus Outbreak: Ongoing Updates and Advisory
                        li
                            span.date.text-muted January 30, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                        li
                            span.date.text-muted January 30, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9
        
    section.pt-7.pb-7.gray-light-bg
        .container
            h4.section-title.mb-0 RELATED EVENTS       
            .grid.white-bg.mr-0.ml-0
                .col-sm.col-md-3.col-lg-3.col-grid
                    h3.pt-2.pr-2
                        a(href='https://www.dezshira.com/events', target='blank') Dezan Shira Events
                    p
                        | Join our latest upcoming events, which address key issues that businesses face with NCoV
                    a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/events')
                        i.icon-cloud-download 
                        | See more events
                .col-sm.col-md-9.col-lg-9.col-grid
                  ul.list.lists-events
                    li.mb-0
                      .event_block
                        .date-block.dark-blue-bg.hidden-sm.hidden-xs.hidden-xxs.mt-1.mb-1.ml-1
                          | 06
                          span Feb, 2020
                        .dec-block
                          h4.pt-05
                            a(href='http://dezshira.in/events/details/how-to-start-selling-in-china-china-business-master-class-8563.html') How to Start Selling in China: China Business Master Class
                          .dec
                            | Maria Kotova, Head of UK and Ireland Business Development 
                            br
                          .date_time
                            small
                              | London | February 06, 2020 | 9:00 AM
    section.pt-7.pb-7
        .container
            h4.section-title.mb-0 PUBLICATIONS       
            .grid.border-bottom.mr-0.ml-0
                .col-sm.col-md-3.col-lg-3.col-grid.white-bg
                    h3.pt-2.pr-2
                        a(href='https://www.asiabriefing.com/store', target='blank') Asia Briefing Publications
                    p
                        | Download magazines and guides on doing business in China, Vietnam, ASEAN, India, and other Asian countries from our on-the-ground experts.
                    a.btn.btn-outline-dark.mb-2(href='#')
                        i.icon-cloud-download 
                        | DOWNLOAD NOW
                .col-sm.col-md-9.col-lg-9.col-grid.grey-bg.p-0
                    .glide.publications
                        .glide__track(data-glide-el='track')
                            .glide__slides
                                .item
                                    img(src='https://resource.dezshira.com/resize/260x360/Publications/8558/CB_Mag_Sustainability_in_Business_Cover.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='https://www.asiabriefing.com/store/book/corporate-sustainability-china.html') Corporate Sustainability in China
                                        a.btn.btn-outline-white.open-modal(type='button', data-open='modal1') Quick View 
                                .item
                                    img(src='https://resource.dezshira.com/resize/260x360/Publications/7837/CB-2018-09-issue-Cover-600.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='https://www.asiabriefing.com/store/book/how-to-repatriate-profits-from-china-7837.html') How to Repatriate Profits from China
                                        a.btn.btn-outline-white.open-modal(type='button', data-open='modal1') Quick View 
                                .item
                                    img(src='https://resource.dezshira.com/resize/260x360/Publications/8559/ASB_2019_16_issue_Cover.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='https://www.asiabriefing.com/store/book/relocating-business-china-asean.html',) Relocating Your Business from China to ASEAN 
                                        a.btn.btn-outline-white.open-modal(type='button', data-open='modal1') Quick View 
                                .item
                                    img(src='https://resource.dezshira.com/resize/260x360/Publications/8527/CB_Mag_2019_12_issue_Cover.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='https://www.asiabriefing.com/store/book/how-close-business-china.html') How to Close a Business in China 
                                        a.btn.btn-outline-white.open-modal(type='button', data-open='modal1')
                                             | Quick View 
                            div(data-glide-el='controls')
                                button.glide-next(data-glide-dir='<')
                                    span.arrow.right-arrow
                                button.glide-prev(data-glide-dir='>')
                                    span.arrow.left-arrow 
        #modal1.modal(data-animation='slideInOutTop')
            .modal-dialog
                header.modal-header
                    | OUR REGIONAL PUBLICATIONS
                    button.close-modal.btn.btn-secondary(aria-label='close modal', data-close='')
                        | &#x2715;
                section.modal-content
                    .grid
                        .col-sm.col-md-4.col-lg-4.col-grid
                            img.flex-img.shadow.border-white(src='https://resource.dezshira.com/resize/260x360/Publications/8527/CB_Mag_2019_12_issue_Cover.jpg')
                        .col-sm.col-md-8.col-lg-8.col-grid

                            p
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellendus reprehenderit accusamus totam ratione! Nesciunt, nemo dolorum recusandae ad ex nam similique dolorem ab perspiciatis qui. Facere, dignissimos. Nemo, ea.
                            p
                                | Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
                            a.btn.btn-outline-dark.mb-2(href='#')
                                i.icon-cloud-download 
                                | DOWNLOAD NOW   
                  
    section.pt-7.pb-7.gray-light-bg
        .container
            h4.section-title.mb-0 DOWNLOAD BROCHURES       
            .grid.mr-0.ml-0.border-bottom
                .col-sm.col-md-3.col-lg-3.col-grid.white-bg
                    h2.pt-2
                        a(href='https://www.asiabriefing.com/store', target='blank') Key Related Services
                    p
                        | View our related brochures at right, or view our other company and services brochures to learn more about how we can support your business in Asia.
                    a.btn.btn-outline-dark.mb-2(href='#')
                        i.icon-cloud-download 
                        | GO TO BROCHURES
                .col-sm.col-md-9.col-lg-9.col-grid.grey-bg
                    .glide.download-brochure
                        .glide__track(data-glide-el='track')
                            .glide__slides
                                .item
                                    .card.brochure.download-brochure.mr-1.ml-1
                                        .card-header-img.zoom-on-hover
                                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/payroll-human-resource-administration.jpg')
                                        .card-body.text-center
                                            h2.pt-1.pb-1
                                                a(href='https://www.dezshira.com/brochure_download_status/services~Human%20Resources%20Payroll%20-%20Global%20Mobility%20Service') 
                                                    | Global Mobility Service
                                            a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/brochure_download_status/services~Human%20Resources%20Payroll%20-%20Global%20Mobility%20Service', role='button') DOWNLOAD
                                .item
                                    .card.brochure.download-brochure.mr-1.ml-1
                                        .card-header-img.zoom-on-hover
                                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/payroll-human-resource-administration.jpg')
                                        .card-body.text-center
                                            h2.pt-1.pb-1
                                                a(href='https://www.dezshira.com/brochure_download_status/services~Human%20Resources%20Payroll%20brochure-Payroll') 
                                                    | Human Resources &amp; Payroll - Payroll
                                            a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/brochure_download_status/services~Human%20Resources%20Payroll%20brochure-Payroll', role='button') DOWNLOAD 
                                .item
                                    .card.brochure.download-brochure.mr-1.ml-1
                                        .card-header-img.zoom-on-hover
                                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/information-technology-solutions.jpg')
                                        .card-body.text-center
                                            h2.pt-1.pb-1
                                                a(href='https://www.dezshira.com/brochure_download_status/services~Audit brochure-Internal Audit, Risk and Compliance') 
                                                    | Internal Audit, Risk and Compliance 
                                            a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/brochure_download_status/services~Audit brochure-Internal Audit, Risk and Compliance', role='button') DOWNLOAD 
                                .item
                                    .card.brochure.download-brochure.mr-1.ml-1
                                        .card-header-img.zoom-on-hover
                                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/tax.jpg')
                                        .card-body.text-center
                                            h2.pt-1.pb-1
                                                a(href='https://www.dezshira.com/brochure_download_status/services~Tax%20brochure-Tax%20in%20China') 
                                                    | Tax in China 
                                            a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/brochure_download_status/services~Tax%20brochure-Tax%20in%20China', role='button') DOWNLOAD

                                .item
                                    .card.brochure.download-brochure.mr-1.ml-1
                                        .card-header-img.zoom-on-hover
                                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/information-technology-solutions.jpg')
                                        .card-body.text-center
                                            h2.pt-1.pb-1
                                                a(href='https://www.dezshira.com/brochure_download_status/services~IT-Cloud%20Migration') 
                                                    | Cloud Migration 
                                            a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/brochure_download_status/services~IT-Cloud%20Migration', role='button') DOWNLOAD 

                                .item
                                    .card.brochure.download-brochure.mr-1.ml-1
                                        .card-header-img.zoom-on-hover
                                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/information-technology-solutions.jpg')
                                        .card-body.text-center
                                            h2.pt-1.pb-1
                                                a(href='https://www.dezshira.com/brochure_download_status/services~IT-Infrastructure') 
                                                    | IT Infrastructure 
                                            a.btn.btn-outline-dark.mb-2(href='https://www.dezshira.com/brochure_download_status/services~IT-Infrastructure', role='button') DOWNLOAD 
                            div(data-glide-el='controls')
                                button.glide-next(data-glide-dir='<')
                                    span.arrow.right-arrow
                                button.glide-prev(data-glide-dir='>')
                                    span.arrow.left-arrow                                                               
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
