doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header
    section.banner
        img(alt='', src='//www.dezshira.com/themes/dsa/images/topics-banners/companyNews.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Navigating Coronavirus Issues and Managing Your China Business
                    p A roundup of vital business updates, resources and services which can help you manage your business through adverse cirumstances       
    section.pt-150.pb-7
        .container 
            h4.section-title CORONAVIRUS NEWS       
            .grid
                .col-sm.col-md.col-lg-9.col-grid
                    .grid
                        .col-sm.col-md-7.col-lg-7
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/china-coronavirus-logistics-supply-issues-china-staff-motivation/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/Digital-Rat.jpg', alt='')
                        .col-sm.col-md-5.col-lg-5
                            h1
                                a(href='https://www.china-briefing.com/news/china-coronavirus-logistics-supply-issues-china-staff-motivation/')
                                    | China Coronavirus: Logistics and Supply Issues, Impact on Cash Flow, and China Staff Motivation
                            p
                                | Dezan Shira &amp; Associates&apos; Chris Devonshire-Ellis reflects on the impact of the coronavirus outbreak on China business projections and the need to keep staff motivated during this period.

                        .col-sm-4.col-md-4.col-lg-4
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/China-HR.jpg')
                                .card-body 
                                    h2
                                        a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                        .col-sm-4.col-md-4.col-lg-4
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/Digital-Office-.jpg')
                                .card-body
                                    h2
                                        a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                        .col-sm-4.col-md-4.col-lg-4
                            .card.feature-artcile
                                .card-header-img.zoom-on-hover
                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/')
                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/chinese-spring-festival-extended-feb-2-2020-china-briefing-news.jpg')
                                .card-body 
                                    h2
                                        a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9                          
                .col-sm.col-md.col-lg-3.col-grid  
                    ul.list.latest-news
                        li
                            span.date.text-muted January 31, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/china-coronavirus-logistics-supply-issues-china-staff-motivation/')
                                    | China Coronavirus: Logistics and Supply Issues, Impact on Cash Flow, and China Staff Motivation
                        li
                            span.date.text-muted January 31, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/managing-china-business-during-coronavirus-outbreak-updates-advisory/')
                                    | Managing Your China Business during the Coronavirus Outbreak: Ongoing Updates and Advisory
                        li
                            span.date.text-muted January 30, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                        li
                            span.date.text-muted January 30, 2020
                            h2
                                a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9
        .container.pt-5
            h4.section-title.mb-0 PUBLICATIONS       
            .grid.border-bottom
                .col-sm.col-md-3.col-lg-3.col-grid
                    h3.pt-2.pr-2
                        a(href='https://www.asiabriefing.com/store', target='blank') Asia Briefing Publications
                    p
                        | Download magazines and guides on doing business in China, Vietnam, ASEAN, India, and other Asian countries from our on-the-ground experts.
                    a.btn.btn-outline-dark.mb-2(href='#') DOWNLOAD NOW 
                .col-sm.col-md-9.col-lg-9.col-grid.grey-bg.p-0
                    .glide.publications
                        .glide__track(data-glide-el='track')
                            .glide__slides
                                .item
                                    img(src='//resource.dezshira.com/resize/360x495/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='#') Corporate Sustainability in China
                                        a.btn.btn-outline-white(href='#') Quick View 
                                .item
                                    img(src='//resource.dezshira.com/resize/360x495/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='#') Corporate Sustainability in China
                                        a.btn.btn-outline-white(href='#') Quick View 
                                .item
                                    img(src='//resource.dezshira.com/resize/360x495/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg')
                                    .hover-content.text-center
                                        h3.text-white
                                            a(href='#') Corporate Sustainability in China
                                        a.btn.btn-outline-white(href='#') Quick View 
                    div(data-glide-el='controls')
                        button.glide-next(data-glide-dir='<')
                            span.arrow.right-arrow
                        button.glide-prev(data-glide-dir='>')
                            span.arrow.left-arrow
                                            

        .container.pt-5
            h4.section-title DOWNLOAD BROCHURES       
            .grid
                .col-sm.col-md-3.col-lg-3.col-grid
                    h2.pt-2
                        a(href='https://www.asiabriefing.com/store', target='blank') Key Related Services
                    p
                        | View our related brochures at right, or view our other company and services brochures to learn more about how we can support your business in Asia.
                    <a class="btn btn-outline-dark mb-2" href="#" role="button">GO TO BROCHURES</a>
                .col-sm.col-md-9.col-lg-9.col-grid
                    .grid
                        .col-sm-6.col-md-6.col-lg-4.col-grid
                            .card.brochure
                                .card-header-img.zoom-on-hover
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/tax.jpg')
                                .card-body.text-center
                                    h2.pt-1.pb-1
                                        a(href='https://www.dezshira.com/brochure_download_status/english') Tax in China
                                    a.btn.btn-outline-dark.mb-2(href='#', role='button') DOWNLOAD
                        .col-sm-6.col-md-6.col-lg-4.col-grid
                            .card.brochure
                                .card-header-img.zoom-on-hover
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/information-technology-solutions.jpg')
                                .card-body.text-center
                                    h2.pt-1.pb-1
                                        a(href='https://www.dezshira.com/brochure_download_status/english') Cloud Migration
                                    a.btn.btn-outline-dark.mb-2(href='#', role='button') DOWNLOAD
                        .col-sm-6.col-md-6.col-lg-4.col-grid
                            .card.brochure
                                .card-header-img.zoom-on-hover
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/brochures/information-technology-solutions.jpg')
                                .card-body.text-center
                                    h2.pt-1.pb-1
                                        a(href='https://www.dezshira.com/brochure_download_status/english') IT Infrastructure 
                                    a.btn.btn-outline-dark.mb-2(href='#', role='button') DOWNLOAD                               
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")