doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header
    section.banner.banner-CV
        img(alt='', src='assets/img/coronavirus.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-12.col-lg-10.col-grid
                    h1 Coronavirus Insights and Solutions for Managing your Business
                    p A roundup of related business updates, resources and corporate services.       
    section.pt-150.pb-7
        .container 
                h4.text-muted Related Services   
                .grid

                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service') HR Adapt to Financial Risk with a vCFO
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service') Adapt to Financial Risk with a vCFO
                                p
                                    a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service')
                                    | Whether your company is a startup, a growing business in Asia, or a long-established company, the help of a professional financial consultant, as Virtual CFO,
                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/virtual-cio-service')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/connecting-office-cloud.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/virtual-cio-service') Solve IT Challenges with our Expertise
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/virtual-cio-service') Solve IT Challenges with our Expertise
                                p
                                    a(href='https://www.dezshira.com/landing/virtual-cio-service')
                                    | Particularly for a business growing across Asia, the help of a professional IT consultant, as Virtual CIO, can help you integrate operations in this part of the world into your global organization. 
                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/digital-expense-management')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/hands-on-digital-technology.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/digital-expense-management') Move to Digital Expense Management 
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/digital-expense-management') Move to Digital Expense Management
                                p
                                    a(href='https://www.dezshira.com/landing/digital-expense-management')
                                    | Managing employees’ expenses digitally in China is a powerful way to optimize and speed up business administration, simplify remote submissions and approvals                       
                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/asean-countries-flags.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/location-analysis-site-selection') Assess Locations for your Asia Strategy 
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection') Assess Locations for your Asia Strategy
                                p
                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                    | Choosing a location is one of the first decisions that companies must make when entering a new market. However, it is particularly challenging in emerging Asia                           
    section.pt-5.pb-5.gray-light-bg
        .container     
                .grid

                    .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-1.offset-lg-1.offset-xlg-1
                        h2
                            | Providing you with the bold and timely solutions you need.
                        p
                            | The Covid-19 situation faces your Asia business with unprecedented challenge: Operational downtime, reduced personnel, a scattered workforce, supply chain bottlenecks and cashflow and forecast uncertainty.
                        p
                            | The better able at adapting to and meeting these challenges that your company is, the brighter and more suatainable the outlook.
                        p
                            | We are here to meet the challenge with you, by providing the insights, options and bold solutions that your business needs, today and into a new tomorrow.

                    .col-sm.col-md-4.col-lg-4.col-xlg-4
                        a(href='https://www.dezshira.com/updates/2019/12/recap-research-development-innovation-forum.html')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/executive-discussions.jpg')
    section.pt-7.pb-7#latest-insight
        .container 
            .grid
                .col-sm.col-md-2.col-lg-2.col-xlg-2.offset-md-1.offset-lg-1.offset-xlg-1
                    h3 Latest Insight

                    // [NAVIGATION]
                    // Add your navigation tabs here
                .col-sm.col-md-8.col-lg-8.col-xlg-8
                    nav#tab-nav
                        span.tabnav China
                        span.tabnav Vietnam
                        span.tabnav ASEAN
                        span.tabnav India
                .col-sm.col-md-10.col-lg-10.col-xlg-10.offset-md-1.offset-lg-1.offset-xlg-1
                    // [CONTENTS]
                    // Must have the corresponding text block
                    #tab-contents
                        .tabtxt
                            .grid
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-header-img.zoom-on-hover
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9 
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate                         
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019 
                                                h4
                                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate 
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-header-img.zoom-on-hover
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                                    .col-sm.col-md.col-lg.text-right                
                                        a.btn.btn-outline-dark.mb-2.w-auto.line-height-20(href='#')
                                            span
                                                img.logo-briefing-20h.float-left.mr-05(alt='', src='assets/img/cb-logo-40h.png')
                                                |  More from China Briefing


                                    .col-sm-12.col-md-12.col-lg-12
                                        .p-arround-2.mt-3.soft-gray-bg
                                            h4.text-muted Featured Publication
                                            .col-sm-2.col-md-2.col-lg-1
                                                    a(href='https://www.asiabriefing.com/store/book/how-close-business-china.html', target='_blank')
                                                        img.flex-img.mb-2(src='https://resource.dezshira.com/resize/260x360/Publications/8527/CB_Mag_2019_12_issue_Cover.jpg', srcset='https://resource.dezshira.com/Publications/8527/CB_Mag_2019_12_issue_Cover.jpg 2x', itemprop='image')
                                            .col-sm-8.col-md-9.col-lg-10
                                                    h4
                                                        a(href='https://www.asiabriefing.com/store/book/how-close-business-china.html', target='_blank') How to Close a Business in China
                                                    span December 09, 2019
                                                    p.marg-bottom-0.margin10Top
                                                        | Companies in China may want to end their operations for various reasons. Irrespective of what factors might trigger this decision to shut down the business, investors cannot simply walk away without following proper closure procedures. Not properly closing the company will not only attract stringent penalties from the government’s tax and regulatory bodies, but also do lasting damage to the reputation of the company.
                                                    a.btn.btn-outline-dark(href='https://www.asiabriefing.com/store/book/how-close-business-china.html', target='_blank') Download this e-Publication
                        .tabtxt
                            .grid                      
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019 
                                                h2
                                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate 
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-header-img.zoom-on-hover
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                                    .col-sm.col-md.col-lg.text-right                
                                        a.btn.btn-outline-dark.mb-2.w-auto.line-height-20(href='#')
                                            span
                                                img.logo-briefing-20h.float-left.mr-05(alt='', src='assets/img/vb-logo-40h.png')
                                                | More from Vietnam Briefing  

                                    .col-sm-12.col-md-12.col-lg-12
                                        .p-arround-2.mt-3.soft-gray-bg
                                            h4.text-muted Featured Publication
                                            .col-sm-2.col-md-2.col-lg-1
                                                    a(href='https://www.asiabriefing.com/store/book/how-to-set-up-in-vietnam.html', target='_blank')
                                                        img.flex-img.mb-2(src='https://resource.dezshira.com/resize/260x360/Publications/8183/VB_2019_03_issue_Cover.jpg', srcset='https://resource.dezshira.com/Publications/8183/VB_2019_03_issue_Cover.jpg 2x', itemprop='image')
                                            .col-sm-8.col-md-9.col-lg-10
                                                    h4
                                                        a(href='https://www.asiabriefing.com/store/book/how-to-set-up-in-vietnam.html', target='_blank') How to Set Up in Vietnam
                                                    span Published: April 2019
                                                    p.marg-bottom-0.margin10Top
                                                        | Vietnam&rsquo;s economy continues to perform well, sustained by ongoing domestic reforms, a stable government, and the diversification of foreign direct investment in the country. With such growth, it makes sense that new market entrants see Vietnam as a good opportunity to establish in Asia or diversify their regional presence. In this issue of Vietnam Briefing magazine, we detail company structures in Vietnam and outline the most efficient structure for foreign businesses that seek to take advantage of the country&rsquo;s investment climate.
                                                    a.btn.btn-outline-dark(href='https://www.asiabriefing.com/store/book/how-to-set-up-in-vietnam.html', target='_blank') Download this e-Publication
                        .tabtxt
                            .grid
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-header-img.zoom-on-hover
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9 
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate                         

                                    .col-sm.col-md.col-lg.text-right                
                                        a.btn.btn-outline-dark.mb-2.w-auto.line-height-20(href='#')
                                            span
                                                img.logo-briefing-20h.float-left.mr-05(alt='', src='assets/img/asean-logo-40h.png')
                                                | More from ASEAN Briefing  

                                    .col-sm-12.col-md-12.col-lg-12
                                        .p-arround-2.mt-3.soft-gray-bg
                                            h4.text-muted Featured Publication
                                            .col-sm-2.col-md-2.col-lg-1
                                                    a(href='https://www.asiabriefing.com/store/book/how-to-set-up-non-profit-organization-singapore.html', target='_blank')
                                                        img.flex-img.mb-2(src='https://resource.dezshira.com/resize/260x360/Publications/8264/ASB_2019_05_issue_Cover.jpg', srcset='https://resource.dezshira.com/Publications/8264/ASB_2019_05_issue_Cover.jpg 2x', itemprop='image')
                                            .col-sm-8.col-md-9.col-lg-10
                                                    h4
                                                        a(href='https://www.asiabriefing.com/store/book/how-to-set-up-non-profit-organization-singapore.html', target='_blank') How to Set Up a Non-Profit Organization in Singapore
                                                    span Published: May 2019
                                                    p.marg-bottom-0.margin10Top
                                                        | In this issue of ASEAN Briefing magazine, we discuss the options available to foreign nationals and entities for setting up a non-profit organization (NPO) in Singapore. We begin by introducing the various forms of NPOs in Singapore. We next focus on the process of registering or incorporating a Public Company Limited by Guarantee (PCLG), which is the most preferred form of NPO for overseas nationals or entities in Singapore. We finally discuss the specific tax obligations of NPOs and incentives that are on offer for them in Singapore.
                                                    a.btn.btn-outline-dark(href='https://www.asiabriefing.com/store/book/how-to-set-up-non-profit-organization-singapore.html', target='_blank') Download this e-Publication
                        .tabtxt
                            .grid                      
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019 
                                                h4
                                                    a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate 
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-header-img.zoom-on-hover
                                            .card-body 
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                                    .col-sm.col-md-4.col-lg-4
                                        .card.feature-artcile
                                            .card-body
                                                small.text-muted November 26, 2019
                                                h4
                                                    a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                            .content
                                                .thumbnail-block
                                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                                .content-block
                                                    p
                                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                                    .col-sm.col-md.col-lg.text-right                
                                        a.btn.btn-outline-dark.mb-2.w-auto.line-height-20(href='#')
                                            span
                                                img.logo-briefing-20h.float-left.mr-05(alt='', src='assets/img/ib-logo-40h.png')
                                                | More from India Briefing  

                                    .col-sm-12.col-md-12.col-lg-12
                                        .p-arround-2.mt-3.soft-gray-bg
                                            h4.text-muted Featured Publication
                                            .col-sm-2.col-md-2.col-lg-1
                                                    a(href='https://www.asiabriefing.com/store/book/establishing-foreign-company-india.html', target='_blank')
                                                        img.flex-img.mb-2(src='https://resource.dezshira.com/resize/260x360/Publications/8565/IB_2019_12_issue_Cover.jpg', srcset='https://resource.dezshira.com/Publications/8565/IB_2019_12_issue_Cover.jpg 2x', itemprop='image')
                                            .col-sm-8.col-md-9.col-lg-10
                                                    h4
                                                        a(href='https://www.asiabriefing.com/store/book/establishing-foreign-company-india.html', target='_blank') Establishing a Foreign Company in India
                                                    span Published: December 2019
                                                    p.marg-bottom-0.margin10Top
                                                        | India is an attractive destination for foreign investors due to its large consumer-oriented market, low labor costs, and rising global competitiveness. Despite the recent dip in the growth rate, India features among the top 10 countries for global FDI. Further, with more sectors being liberalized and a focus on improving the ease of doing business environment, India offers a stable base of operations for investors seriously considering the Asian market. In this issue of India Briefing, we provide information on establishing a company in India.
                                                    a.btn.btn-outline-dark(href='https://www.asiabriefing.com/store/book/establishing-foreign-company-india.html', target='_blank') Download this e-Publication




    section.pt-7.pb-7.gray-light-bg
        .container
            .grid
                .col-sm.col-md-7.col-lg-7.col-xlg-7.offset-md-1.offset-lg-1.offset-xlg-1
                    h3.mb-2 Latest Events
                    ul.list.lists-events
                        li
                            .date-block.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...

                        li
                            .date-block.dark-blue-bg.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...
                        li
                            .date-block.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time 
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...                          
                        li
                            .date-block.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time 
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...
                .col-sm.col-md-3.col-lg-3.col-xlg-3
                        img.flex-img.mt-4(src='assets/img/calendar.jpg')
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-10.col-lg-10.col-xlg-10.offset-md-1.offset-lg-1.offset-xlg-1
                    h3 More Related Services
                    .dark-blue-bg.p-arround-2.related-service-links 
                            .links-group
                                a.btn.btn-outline-white.mb-1.text-left.border-dark-blue.parent-link(href='https://www.dezshira.com/services/accounting-reporting') 
                                    | All Accounting and Audit Services 
                                    i.ml-1.icon-long-arrow-right.float-right   
                                .child
                                    a.btn.btn-outline-white.mb-1.text-left.child-link(href='https://www.dezshira.com/services/business-intelligence-solutions') 
                                        |  Virtual CFO Services
                                        i.ml-1.icon-long-arrow-right.float-right 
                                    .content
                                        .grid
                                            .col-sm-12.col-md-8.col-lg-8
                                                h4 How a Virtual CFO can help your Organisation
                                                p.mb-0
                                                    | Whether your company is a startup, a growing business in Asia, or a long-established company, the help of a professional financial consultant, as Virtual CFO, 
                                                p
                                                    a.btn.btn-outline-white(href="") Enquire
                                            .col-sm-12.col-md-4.col-lg-4
                                                img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0') 
                            .links-group
                                a.btn.btn-outline-white.mb-1.text-left.border-dark-blue.parent-link(href='https://www.dezshira.com/services/payroll-human-resource-administration') 
                                    | All Human Resources & Payroll Services 
                                    i.ml-1.icon-long-arrow-right.float-right   
                                .child
                                    a.btn.btn-outline-white.mb-1.text-left.child-link(href='https://www.dezshira.com/services/payroll-human-resource-administration') 
                                        |  HR Advisory
                                        i.ml-1.icon-long-arrow-right.float-right 
                                    .content
                                        .grid
                                            .col-sm-12.col-md-8.col-lg-8
                                                h4 HR and Payroll
                                                p.mb-0
                                                    | We provide professional HR and payroll services to our clients across Asia. Dezan Shira & Associates appreciates and understands that HR and payroll.
                                                p
                                                    a.btn.btn-outline-white Enquire
                                            .col-sm-12.col-md-4.col-lg-4
                                                img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0') 
                            .links-group
                                a.btn.btn-outline-white.mb-1.text-left.border-dark-blue.parent-link(href='https://www.dezshira.com/services/information-technology-solutions') 
                                    | All Technology Services 
                                    i.ml-1.icon-long-arrow-right.float-right   
                                .child
                                    a.btn.btn-outline-white.mb-1.text-left.child-link(href='https://www.dezshira.com/services/information-technology-solutions') 
                                        |  Digital Expense Management
                                        i.ml-1.icon-long-arrow-right.float-right 
                                    .content
                                        .grid
                                            .col-sm-12.col-md-8.col-lg-8
                                                h4 Optimize expenses processing, anywhere-anytime
                                                p.mb-0
                                                    | Managing employees’ expenses digitally in China is a powerful way to optimize and speed up business administration, simplify remote submissions and.
                                                p
                                                    a.btn.btn-outline-white Enquire
                                            .col-sm-12.col-md-4.col-lg-4
                                                img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0') 
                            .links-group
                                a.btn.btn-outline-white.mb-1.text-left.border-dark-blue.parent-link(href='https://www.dezshira.com/services/business-advisory') 
                                    | All Business Advisory Services 
                                    i.ml-1.icon-long-arrow-right.float-right   
                                .child
                                    a.btn.btn-outline-white.mb-1.text-left.child-link(href='https://www.dezshira.com/services/business-advisory') 
                                        |  Contract Review 
                                        i.ml-1.icon-long-arrow-right.float-right 
                                    .content
                                        .grid
                                            .col-sm-12.col-md-8.col-lg-8
                                                h4 Corporate Establishment and Structuring
                                                p.mb-0
                                                    | Dezan Shira & Associates can advise on the legal incorporation of your investment across multiple Asian countries. This important legal process.
                                                p
                                                    a.btn.btn-outline-white Enquire
                                            .col-sm-12.col-md-4.col-lg-4
                                                img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0') 
                            .links-group
                                a.btn.btn-outline-white.mb-1.text-left.border-dark-blue.parent-link(href='https://www.dezshira.com/services/tax') 
                                    | All Tax Services 
                                    i.ml-1.icon-long-arrow-right.float-right   
                                .child
                                    a.btn.btn-outline-white.mb-1.text-left.child-link(href='https://www.dezshira.com/services/tax') 
                                        |  Tax Restructuring 
                                        i.ml-1.icon-long-arrow-right.float-right 
                                    .content
                                        .grid
                                            .col-sm-12.col-md-8.col-lg-8
                                                h4 Tax
                                                p.mb-0
                                                    | The fast pace of tax reform, combined with sometimes inconsistent local practice and enforcement, makes the tax landscape difficult to navigate for many.
                                                p
                                                    a.btn.btn-outline-white Enquire
                                            .col-sm-12.col-md-4.col-lg-4
                                                img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0') 
                            .links-group
                                a.btn.btn-outline-white.text-left.border-dark-blue.parent-link.btn-parent-hover(href='https://www.dezshira.com/services/business-intelligence-solutions') 
                                    | All Business Intelligence Services 
                                    i.ml-1.icon-long-arrow-right.float-right   
                                .child
                                    a.btn.btn-outline-white.text-left.child-link.child-highlight(href='https://www.dezshira.com/services/business-intelligence-solutions') 
                                        |  Investment  Country Comparison
                                        i.ml-1.icon-long-arrow-right.float-right 
                                    .content
                                        .grid
                                            .col-sm-12.col-md-8.col-lg-8
                                                h4 Tax
                                                p.mb-0
                                                    | Asia’s relentless economic growth and diverse range of economies present amazing opportunities for foreign investment. Foreign companies exploring opportunities in the region can.
                                                p
                                                    a.btn.btn-outline-white Enquire
                                            .col-sm-12.col-md-4.col-lg-4
                                                img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0') 
    section.light-blue-bg.pt-3.pb-3
            .container
                .grid
                    .col-sm.col-md-2.col-lg-1.col-xlg-1.offset-md-1.offset-lg-2.offset-xlg-2.text-right.text-align-left-xs.text-align-left-sm
                        a(href='register.html')
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                    .col-sm.col-md-8.col-lg-7.col-xlg-7.col-grid
                        h4.pt-2 CONTACT US
                        h1
                            a(href='register.html')
                            | Enquire for more information about our services, and how we can help solve challenges for your organization.                                              
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
