doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header
    section.banner.banner-CV
        img(alt='', src='assets/img/coronavirus.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Managing Your Asia Business and Navigating Coronavirus Issues 
                    p A roundup of vital business updates, resources and services which can help you manage your business through adverse cirumstances       
    section.pt-150.pb-7
        .container 
                h4.text-muted Related Services   
                .grid

                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service') HR Adapt to Financial Risk with a vCFO
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service') Adapt to Financial Risk with a vCFO
                                p
                                    a(href='https://www.dezshira.com/landing/corporate-virtual-cfo-service')
                                    | Whether your company is a startup, a growing business in Asia, or a long-established company, the help of a professional financial consultant, as Virtual CFO,
                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/virtual-cio-service')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/connecting-office-cloud.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/virtual-cio-service') Solve IT Challenges with our Expertise
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/virtual-cio-service') Solve IT Challenges with our Expertise
                                p
                                    a(href='https://www.dezshira.com/landing/virtual-cio-service')
                                    | Particularly for a business growing across Asia, the help of a professional IT consultant, as Virtual CIO, can help you integrate operations in this part of the world into your global organization. 
                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/digital-expense-management')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/hands-on-digital-technology.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/digital-expense-management') Move to Digital Expense Management 
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/digital-expense-management') Move to Digital Expense Management
                                p
                                    a(href='https://www.dezshira.com/landing/digital-expense-management')
                                    | Managing employees’ expenses digitally in China is a powerful way to optimize and speed up business administration, simplify remote submissions and approvals                       
                    .col-sm.col-md-3.col-lg-3
                        .card.related-services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                    img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/asean-countries-flags.jpg')
                                .card-text-overlap 
                                    h4.text-left.ml-3
                                        a(href='https://www.dezshira.com/landing/location-analysis-site-selection') Assess Locations for your Asia Strategy 
                            .content
                                h4
                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection') Assess Locations for your Asia Strategy
                                p
                                    a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                    | Choosing a location is one of the first decisions that companies must make when entering a new market. However, it is particularly challenging in emerging Asia                           
    section.pt-5.pb-5.gray-light-bg
        .container     
                .grid

                    .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-1.offset-lg-1.offset-xlg-1
                        h2
                            | Providing you with the bold and timely solutions you need.
                        p
                            | The Covid-19 situation faces your Asia business with unprecedented challenge: Operational downtime, reduced personnel, a scattered workforce, supply chain bottlenecks and cashflow and forecast uncertainty.
                        p
                            | The better able at adapting to and meeting these challenges that your company is, the brighter and more suatainable the outlook.
                        p
                            | We are here to meet the challenge with you, by providing the insights, options and bold solutions that your business needs, today and into a new tomorrow.

                    .col-sm.col-md-4.col-lg-4.col-xlg-4
                        a(href='https://www.dezshira.com/updates/2019/12/recap-research-development-innovation-forum.html')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/executive-discussions.jpg')
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-10.col-xlg-10.offset-md-1.offset-lg-1.offset-xlg-1
                    h3 Latest Insight      
                    .grid
                            .col-sm.col-md-4.col-lg-4
                                .card.feature-artcile
                                    .card-header-img.zoom-on-hover
                                    .card-body 
                                        small.text-muted November 26, 2019
                                        h2
                                            a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                    .content
                                        .thumbnail-block
                                            a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                        .content-block
                                            p
                                                a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                    | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                            .col-sm.col-md-4.col-lg-4
                                .card.feature-artcile
                                    .card-body
                                        small.text-muted November 26, 2019
                                        h2
                                            a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                    .content
                                        .thumbnail-block
                                            a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                        .content-block
                                            p
                                                a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                    | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                            .col-sm.col-md-4.col-lg-4
                                .card.feature-artcile
                                    .card-body 
                                        small.text-muted November 26, 2019
                                        h2
                                            a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9 
                                    .content
                                        .thumbnail-block
                                            a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                        .content-block
                                            p
                                                a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                    | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate                         
                            .col-sm.col-md-4.col-lg-4
                                .card.feature-artcile
                                    .card-body
                                        small.text-muted November 26, 2019 
                                        h2
                                            a(href='https://www.china-briefing.com/news/china-extends-lunar-new-year-holiday-february-2-shanghai-february-9-contain-coronavirus-outbreak/') China Extends Lunar New Year Holiday to February 2, Shanghai to February 9
                                    .content
                                        .thumbnail-block
                                            a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                        .content-block
                                            p
                                                a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                    | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate 
                            .col-sm.col-md-4.col-lg-4
                                .card.feature-artcile
                                    .card-header-img.zoom-on-hover
                                    .card-body 
                                        small.text-muted November 26, 2019
                                        h2
                                            a(href='https://www.china-briefing.com/news/managing-hr-china-coronavirus-outbreak-clarity-work-resumption-leave-entitlements/') Managing HR in China during the Coronavirus Outbreak
                                    .content
                                        .thumbnail-block
                                            a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                        .content-block
                                            p
                                                a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                    | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate
                            .col-sm.col-md-4.col-lg-4
                                .card.feature-artcile
                                    .card-body
                                        small.text-muted November 26, 2019
                                        h2
                                            a(href='https://www.china-briefing.com/news/how-to-operate-your-china-business-remotely-during-the-coronavirus-outbreak/') How to Operate Your China Business Remotely during the Coronavirus Outbreak
                                    .content
                                        .thumbnail-block
                                            a(href='https://www.dezshira.com/landing/location-analysis-site-selection')
                                                img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/02/CB_China-to-Reduce-Corporate-Social-Insurance-Premiums-and..-300x169.jpg')
                                        .content-block
                                            p
                                                a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                                    | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, which made a surprise decision to reduce or exempt corporate

                            .col-sm.col-md.col-lg.text-right                
                                a.btn.btn-outline-dark.mb-2(href='#')
                                    | More from China Briefing   
    section.pt-7.pb-7.gray-light-bg
        .container
            .grid
                .col-sm.col-md-7.col-lg-7.col-xlg-7.offset-md-1.offset-lg-1.offset-xlg-1
                    h3.mb-2 Latest Events
                    ul.list.lists-events
                        li
                            .date-block.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...

                        li
                            .date-block.dark-blue-bg.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...
                        li
                            .date-block.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time 
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...                          
                        li
                            .date-block.hidden-sm.hidden-xs.hidden-xxs
                                | Nov
                                span Oct, 2019
                            .dec-block
                                h4.pt-05
                                    a(href='events-single.html')
                                        | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                .date-time
                                    small
                                        | Webinar | 27 November 2019 | 3PM-4PM China Time 
                            .content
                                a.btn.btn-secondary.float-right Register now
                                h4.marg-top-0.marg-bottom-0
                                    a(href='https://www.dezshira.com/events/details/coronavirus-outbreak-how-to-address-key-hr-and-commercial-issues-8600.html') Coronavirus Outbreak: How to address key HR and commercial issues
                                p
                                    | On February 19, Kyle Freeman, Partner, will address key HR and commercial concerns for businesses...
                .col-sm.col-md-3.col-lg-3.col-xlg-3
                        img.flex-img.mt-4(src='assets/img/calendar.jpg')
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-10.col-lg-10.col-xlg-10.offset-md-1.offset-lg-1.offset-xlg-1
                    h3 More Related Services
                .col-sm.col-md-4.col-lg-4.col-xlg-4.offset-md-1.offset-lg-1.offset-xlg-1.col-bleed-x-right
                    .dark-blue-bg.p-arround-2
                        a.btn.btn-outline-white.btn-block.mb-1.text-left.border-dark-blue(href='https://www.dezshira.com/services/accounting-reporting') 
                            | All Accounting and Audit Services 
                            i.ml-1.icon-long-arrow-right.float-right    
                        a.btn.btn-outline-white.btn-block.mb-1.text-left.border-dark-blue(href='https://www.dezshira.com/services/payroll-human-resource-administration') 
                            | All Human Resources &amp; Payroll Services 
                            i.ml-1.icon-long-arrow-right.float-right     
                        a.btn.btn-outline-white.btn-block.mb-1.text-left.border-dark-blue(href='https://www.dezshira.com/services/information-technology-solutions') 
                            | All Technology Services
                            i.ml-1.icon-long-arrow-right.float-right      
                        a.btn.btn-outline-white.btn-block.mb-1.text-left.border-dark-blue(href='https://www.dezshira.com/services/business-advisory') 
                            | All Business Advisory Services  
                            i.ml-1.icon-long-arrow-right.float-right    
                        a.btn.btn-outline-white.btn-block.mb-1.text-left.border-dark-blue(href='https://www.dezshira.com/services/tax') 
                            | All Tax Services
                            i.ml-1.icon-long-arrow-right.float-right      
                        a.btn.btn-outline-white.btn-block.text-left.border-dark-blue(href='https://www.dezshira.com/services/business-intelligence-solutions') 
                            | All Business Intelligence Services 
                            i.ml-1.icon-long-arrow-right.float-right
                .col-sm.col-md-6.col-lg-6.col-xlg-6.col-bleed-x-left
                    .dark-blue-bg.p-arround-2
                        .child
                            a.btn.btn-outline-white.btn-block.mb-1.text-left(href='https://www.dezshira.com/services/business-intelligence-solutions') 
                                |  Virtual CFO Services
                                i.ml-1.icon-long-arrow-right.float-right 
                            .content
                                .grid
                                    .col-sm-12.col-md-8.col-lg-8
                                    h4 How a Virtual CFO can help your Organisation
                                    p
                                        | Whether your company is a startup, a growing business in Asia, or a long-established company, the help of a professional financial consultant, as Virtual CFO,
                                    p
                                        a.btn.btn-lg.btn-outline Enquire
                                    .col-sm-12.col-md-4.col-lg-4
                                    img.img-responsive(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg', scale='0')

                        a.btn.btn-outline-white.btn-block.mb-1.text-left(href='https://www.dezshira.com/services/payroll-human-resource-administration') 
                            | HR Advisory 
                            i.ml-1.icon-long-arrow-right.float-right 
                        a.btn.btn-outline-white.btn-block.mb-1.text-left(href='https://www.dezshira.com/landing/digital-expense-management')  
                            | Digital Expense Management  
                            i.ml-1.icon-long-arrow-right.float-right
                        a.btn.btn-outline-white.btn-block.mb-1.text-left(href='https://www.dezshira.com/services/business-advisory')
                            i.ml-1.icon-long-arrow-right.float-right  
                            |  Contract Review  
                        a.btn.btn-outline-white.btn-block.mb-1.text-left(href='https://www.dezshira.com/services/tax')  
                            i.ml-1.icon-long-arrow-right.float-right
                            | Tax Restructuring  
                        a.btn.btn-outline-white.btn-block.text-left(href='https://www.dezshira.com/services/business-intelligence-solutions')
                            | Investment  Country Comparison  
                            i.ml-1.icon-long-arrow-right.float-right                         
    section.light-blue-bg.pt-3.pb-3
            .container
                .grid
                    .col-sm.col-md-2.col-lg-1.col-xlg-1.offset-md-1.offset-lg-2.offset-xlg-2.text-right.text-align-left-xs.text-align-left-sm
                        a(href='register.html')
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                    .col-sm.col-md-8.col-lg-7.col-xlg-7.col-grid
                        h4.pt-2 CONTACT US
                        h1
                            a(href='register.html')
                            | Enquire for more information about our services, and how we can help solve challenges for your organization.                                              
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
