doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header
    section.banner.banner-CV
        img(alt='', src='https://www.asiabriefing.com/mockups/dsa-mockup/coronavirus-landingpage/v3/ac-banner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Corporate Virtual CFO Service 
                    p Agile guidance and oversight for the financial and operational management of your Asia company.                 
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-1.offset-lg-1.offset-xlg-1
                        h2
                            | How a Virtual CFO can help your Organisation
                        p
                            | A Dezan Shira & Associates’ Virtual CFO is an on-the-ground resource who works closely with your team to help you achieve your financial objectives, on an interim or annual basis. Your ‘vCFO’ can provide a customized range of services, relating to the guidance and oversight of financial budgeting, tax & cash flow management and more (further explained below). Such resources are not only better able to connect your local and group financial organizations, they are also backed by our teams of CPAs, tax professionals, accountants, lawyers and other experts - all at a fraction of the cost of an internal CFO.
                    .col-sm.col-md-4.col-lg-4.col-xlg-4
                        a(href='#')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/covid19/ceo-working.jpg') 
    section.pt-7.pb-7.gray-light-bg
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                    h3.mb-3 Virtual CFO Services
                    .light-blue-bg
                            .col-sm.col-md-12.col-lg-12.col-xlg-12
                                h4.pl-3 Services that a Virtual CIO can Provide your Company:
                            .col-sm.col-md-5.col-lg-5.col-xlg-5.col-bleed-x.col-bleed-y
                                ul
                                    li Act as a point of contact for Group CFO / Financial Controller
                                    li Recruitment &amp; supervision of internal finance teams;
                                    li Budget development, tracking and analysis 
                                    li Management of bookkeeping
                                    li Cashier Management
                                    li Cash flow forecasting
                                    li Coordination of Audit and Reporting
                                    li Oversight of financial statements and tax filing preparation and submissions;
                                    li Analysis &amp; interpretation of financial results
                                    li Payroll processing
                                    li Internal control structuring
                            .col-sm.col-md-5.col-lg-5.col-xlg-5.col-bleed-x.col-bleed-y
                                ul
                                    li Tax planning and optimization
                                    li Transfer pricing advisory and coordination
                                    li Periodic virtual meetings with group CFO or Board
                                    li
                                        | Review of selected operational aspects, eg: overall expenses;  contract templates; etc.
                                    li Maintenance of bank &amp; tax office relationships 
                                    li
                                        | Guidance and coordination of supplier contract review, dispute resolution, and negotiation.
                                    li Coordination of DSA internal resources and external resources (if applicable)
                                    li Support DSA-supported local expense reimbursement management app.
                    h3.mt-3 Key Benefits
                    p A virtual CFO for your regional Asia business can be far more cost efficient than sending an executive from your own organization to lead your strategic financial operations. Yet, doing so also provides local expertise which can guide your firm through its phases – from early growth, through challenges and transformation, to restructuring and optimized profit strategies. This may of particular value during an interim or transition period, or as a stage in your company’s development.
                    p A Virtual CFO (vCFO) also provides your organization with expertise more robust and dynamic than an internal hire. Backed by teams of multi-disciplinary service experts, you gain through the vCFO, ready access to experts in the areas of law human resources, payroll, technology and other disciplines.
                    p With a Dezan Shira & Associates vCFO, capability to provide comprehensive support exceeds that of even larger accounting firms. Our ‘blended services operating model’ enables smooth intra-team collaboration on projects. This ensures that our clients receive fluid, practical cross-disciplinary corporate services, to meet their changing needs.
                    p More concretely, this capability can provide rapid access to performing legal contract reviews, gaining advice on HR law, revising employment policies to adapt to recent regulatory changes, or presenting options for corporate restructuring, profit repatriation, auditing, improved IT infrastructure, and more.
                    p Temporary or outsourced CFOs and CHRO’s can take more practical and unbiased views of potential impacts to your company, to provide guidance to, or complement your in-house teams. An external advisor or manager can be more objective when looking at which tasks to undertake in many situations. It can sometimes be particularly difficult for local internal teams to remain unbiased when monetary, contract and relationship factors conflict, or do not align with the profit and compliance strategies that are optimal for or were set out by your organization.
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                    h3.mb-3 Choose the Services you’re your Organisation Needs:

                    p Our approach depends upon your requirements and which package best suits your organization. Below are some of our most popular packages:

                    a(href='#')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/vCFO/packages.png')  
    section.pt-7.pb-7.gray-light-bg
        .container     
                .grid
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                        h2.text-center
                            | How to Get Started
                    .col-sm.col-md-5.col-lg-5.col-xlg-5.offset-md-2.offset-lg-2.offset-xlg-2
                        
                        p
                            | Whether you are seeking a temporary or more long-term solution, a Dezan Shira & Associates vCFO can help you to improve to your financial management and operations. Our experts would like to learn more about your organization, and the challenges and opportunities, and then share ideas for how we can help you to achieve your 2020 finance and operations objectives.
                        p
                            | We invite you to contact us or learn more about the services we offer:
                        ul
                            li
                                a(href='https://www.dezshira.com/contact')
                                strong Enquire about our Virtual CFO services. 
                            li
                                | Explore our related 
                                a(href='https://www.dezshira.com/services')
                                strong Accounting, Audit &amp; Risk Advisory, Due Diligence, HR and Tax Services.
                            li
                                | Learn more about  
                                a(href='https://www.dezshira.com/about-us/our-firm.html')
                                strong Dezan Shira &amp; Associates
                    .col-sm.col-md-3.col-lg-3.col-xlg-3
                        a(href='#')
                            img.flex-img(src='https://www.asiabriefing.com/mockups/dsa-mockup/coronavirus-landingpage/v3/contact-w.jpg')                                                       
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
