doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header-blueV2
    section.banner.banner-CV
        img(alt='', src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/Virtual-CIO.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Digitalizing our Guides 
                    p Vietnam has one of the oldest cultures in Southeast Asia. While national identity can be complex given Vietnam’s history.
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h1.text-center
                            | An Introduction to Vietnam
                        p.text-center
                            | Vietnam has one of the oldest cultures in Southeast Asia. While national identity can be complex given Vietnam’s history, locals are proud of their language and its complexities, as well as the distinctiveness of their society and culture. The expression dat viet (Vietnamese land), for example, encapsulates the notion that Vietnamese society have an organic relationship to their environment.

                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Business etiquette 101 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Legal and political structure  
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Business attire  
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') The concept of face 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Eating and drinking
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Safety  
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more
    section.pb-7
      .container
        // resources
        h3.mb-02.text-center Read Our Publications
        .grid
          .col-sm.col-md-12.col-lg-12
            .glide.publications.grey-bg.glide--ltr.glide--carousel.glide--swipeable
              .glide__track(data-glide-el='track')
                .glide__slides
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6629/RB_2016_12_Implementing_Internal_Policies_in_Russia_-_Cover.jpg', srcset='//resource.dezshira.com/Publications/6629/RB_2016_12_Implementing_Internal_Policies_in_Russia_-_Cover.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/implementing-internal-policies-in-russia-6629.html') Implementing Internal Policies in Russia
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/implementing-internal-policies-in-russia-6629.html') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg', srcset='//resource.dezshira.com/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/russia-investment-roadmap-the-e-commerce-industry-6518.html') Russia Investment Roadmap: the e-Commerce Industry
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/russia-investment-roadmap-the-e-commerce-industry-6518.html') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6403/A_Guide_to_IT_Nearshoring_Image.jpg', srcset='//resource.dezshira.com/Publications/6403/A_Guide_to_IT_Nearshoring_Image.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/a-guide-to-it-nearshoring-in-russia-belarus-and-ukraine-6403.html') A Guide to IT Nearshoring in Russia, Belarus and Ukraine
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/a-guide-to-it-nearshoring-in-russia-belarus-and-ukraine-6403.html') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/5185/Silk_Road_-_Cover_1.jpg', srcset='//resource.dezshira.com/Publications/5185/Silk_Road_-_Cover_1.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593')
                          | China&apos;s New Economic Silk Road: The Great Eurasian Game &amp; The String of Pearls (PDF Download Version)
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/7880/CB_2018_10_RU_Cover.jpg', srcset='//resource.dezshira.com/Publications/7880/CB_2018_10_RU_Cover.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/International-e-commerce-in-china-7880.html') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&acy;&yacy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &tcy;&ocy;&rcy;&gcy;&ocy;&vcy;&lcy;&yacy; &vcy; &Kcy;&icy;&tcy;&acy;&iecy;
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/International-e-commerce-in-china-7880.html') Quick View 
                  // /item
                  // </div>
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/7177/Establishing_a_Foreign_Business_in_Russia_-_Cover_Image_1.jpg', srcset='//resource.dezshira.com/Publications/7177/Establishing_a_Foreign_Business_in_Russia_-_Cover_Image_1.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/establishing-a-foreign-business-in-russia-7177.html') Establishing a Foreign Business in Russia 
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/establishing-a-foreign-business-in-russia-7177.html') Quick View 
                  // /item
                  // </div>
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6629/RB_2016_12_Implementing_Internal_Policies_in_Russia_-_Cover.jpg', srcset='//resource.dezshira.com/Publications/6629/RB_2016_12_Implementing_Internal_Policies_in_Russia_-_Cover.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/implementing-internal-policies-in-russia-6629.html') Implementing Internal Policies in Russia
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/implementing-internal-policies-in-russia-6629.html') Quick View 
                  // /item
                  // </div>
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg', srcset='//resource.dezshira.com/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/russia-investment-roadmap-the-e-commerce-industry-6518.html') Russia Investment Roadmap: the e-Commerce Industry
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/russia-investment-roadmap-the-e-commerce-industry-6518.html') Quick View 
                  // /item
                  // </div>
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6403/A_Guide_to_IT_Nearshoring_Image.jpg', srcset='//resource.dezshira.com/Publications/6403/A_Guide_to_IT_Nearshoring_Image.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/a-guide-to-it-nearshoring-in-russia-belarus-and-ukraine-6403.html') A Guide to IT Nearshoring in Russia, Belarus and Ukraine
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/a-guide-to-it-nearshoring-in-russia-belarus-and-ukraine-6403.html') Quick View 
                  // /item
                  // </div>
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/5185/Silk_Road_-_Cover_1.jpg', srcset='//resource.dezshira.com/Publications/5185/Silk_Road_-_Cover_1.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593')
                          | China&apos;s New Economic Silk Road: The Great Eurasian Game &amp; The String of Pearls (PDF Download Version)
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593') Quick View 
                  // /item
                  // </div>
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/7880/CB_2018_10_RU_Cover.jpg', srcset='//resource.dezshira.com/Publications/7880/CB_2018_10_RU_Cover.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/International-e-commerce-in-china-7880.html') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&acy;&yacy; &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &tcy;&ocy;&rcy;&gcy;&ocy;&vcy;&lcy;&yacy; &vcy; &Kcy;&icy;&tcy;&acy;&iecy;
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/International-e-commerce-in-china-7880.html') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/7177/Establishing_a_Foreign_Business_in_Russia_-_Cover_Image_1.jpg', srcset='//resource.dezshira.com/Publications/7177/Establishing_a_Foreign_Business_in_Russia_-_Cover_Image_1.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/establishing-a-foreign-business-in-russia-7177.html') Establishing a Foreign Business in Russia 
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/establishing-a-foreign-business-in-russia-7177.html') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6629/RB_2016_12_Implementing_Internal_Policies_in_Russia_-_Cover.jpg', srcset='//resource.dezshira.com/Publications/6629/RB_2016_12_Implementing_Internal_Policies_in_Russia_-_Cover.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/implementing-internal-policies-in-russia-6629.html') Implementing Internal Policies in Russia
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/implementing-internal-policies-in-russia-6629.html') Quick View 
                  .item
                    img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg', srcset='//resource.dezshira.com/Publications/6518/RB_2016_10_Russia_Investment_Roadmap_-_the_e-Commerce_Industry_Image.jpg 2x')
                    .hover-content.text-center
                      h5.text-white
                        a(href='http://www.asiabriefing.com/store/book/russia-investment-roadmap-the-e-commerce-industry-6518.html') Russia Investment Roadmap: the e-Commerce Industry
                      a.btn.btn-outline-white(href='http://www.asiabriefing.com/store/book/russia-investment-roadmap-the-e-commerce-industry-6518.html') Quick View 
                // /grid
              // /track
              div(data-glide-el='controls')
                button.glide-next(data-glide-dir='>')
                  span.arrow.right-arrow
                button.glide-prev(data-glide-dir='<')
                  span.arrow.left-arrow
            // glide
          // /col

    section.light-blue-bg.pt-3.pb-3
            .container
                .grid
                    .col-sm.col-md-2.col-grid.offset-md-1.offset-lg-1.offset-xlg-1.text-right.text-align-left-xs.text-align-left-sm
                        a(href='register.html')
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.col-grid
                        h4.pt-2 SUBSCRIBE
                        h1
                            a(href='register.html')
                                | Join over thousands of people who receive weekly foreign investment news in Asia
                                               
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
