doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header
    section.banner.banner-CV
        img(alt='', src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/Virtual-CIO.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Digitalizing our Guides 
                    p Vietnam has one of the oldest cultures in Southeast Asia. While national identity can be complex given Vietnam’s history.
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h1.text-center
                            | An Introduction to Vietnam
                        p.text-center
                            | Vietnam has one of the oldest cultures in Southeast Asia. While national identity can be complex given Vietnam’s history, locals are proud of their language and its complexities, as well as the distinctiveness of their society and culture. The expression dat viet (Vietnamese land), for example, encapsulates the notion that Vietnamese society have an organic relationship to their environment.

                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid.offset-md-2.offset-lg-2.offset-xlg-2
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Business etiquette 101 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Legal and political structure  
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more  

    section.pt-5.pb-5.gray-light-bg
        .container     
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h1.text-center
                            | How to Set Up in Vietnam?
                        p.text-center
                            | Due to the country’s complex legal processes, when establishing a company in Vietnam, we recommend that professional assistance be sought in order to guide companies through the setup process and to help them understand the roles and responsibilities of key positions. This will help ensure that your company is set up for success.

                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Set up procedures 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Intellectual property 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more  
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Resources/8400/China-Briefing-Investing-in-ChinaCus-Economic-Development-Zones.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Vietnam’s free trade agreements       
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more


    section.pt-5.pb-5
            .container 
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h1.text-center
                            | Tax and Accounting
                        p.text-center
                            | Many small and medium sized businesses are prioritizing investments in Vietnam and are acting on the business potential it holds. In this chapter, we examine the tax landscape so that new investors can better understand their in-country tax exposure before setting-up.
                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Vietnam’s major taxes 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Accounting and Bookkeeping
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more 
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Introduction to Transfer Pricing 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more 
    section.pt-5.pb-5.gray-light-bg
        .container     
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h1.text-center
                            | HR and Payroll 
                        p.text-center
                            | Due to the country’s complex legal processes, when establishing a company in Vietnam, we recommend that professional assistance be sought in order to guide companies through the setup process and to help them understand the roles and responsibilities of key positions. This will help ensure that your company is set up for success.

                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') How do I hire staff? 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Types of visas 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more  
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card.zoom-on-hover
                            .card-header-img
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Resources/8400/China-Briefing-Investing-in-ChinaCus-Economic-Development-Zones.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Employment contracts in Vietnam        
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-light-blue.mt-2(target='_top', href='#') Read more


                                                   
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
