doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header-blueV2
    section.banner.banner-CV
        img(alt='', src='https://www.asiabriefing.com/mockups/dsa-mockup/coronavirus-landingpage/v3/Digital-Expense.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Digital Expense Management 
                    p Optimize your employee and company expense administration and approvals from any location.                    
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-1.offset-lg-1.offset-xlg-1
                        
                        h2
                            | Optimize expenses processing, anywhere-anytime.
                        p
                            | Managing employees’ expenses digitally in China is a powerful way to optimize and speed up business administration, simplify remote submissions and approvals, and minimize expense and approval errors. It is also a fundamental element for improving your internal control management.
                        p
                            | Dezan Shira & Associates helps clients to manage their employee reimbursement and vendor payment procedures, using software that facilitates the digitization and application and approval of expenses via a mobile and desktop APP. Our solutions make staff reimbursement applications highly efficient, streamlining the monthly accounting processes, and provide greater transparency and real-time detailed expenses reporting.
                        p
                            | We offer our digital Expense Management solutions as a value-added component to our accounting services customers, or to other customers as a stand-alone service solution that we can help them to integrate within their current accounting processes and technology environments.

                    .col-sm.col-md-4.col-lg-4.col-xlg-4
                        img.flex-img(src='https://www.asiabriefing.com/mockups/dsa-mockup/coronavirus-landingpage/v3/mobile-phone.jpg') 
    section.pt-7.pb-7.gray-light-bg
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2.pb-5
                    h3.mb-3 How Companies can use it to Optimize their Expense workflows:
                    div(itemscope='', itemtype='https://schema.org/VideoObject')
                    meta(itemprop='uploadDate', content='Tue Feb 25 2020 15:24:59 GMT+0545 (Nepal Time)')
                    meta(itemprop='name', content='Digital Expense Management: Reimbursement')
                    meta(itemprop='duration', content='PT2M46.02S')
                    meta(itemprop='thumbnailUrl', content='https://content.jwplatform.com/thumbs/nb22uavT-1280.jpg')
                    meta(itemprop='contentUrl', content='https://content.jwplatform.com/videos/nb22uavT-RPafXtEf.mp4')
                    script(src='https://cdn.jwplayer.com/players/nb22uavT-lKmNhB9Q.js')

                .col-sm.col-md-3.col-lg-3.col-xlg-3.offset-md-2.offset-lg-2.offset-xlg-2
                    h4 Integrated with China’s Pay Environment
                    p The integrated data services not only verify ‘fapaio receipts’ validity, but add rich expense details, provided by some of the most frequently used suppliers in China for travel, office equipment and supplies, and banking and credits cards.
                .col-sm.col-md-5.col-lg-5.col-xlg-5
                     img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/digital-expense-management/digital-expense-management.png') 
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                    h3.mb-3 Key Benefits
                    .table-responsive
                      table.table.table-striped.table-bordered
                        thead
                          tr
                            th(style='border: none; height: 70px;', width='10%')
                            th.light-blue-bg(style='border: none; height: 70px;', width='45%') Normal/Classic Expense Management: 
                            th.dark-light-blue-bg(colspan='2', style='border: none; height: 70px;', width='45%') Digital Expense Management 
                        tbody
                          tr
                            th.dark-blue-bg(scope='row', width='10%') Claims Process
                            td(width='44%')
                              | Slow and time-consuming manual processing of all steps:
                              ul
                                li Input of receipts and expense data - slow and prone to error. 
                                li Creating expense reports,  - Submitting and discussing reports,
                                li Gaining approvals, and manual processing.
                            td(width='2%')
                              | &rarr;
                            td(width='44%')
                              | Quick to execute steps, within a streamlined process:
                              ul
                                li
                                  | Scan expenses via mobile APP (99% fapiao recognition), to save time and increase expense input accuracy.
                                li
                                  | Mobile App collects expenses for report submittals to be routed automatically for easy approval and processing.
                          tr
                            th.dark-blue-bg(scope='row') Receipt Validation
                            td
                              ul
                                li Verifying genuine receipts is time consuming,
                                li Redo&rsquo;s due to improper receipts is a time-loss. 
                                li Gaining approvals, and manual processing.
                            td
                              | &rarr;
                            td
                              ul
                                li
                                  | Scanned expenses via mobile APP already auto-validated with the tax bureau system at time of submission.
                                li Can automatically identify previously submitted fapiaos. 
                          tr
                            th.dark-blue-bg(scope='row') Internal Control
                            td
                              ul
                                li
                                  | Depends on manual verifications of many steps: receipt validity; expense allocation to category; matching the receipt to the claim;
                                li
                                  | Often hindered by knowledge gaps between departments about expenses, and across the languages of receipt, submitters and approvers.
                            td
                              | &rarr;
                            td
                              ul
                                li Expenses allocated to match your COA categories (flexible to configure).
                                li
                                  | Bilingual CHN-ENG APP allows expense, submission and approval steps be performed across languages, case by case.
                          tr
                            th.dark-blue-bg(scope='row') Reports 
                            td
                              ul
                                li Historical cost analyses are challenging to manually compile 
                                li Analysis of spend trends and details is difficult 
                                li - Graphical representations if any are manually &ldquo;built&rdquo;. 
                            td
                              | &rarr;
                            td
                              ul
                                li Historical expense reports available within the APP
                                li Cross-period reporting and drill down detail 
                                li Graphical analysis to provide quicker trend insights
                          tr
                            th.dark-blue-bg(scope='row') Data Capture
                            td
                              ul
                                li Expense transactions entered manually into ERP system
                                li Limited amount of data enters system 
                                li Risk of human error is higher 
                            td
                              | &rarr;
                            td
                              ul
                                li Scan fapiaos with phone camera
                                li Data synced with AP and T&amp;E modules in ERP 
                                li Subsequent GL transactions populated from these modules 
                                li Far lower risk of manual entry error 
                          tr
                            th.dark-blue-bg(scope='row') Scalability 
                            td
                              | As you grow to larger operational scales,
                              ul
                                li Processing workloads increases in step with scale. 
                                li
                                  | Managing internal controls compounds in its increased importance and difficulty, without the right digital systems.
                            td
                              | &rarr;
                            td
                              | As you grow to larger operational scales,
                              ul
                                li Workloads decrease, compounding efficiency optimization
                                li Data synced with AP and T&amp;E modules in ERP 
                                li
                                  | Managing internal controls remains inherently improved, while processes are adaptable to more stringent measures.



    section.pt-7.pb-7.gray-light-bg
        .container     
                .grid
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                        h2.text-center
                            | How to Get Started
                    .col-sm.col-md-5.col-lg-5.col-xlg-5.offset-md-2.offset-lg-2.offset-xlg-2
                        p
                            | Implementing Digital Expense Management into your company, is quick and painless. For small firms that have simple expense categories and approvals processes, only minor configuration is needed and can be up and running within one to three days.
                        p
                            strong We invite you to get started today and further explore the benefits that Digital Expense Management can deliver to your organization:
                        ul.list-blue-border
                            li
                                a(href='https://www.dezshira.com/contact')
                                  strong Enquire about Digital Expense Management.
                            li
                                | Explore our related 
                                a(href='https://www.dezshira.com/services/accounting-reporting')
                                  strong Accounting Services
                                |  or 
                                a(href='https://www.dezshira.com/services/information-technology-solutions')
                                  strong Technology Services
                            li
                                | Learn more about  
                                a(href='https://www.dezshira.com/about-us/our-firm.html')
                                  strong Dezan Shira &amp; Associates

                    .col-sm.col-md-3.col-lg-3.col-xlg-3
                        a(href='#')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/digital-expense-management/mobile-app-zoom.jpg')                                                       
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
