doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header
    section.banner.banner-CV
        img(alt='', src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/Virtual-CIO.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 An Introduction to Vietnam1 
                    p Vietnam has one of the oldest cultures in Southeast Asia. 
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h2
                            | Business etiquette 101
                        p
                            | Vietnam has one of the oldest cultures in Southeast Asia. While national identity can be complex given Vietnam’s history, locals are proud of their language and its complexities, as well as the distinctiveness of their society and culture. The expression dat viet (Vietnamese land), for example, encapsulates the notion that Vietnamese society have an organic relationship to their environment.
                        p
                            | Since the introduction of Doi Moi – or ‘renovation’ policy – in the 1980s, which began the transition from the country’s socialist economy to a market economy, Vietnam has experienced many significant changes, including a rise in the standard of living. These factors have in turn inspired a flurry of foreign businesses looking to start operations or expand in the country.
                        p
                            | But for those planning to do business in Vietnam for the first time, it is important to learn about the country’s vibrant culture and traditions. Those that do will find it easier to work in the country.  
                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Greetings in Vietnam
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Business protocols and nuances 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more  
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Resources/8400/China-Briefing-Investing-in-ChinaCus-Economic-Development-Zones.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Business attire                            
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Publications/8491/RB_2019_03_issue_Cover.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') The concept of ‘face’
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Publications/8492/RB_2018_issue_09_RU_Cover.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Eating and drinking 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more  
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Publications/8478/CB_Mag_2019_10_issue_Cover.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Safety                            
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
    section.pt-5.pb-5
        .container     
                .grid
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h2
                            | How to Set Up in Vietnam?
                        p
                            | Due to the country’s complex legal processes, when establishing a company in Vietnam, we recommend that professional assistance be sought in order to guide companies through the setup process and to help them understand the roles and responsibilities of key positions. This will help ensure that your company is set up for success.

                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Phase 1 – Corporate structure
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Phase 2 – Four step set up guide 
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more  
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Resources/8400/China-Briefing-Investing-in-ChinaCus-Economic-Development-Zones.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Charter capital                            
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .grid.pt-5
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h2
                            | Intellectual property
                        p
                            | Vietnam’s National Assembly passed the Law on Intellectual Property Rights (IPRs) in 2005, which forms the basis for IP protection within the country. In September 2010 and October 2013, in an effort to strengthen the protection of IPRs after entering into a Bilateral Trade Agreement (BTA) with the US and participation in the World Trade Organization (WTO), the government issued stricter administrative sanctions for violations of industrial property rights, along with some important changes to IPR regulations in Vietnam.
                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Domestic protection
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') International protection
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more  
                .grid.pt-5
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h2
                            | Vietnam’s free trade agreements
                        p
                            | Free trade agreements (FTAs) are when two or more countries agree on the terms of trade between them. They determine the value of tariffs and duties that countries impose on imports and exports. In 2007, with Vietnam’s ascension into the World Trade Organization (WTO) – it took a significant step integrating with world trade and subsequently entering into several free trade agreements.

                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') FTAs – The benefits
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Challenges posed by FTAs
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more  
                .grid.pt-5
                    .col-sm.col-md.col-lg.col-xlg
                        
                        h2
                            | Tax and Accounting
                        p
                            | Many small and medium sized businesses are prioritizing investments in Vietnam and are acting on the business potential it holds. In this chapter, we examine the tax landscape so that new investors can better understand their in-country tax exposure before setting-up.
                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Business license Tax (BLT)
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Corporate Income Tax (CIT)
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more 
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Value-added Tax (VAT)
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more 
                .grid
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8416/China_Regulatory_Watch_-_September_2_2019.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Special Consumption Tax (SCT)
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more   
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Customs duties
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more 
                    .col-sm-6.col-md-4.col-lg-4.col-grid
                        .card
                            .card-header-img.zoom-on-hover
                                a(href='asiapedia-single.html')
                                    img(src='https://resource.dezshira.com/resize/650x400/Multimedia/8401/India-Briefing-Special-Economic-Zones-in-Mumbai-Navi-Mumbai-and-Thane-3.jpg')
                            .card-body.text-center
                                h3
                                    a(href='asiapedia-single.html') Foreign Contractor Tax (FCT)
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
                                .text-center
                                    a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more 

                                                   
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
