doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/das-events-banner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 German/Deutsche] Einführung in die Lieferantennetzwerke in Nordvietnam
                    H5 Webinar | Donnerstag, 28. November 16 Uhr (GMT+7)       
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-grid
                    p
                        | Nehmen Sie am Donnerstag, den 28. November, um 16:00 Uhr vietnamesischer Zeit (GMT + 7) an unserem Webinar teil, in dem Beschaffung und Herstellung in Nordvietnam er&ouml;rtert wird.
                    p
                        | Seit Beginn des Handelskrieges zwischen den USA und China im Januar 2018 wurden die globalen Supply-Chain-Netzwerke unterbrochen, was mehrere ausl&auml;ndische Investoren dazu veranlasste, nach Alternativen f&uuml;r die Herstellung zu suchen.
                    p
                        | Trotz einiger Herausforderungen hat sich Vietnam und insbesondere Nordvietnam schnell als ernstzunehmende Alternative zu China etabliert. Die Region ist bekannt f&uuml;r ihre vorteilhafte Position als Drehscheibe f&uuml;r die Herstellung im Schema &bdquo;China Plus One&ldquo;&nbsp; &ndash; f&uuml;r Investoren mit zeitkritischen Produktionsketten, insbesondere beim Versand von Komponenten aus Fabriken in China.
                    p
                        | Daher ist die Identifizierung lokaler Hersteller, die f&uuml;r die Herstellung von Zielkomponenten/-produkten qualifiziert sind, eines der Hauptziele der Investoren, die nach Vietnam kommen.
                    p
                        | In diesem Webinar helfen wir Investoren dabei, die Lieferanten in Nordvietnam besser zu verstehen. Dazu geh&ouml;ren:
                    ul
                        li Wo befinden sich die Hauptproduktionsst&auml;tten?
                        li Auf welche Branchen konzentrieren sich die lokalen Zulieferer?
                        li
                            | Was sollten Unternehmen bei der Beschaffung und Lieferantenauswahl in Vietnam beachten?
                    h4.section-title.mt-3.mb-2
                        a(href='#') Speaker
                    ul.list.lists-img-thumbnail
                        li
                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/maria-kotova.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='http://www.leadingedgealliance.com/', target='_blank',) Maria Kotova 
                                    p
                                        | Head of UK and Ireland Business Development  
                                        a(href='http://www.leadingedgealliance.com/', target='_blank')
                                            strong Shanghai Office            
                .col-sm.col-md-4.col-lg-4.col-grid
                    h4.section-title JOIN OUR COMMUNITY
                    .card.dark-blue-bg.mb-2.p-arround-3
                        h2 Nov 28, 2019
                        small.text-muted Location & Time
                        h4 10 - 11.30 AM | Sheraton Saigon Hotel & Towers, Ho Chi Minh City, Vietnam 
                        small.text-muted VENUES
                        h4 Sheraton Saigon Hotel & Towers                                                       
    section.light-blue-bg.pt-3.pb-3
        .container
            .grid
                .col-sm.col-md-2.col-grid.offset-md-1.offset-lg-1.offset-xlg-1.text-right.text-align-left-xs.text-align-left-sm
                    a(href='https://www.dezshira.com/register.html')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                .col-sm.col-md-8.col-lg-8.col-xlg-8.col-grid
                    h4.pt-2 NEVER MISS A CHANCE TO CONNECT
                    h1
                        a(href='https://www.dezshira.com/register.html')
                        | Exchange ideas, build networks, make the right connections, with regular event updates specific to your region
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 