doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header-blueV2
    section.banner.banner-CV
        img(alt='', src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/Virtual-CIO.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 An Introduction to Doing Business in Vietnam 2020
                    p An Introduction to Doing Business in Vietnam 2020 will provide readers with an overview of the fundamentals of investing and conducting business in Vietnam.
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md-9.col-lg-9.col-xlg-9
                        
                        h2
                            | An Introduction to Vietnam
                        p
                            | An Introduction to Doing Business in Vietnam 2020 will provide readers with an overview of the fundamentals of investing and conducting business in Vietnam. Vietnam’s growth has accelerated in recent years in part due to the US-China trade war. In addition to building the country’s export capacity through the private sector, the government has pursued strategies 
                            a(href='https://leaglobal.com/index.cfm?fuseaction=dsp_power', target='_blank')
                                strong destination for business. We hope this business
                            | to join several free trade agreements. All these factors make Vietnam an attractive destination for business. We hope this business guide will provide investors with an insight into key aspects of undertaking and doing business in Vietnam.

                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Non sodales neque sodales ut etiam sit amet nisl. Risus nullam eget felis eget nunc. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Varius duis at consectetur lorem donec massa sapien faucibus. Rhoncus mattis rhoncus urna neque. Et netus et malesuada fames ac turpis egestas sed. Nunc congue nisi vitae suscipit tellus mauris. Laoreet sit amet cursus sit amet dictum sit amet justo. Et netus et malesuada fames. Enim ut tellus elementum sagittis vitae et leo. Aenean et tortor at risus viverra adipiscing. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada. Arcu dictum varius duis at consectetur lorem donec massa sapien.

                        ul
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            li sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            li Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            li laboris nisi ut aliquip ex ea commodo consequat. 
                        p
                            | Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Varius duis at consectetur lorem donec massa sapien faucibus. Rhoncus mattis rhoncus urna neque. Et netus et malesuada fames ac turpis egestas sed. Nunc congue nisi vitae suscipit tellus mauris. Laoreet sit amet cursus sit amet dictum sit amet justo. 
                        figure
                            .post-image 
                                img.flex-img.border-gray(src='assets/img/Global Growth Forecast-2020.svg', alt='' data-dark='assets/img/Global Growth Forecast-2020.svg')
                                .caption.gray-light-bg.p-arround-2.text-center.mb-3
                                    | At tempor commodo ullamcorper a lacus vestibulum sed arcu. Adipiscing diam donec adipiscing tristique risus nec feugiat

                        p
                            | Sit amet risus nullam eget felis eget nunc. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Rutrum quisque non tellus orci ac auctor augue. Adipiscing bibendum est ultricies integer quis. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Adipiscing diam donec adipiscing tristique risus nec feugiat. Malesuada fames ac turpis egestas maecenas. Amet facilisis magna etiam tempor. Amet consectetur adipiscing elit ut aliquam. Sed risus ultricies tristique nulla aliquet enim. Congue quisque egestas diam in arcu cursus euismod. Adipiscing tristique risus nec feugiat in. In eu mi bibendum neque egestas congue quisque egestas diam. Tempus egestas sed sed risus pretium quam vulputate dignissim. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Faucibus a pellentesque sit amet porttitor eget. Nisl nisi scelerisque eu ultrices vitae. Etiam non quam lacus suspendisse faucibus interdum posuere. Sed libero enim sed faucibus turpis in eu mi bibendum.
                        blockquote.mt-4.mb-4(cite='')
                            | For 50 years, WWF has been protecting the future of nature.
                            | The world&apos;s leading conservation organization,
                            | WWF works in 100 countries and is supported by
                            | 1.2 million members in the United States and
                            | close to 5 million globally.
                        h2
                            | Vel quam elementum pulvinar etiam non quam lacus suspendisse
                        p
                            | Nulla facilisi etiam dignissim diam quis enim. Eget magna fermentum iaculis eu non diam phasellus. Morbi tristique senectus et netus. Eu facilisis sed odio morbi quis commodo odio aenean. Risus at ultrices mi tempus. Pharetra pharetra massa massa ultricies. Ut porttitor leo a diam sollicitudin. Eu feugiat pretium nibh ipsum consequat nisl. Ultrices neque ornare aenean euismod elementum. Lectus nulla at volutpat diam ut venenatis tellus. Lobortis mattis aliquam faucibus purus in. At lectus urna duis convallis convallis tellus. Vel quam elementum pulvinar etiam non quam lacus suspendisse. Sollicitudin nibh sit amet commodo nulla. 
                        .full-width-content
                            figure
                                .post-image     
                                    img.flex-img.border-gray(src='assets/img/Table.svg', alt='' data-dark='assets/img/Table.svg')
                                .caption.gray-light-bg.p-arround-2.text-center.mb-3
                                    | At tempor commodo ullamcorper a lacus vestibulum sed arcu. Adipiscing diam donec adipiscing tristique risus nec feugiat
                        p
                            | Nulla facilisi etiam dignissim diam quis enim. Eget magna fermentum iaculis eu non diam phasellus. Morbi tristique senectus et netus. Eu facilisis sed odio morbi quis commodo odio aenean. Risus at ultrices mi tempus. Pharetra pharetra massa massa ultricies. Ut porttitor leo a diam sollicitudin. Eu feugiat pretium nibh ipsum consequat nisl. Ultrices neque ornare aenean euismod elementum. Lectus nulla at volutpat diam ut venenatis tellus. Lobortis mattis aliquam faucibus purus in. At lectus urna duis convallis convallis tellus. Vel quam elementum pulvinar etiam non quam lacus suspendisse. Sollicitudin nibh sit amet commodo nulla. 
                        a.btn.btn-outline-dark(href='#', role='button') Back to more guides


                    .col-sm.col-md-3.col-lg-3.col-grid                                    
                        h4.section-title.mb-0 RELATED READING
                        .gray-light-bg.p-arround-2
                            .card.mb-2
                                .card-header-img.zoom-on-hover
                                    a(href='http://dezshira.in/library/publications/relocating-business-china-asean.html')
                                        img(src='https://resource.dezshira.com/resize/650x400/Publications/8559/ASB_2019_16_issue_Cover.jpg')
                                .card-body.pr-2.pl-2
                                    h4.text-left
                                        a(href='http://dezshira.in/library/publications/relocating-business-china-asean.html') Relocating Your Business from China to ASEAN
                                    small.text-muted March 26, 2020
                                    p ASEAN countries have become an alluring destination for Chinese-based businesses looking to benefit from the cost-savings of relocating...
                            .card.mb-2
                                .card-header-img.zoom-on-hover
                                    a(href='http://dezshira.in/library/publications/mergers-acquisitions-vietnam.html')
                                        img(src='https://resource.dezshira.com/resize/650x400/Publications/8549/VB_2019_12_issue_Cover_1.jpg')
                                .card-body.pr-2.pl-2
                                    h4.text-left
                                        a(href='http://dezshira.in/library/publications/mergers-acquisitions-vietnam.html') Mergers and Acquisitions in Vietnam
                                    small.text-muted March 26, 2020
                                    p Seven years since joining the World Trade Organization (WTO), Vietnam remains committed to integrating further into the world economy...
                            .card.mb-2
                                .card-header-img.zoom-on-hover
                                    a(href='http://dezshira.in/library/publications/da-nang-vietnam-emerging-investment-destination.html')
                                        img(src='https://resource.dezshira.com/resize/650x400/Publications/8516/VB_2019_11_issue_Cover_1.jpg')
                                .card-body.pr-2.pl-2
                                    h4.text-left
                                        a(href='http://dezshira.in/library/publications/da-nang-vietnam-emerging-investment-destination.html') Da Nang: Vietnam’s Emerging Investment Destination
                                    small.text-muted March 26, 2020
                                    p Da Nang has emerged as an attractive investment destination for domestic and international investors, followed only by the capital Hanoi...




    section.light-blue-bg.pt-3.pb-3
            .container
                .grid
                    .col-sm.col-md-2.col-grid.offset-md-1.offset-lg-1.offset-xlg-1.text-right.text-align-left-xs.text-align-left-sm
                        a(href='register.html')
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.col-grid
                        h4.pt-2 SUBSCRIBE
                        h1
                            a(href='register.html')
                                | Join over thousands of people who receive weekly foreign investment news in Asia
                                               
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
