doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Custom CSS
    link(rel='stylesheet' href='assets/css/style.css' type='text/css' )
    link(rel='stylesheet' href='assets/css/vendor/glide.css' type='text/css' )
    title Dezan Shira & Associates!
body
    #wrapper
        include components/_header
        section.banner
            img(alt='' src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-History-banner.jpg')    
            .container
                .grid.align-end
                    .col-sm-6.col-md-6.col-grid
                        h1 History  
        section.breadcrumb.mt-110.pt-05.pb-05
            .container
                    ul.list-inline
                        li
                            a(href='our-firm.html') About Us
                        li History                         
        section.pt-7.pb-7
            .container
                .grid
                    .col-sm.col-md-8.col-lg-8.col-xl-9.col-grid
                      .timeline
                        .timeline__group
                          span.timeline__year 2018
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Indonesia presence established
                                    p
                                      | Dezan Shira & Associates sets up in Indonesia following years of foreign direct investment work in the region.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2018-Indonesia.jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Asiapedia launched
                                    p
                                      | Dezan Shira & Associates redesigned its knowledge sharing platform for businesspeople in Asia
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2018 Asiapeida launched.jpg',)
                        .timeline__group
                          span.timeline__year 2017
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | 25th Anniversary Celebrations
                                    p
                                      | On November 10 2017, Dezan Shira & Associates hosted a gala dinner in Shanghai to celebrate the firm’s 25th anniversary of doing business in Asia. More than 150 clients, partners, employees, and alumni joined this celebration event, sharing their story with Dezan Shira & Associates.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/25th-Anniversary-Celebrations.JPG',)
                        .timeline__group
                          span.timeline__year 2016
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | HR and Payroll team creates ERP service
                                    p
                                      | IT, HR, and accounting expertise integrated into one dynamic ERP solution developed by our in-house team.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2016 ERP.jpg',)
                        .timeline__group
                          span.timeline__year 2015
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Office opened in Dongguan
                                    p
                                      | Dezan Shira & Associates opens an office in Dongguan.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2015-dongguan-office.jpg',)
                        .timeline__group
                          span.timeline__year 2014
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      |Dezan Shira Asian Alliance
                                    p
                                      | Seeking to provide legal, tax and audit advisory services in multiple Asian jurisdictions, Dezan Shira creates the Dezan Shira Asian Alliance with selected local practices in Thailand, Malaysia, Indonesia and the Philippines.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2014-Asian Alliance.jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Vietnam Briefing
                                    p
                                      | In 2014, just as Vietnam was currently undergoing dynamic changes in its economy and culture, we felt it was time to create a logo that more accurately represented this exciting country
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2014-Vietnam Briefing.jpg',)
                        .timeline__group
                          span.timeline__year 2013
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Dezan Shira's expansion as an Asia-focused practice
                                    p
                                      | As foreign direct investment flows increase throughout Southeast Asia due to the growing regional clout of the 10-nation ASEAN bloc, the practice rolls out a newly reinvigorated Asia Briefing portal. In line with Dezan Shira & Associates' Asia-focused approach, ASEAN Briefing is also launched, which contains details of free trade and double tax agreements throughout Asia, including those between ASEAN, China and India.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2013-ASEAN Briefing.jpg',)
                        .timeline__group
                          span.timeline__year 2012
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Special liaison office opens in the United States.
                                    p
                                      | In the United States , Dezan Shira & Associates establishes a client liaison office in Charlotte, North Carolina.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2012-DSA 20th anniversary(1).jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Dezan Shira & Associates is recognized for its innovative Asia Briefing publishing house.
                                    p
                                      | The firm wins one of the Leading Edge Alliance highest accolades: Most Innovative Firm of the Year. The practice also celebrates its 20th anniversary by releasing a specially commissioned piece of classical music, with live premieres taking place at celebratory events in Beijing, Shanghai and Guangzhou.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2012-DSA 20th anniversary(2).jpg',)
                        .timeline__group
                          span.timeline__year 2011
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Expansion continues with office openings in Singapore and in Ho Chi Minh City, Vietnam.
                                    p
                                      | Dezan Shira & Associates expands into South Vietnam with the opening of an office in Ho Chi Minh City, Vietnamҳ largest commercial port. An office is established in Singapore as the practice eyes development in ASEAN and Southeast Asia as key to its strategic regional development as an Asia-focused firm.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2011-Vietnam office.jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Tianjin and Suzhou Offices Open, International
                                    p
                                      | The practice continues its China expansion. With Tianjin developing as a manufacturing center for Beijing, and Suzhou becoming a credible alternative for manufacturing in Shanghai, the practice opens new offices in these cities.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2011-Singapore office.jpg',)
                        .timeline__group
                          span.timeline__year 2010
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Qingdao office opens.
                                    p
                                      | China expansion continues with the establishment of an office in Qingdao.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2010-Qingdao office.jpg',)
                        .timeline__group
                          span.timeline__year 2008
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Expansion into Vietnam
                                    p
                                      | Dezan Shira & Associates expands into Vietnam by opening an office in Hanoi, and launches Vietnam Briefing.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2008-Vietnam office.jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Dezan Shira opens office in New Delhi, India.
                                    p
                                      | The practice opens a new office in Delhi, India.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2008-India office.jpg',) 
                        .timeline__group
                          span.timeline__year 2007
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Guangzhou office opens
                                    p
                                      | The practice embarks on a specific campaign to establish offices throughout China. An immediate result of this is the establishment of an office in downtown Guangzhou.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2005-Guangzhou offices.jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Dezan Shira & Associates joins Leading Edge Alliance of Global Auditors.
                                    p
                                      | The firm is invited to join the Leading Edge Alliance, a significant global network of international accountants and auditors, with a combined annual turnover of US$2.3 billion among its members.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2005-LEA.jpg',) 
                        .timeline__group
                          span.timeline__year 2006
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Opening of Dezan Shira offices in Zhongshan and Ningbo
                                    p
                                      | Further South China expansion is realized through the opening of an office in Zhongshan, serving the development of the West Pearl River Delta region. Additionally, as Ningbo's deep water port facilities are developed, and improved road, rail and air connections with Shanghai are built-up, the practice opens an office in the city.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2006-Zhongshan Ningbo offices.jpg',)
                        .timeline__group
                          span.timeline__year 2005
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Guangzhou office opens
                                    p
                                      | The practice embarks on a specific campaign to establish offices throughout China. An immediate result of this is the establishment of an office in downtown Guangzhou.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2005-Guangzhou offices.jpg',)
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Dezan Shira & Associates joins Leading Edge Alliance of Global Auditors.
                                    p
                                      | The firm is invited to join the Leading Edge Alliance, a significant global network of international accountants and auditors, with a combined annual turnover of US$2.3 billion among its members.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2005-LEA.jpg',)
                        .timeline__group
                          span.timeline__year 2004
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Opening of Dezan Shira's Dalian office
                                    p
                                      | Dezan Shira & Associates opens its office in Dalian.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/2004-Dalian offices.jpg',)
                        .timeline__group
                          span.timeline__year 1999
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | First issue of China Briefing Magazine published.
                                    p
                                      | To better promote the firm and to bring all marketing needs directly under its own control, Dezan Shira & Associates launches its first magazine: China Briefing. The issue is distributed throughout five-star hotels in Shenzhen and Guangzhou and immediately runs out of the 1,000 copies printed. Over the next decade, distribution becomes national with circulation reaching 25,000 copies a month.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/1999-China Briefing.jpg',)
                        .timeline__group
                          span.timeline__year 1994
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Beijing and Shanghai offices open.
                                    p
                                      | The firm services its first clients, which involved various China trademark applications, representative office establishments and joint venture contractual reviews, mainly within the offshore oil industry. The practice hires its first Chinese staff.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/1994-Beijing Shanghai offices.jpg',)
                        .timeline__group
                          span.timeline__year 1993
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Dezan Shira acquires its first clients.
                                    p
                                      | The firm services its first clients, which involved various China trademark applications, representative office establishments and joint venture contractual reviews, mainly within the offshore oil industry. The practice hires its first Chinese staff.
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/1993-Dezan Shira acquires its first clients..jpg',)
                        .timeline__group
                          span.timeline__year 1992
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                .grid
                                  .col-sm.col-md-9.col-lg-9.col-xl-9.col-grid
                                    h4
                                      | Founding of Dezan Shira & Associates
                                    p
                                      | Dezan Shira Business Management Services (China) Ltd. is formed in Hong Kong with a remit to provide business advisory services to foreign investors in mainland China, including both post and pre-incorporation assistance, trademark registration, and related advice. The new company also opens a small office in Shekou, the deep water port of Shenzhen, which has become a focal point for foreign investment due to its special status as China‘s first ”Special Economic Zone."
                                  .col-sm.col-md-3.col-lg-3.col-xl-3.col-grid  
                                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/history/1992-Founding of Dezan Shira & Associates.jpg',)
                    .col-sm.col-md-4.col-lg-4.col-xl-3.col-grid
                        .card.contact-us.p-arround-3.mb-2
                            img(alt='' src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg' width='100%' height='5')
                            h3.pt-3.pr-2.text-white To learn more about how we can support you, contact one of our local experts.
                            p.text-white
                                | We provide professional services tailored to Asia´s business environment across the full business cycle.
                            a.btn.btn-outline-white.text-uppercase.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
                        .card.light-blue-bg.mt-2.mb-2.p-arround-2
                            a(href='https://www.dezshira.com/brochure')
                                img(alt='' src='https://www.dezshira.com/themes/dsa/images/icons/Download.png' srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                            p
                                a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                            h3
                                a(href='https://www.dezshira.com/brochure')
                                    | Get access to our Asiapedia resource, magazines and guides, as well as our monthly newsletter                                                            
                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='600' href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
                        a(name='mini_contact_form')
        section.light-blue-bg.pt-3.pb-3
            .container
                .grid
                    .col-sm.col-md-2.col-grid.offset-md-1.offset-lg-1.offset-xlg-1.text-right.text-align-left-xs.text-align-left-sm
                        a(href='register.html')
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.col-grid
                        h4.pt-2 SUBSCRIBE
                        h1
                            a(href='register.html')
                            | Join over thousands of people who receive weekly foreign investment news in Asia                        
        include components/_footer

        //JavaScript
        script(src="assets/js/glide.min.js")
        script(src="assets/js/scripts.js")