doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Custom CSS
    link(rel='stylesheet' href='assets/css/style.css' type='text/css' )
    link(rel='stylesheet' href='assets/css/vendor/glide.css' type='text/css' )
    title Dezan Shira & Associates!
body
    #wrapper
        include components/_header
        section.banner
            img(alt='' src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-History-banner.jpg')    
            .container
                .grid.align-end
                    .col-sm-6.col-md-6.col-grid
                        h1 History  
        section.breadcrumb.mt-110.pt-05.pb-05
            .container
                    ul.list-inline
                        li
                            a(href='our-firm.html') About Us
                        li History                         
        section.pt-7.pb-7
            .container
                .grid
                    .col-sm.col-md-8.col-lg-8.col-xl-9.col-grid
                      .timeline
                        .timeline__group
                          span.timeline__year 2008
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                p
                                  | Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art director at Harper&apos;s Bazaar, and works as his assistant.
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                p
                                  | Started from University of Pennsylvania. This is an important stage of my career. Here I worked in the local magazine. The experience greatly affected me
                        .timeline__group
                          span.timeline__year 2014
                          .timeline__box
                            .timeline__date
                              span.timeline__day 
                              span.timeline__month
                            .timeline__post
                              .timeline__content
                                p
                                  | Travels to France, Italy, Spain, and Peru. After completing fashion editorial in Lima, prolongs stay to make portraits of local people in a daylight studio
                        .timeline__group
                          span.timeline__year 2016
                          .timeline__box
                            .timeline__date
                              span.timeline__day
                              span.timeline__month 
                            .timeline__post
                              .timeline__content
                                p Upon moving to Brooklyn that summer, I began photographing weddings in Chicago
                   
                    .col-sm.col-md-4.col-lg-4.col-xl-3.col-grid
                        .card.contact-us.p-arround-3.mb-2
                            img(alt='' src='http://www.asiabriefing.com/mockups/dsa-mockup/services/images/dsa-border-color.jpg' width='100%' height='5')
                            h3.pt-3.pr-2.text-white To learn more about how we can support you, contact one of our local experts.
                            p.text-white
                                | We provide professional services tailored to Asia´s business environment across the full business cycle.
                            a.btn.btn-outline-white.text-uppercase.mb-2.mt-2(href='https://www.dezshira.com/personnel') Talk to experts 
                        .card.light-blue-bg.mt-2.mb-2.p-arround-2
                            a(href='https://www.dezshira.com/brochure')
                                img(alt='' src='https://www.dezshira.com/themes/dsa/images/icons/Download.png' srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                            p
                                a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                            h3
                                a(href='https://www.dezshira.com/brochure')
                                    | Get access to our Asiapedia resource, magazines and guides, as well as our monthly newsletter                                                            
                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='600' href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
                        a(name='mini_contact_form')
        section.light-blue-bg.pt-3.pb-3
            .container
                .grid
                    .col-sm.col-md-2.col-grid.offset-md-1.offset-lg-1.offset-xlg-1.text-right.text-align-left-xs.text-align-left-sm
                        a(href='register.html')
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.col-grid
                        h4.pt-2 SUBSCRIBE
                        h1
                            a(href='register.html')
                            | Join over thousands of people who receive weekly foreign investment news in Asia                        
        include components/_footer

        //JavaScript
        script(src="assets/js/glide.min.js")
        script(src="assets/js/scripts.js")