doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
#wrapper.home
  header.site-header
  section.big-banner
    .item
      img(src='assets/img/train.jpg', alt='')
      .container-full
        h1.heading-brand
          .text-white Keeping Up To Speed With Eurasian Connectivity
        .grid.news
          .col-xs-6.col-md-4.col-grid
              img.flex-img(src='assets/img/Alibaba.jpg', alt='')
              h3.text-center
                a(target='_top', href='#') The Philippines Has Amended Its Foreign Investment Law. What's In It For Global SME Manufacturers?  
              a.btn.btn-link(target='_top', href='#') Read more
          .col-xs-6.col-md-4.col-grid
              img.flex-img(src='assets/img/Alibaba.jpg', alt='')
              h3
                a(target='_top', href='#') The Philippines Has Amended Its Foreign Investment Law. What's In It For Global SME Manufacturers?  
              a.btn.btn-link(target='_top', href='#') Read more
          .col-xs-6.col-md-4.col-grid
              img.flex-img(src='assets/img/Alibaba.jpg', alt='')
              h3
                a(target='_top', href='#') The Philippines Has Amended Its Foreign Investment Law. What's In It For Global SME Manufacturers?  
              a.btn.btn-link(target='_top', href='#') Read more
      a.btn.btn-outline-white(href='#') View more news
  section.about-us.pt-7.pb-7
      .container-full
        .grid
          .col-xs-6.col-md-4.col-grid
            .transparent-bg.p-arround-4
              h2 Who we are
              p An award winning, pan-Asia professional services firm guding foreign companies through Asia’s complex business environment.
              a.btn.btn-outline-white(href='#') Read more
          .col-xs-6.col-md-4.col-grid
            .transparent-bg.p-arround-4
              h2 Services we offer
              p Our services help decision makers manage the legal, tax and operational challenges facing multinational businesses in Asia 
              a.btn.btn-outline-white(href='#') Read more
          .col-xs-6.col-md-4.col-grid
            .transparent-bg.p-arround-4
              h2 Industries we serve
              p Over 25years of experience working with small, medium and large enterprises across every major industry.
              a.btn.btn-outline-white(href='#') Read more      
  section.pt-7.pb-7
      .container-full
        .grid
          .col-xs-6.col-md-6.col-grid
          .col-xs-6.col-md-6.col-grid
  footer.site-footer
// Optional JavaScript
script(src="assets/js/custom.js")