doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
#wrapper.home
  header.site-header

  section.big-banner
      .container-full
        h1.text-white Keeping Up To Speed With Eurasian Connectivity
        img(src='assets/img/dsa-brand-line.jpg', alt='')

  section.news.pt-9.pb-9
      .container-full
        .grid
          .col-xs-6.col-md-4.col-grid
            .news-item
                img.flex-img(src='assets/img/Alibaba.jpg', alt='')
                .content 
                  h3
                    a(target='_top', href='#') China vs. Asia: Productivity In Alternative Markets  
                  .flex-footer
                    a(target='_top', href='#') Read more
          .col-xs-6.col-md-4.col-grid
            .news-item
                img.flex-img(src='assets/img/Alibaba.jpg', alt='')
                .content
                  h3
                    a(target='_top', href='#') Getting The Money Out - Profits Repatriation From Vietnam  
                  .flex-footer
                    a(target='_top', href='#') Read more
          .col-xs-6.col-md-4.col-grid
            .news-item
                img.flex-img(src='assets/img/Alibaba.jpg', alt='')
                .content
                  h3
                    a(target='_top', href='#') The Philippines Has Amended Its Foreign Investment Law. What's In It For Global SME Manufacturers?  
                  .flex-footer
                    a(target='_top', href='#') Read more
      .flex-footer.pt-5 
        a.btn.btn-outline-white(href='#') View more news
  section.about-us.pt-7.pb-7
      .container-full
        .grid
          .col-xs-6.col-md-4.col-grid
            .transparent-box.p-arround-4
              .content
                h2 Who we are
                p An award winning, pan-Asia professional services firm guding foreign companies through Asia’s complex business environment.
                .flex-footer 
                  a.btn.btn-outline-white(href='#') Read more
          .col-xs-6.col-md-4.col-grid
            .transparent-box.p-arround-4
              .content
                h2 Services we offer
                p Our services help decision makers manage the legal, tax and operational challenges facing multinational businesses in Asia
                .flex-footer 
                  a.btn.btn-outline-white(href='#') Read more
          .col-xs-6.col-md-4.col-grid
            .transparent-box.p-arround-4
              .content
                h2 Industries we serve
                p Over 25years of experience working with small, medium and large enterprises across every major industry.
                .flex-footer 
                  a.btn.btn-outline-white(href='#') Read more      


  footer.site-footer
// Optional JavaScript
script(src="assets/js/custom.js")