doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
#wrapper
.masthead
  .container-fluid
    h1.text-white Keeping Up To Speed With Eurasian Connectivity
    img(src='assets/img/dsa-brand-line.jpg', alt='')
.home_new_section
footer



// Optional JavaScript
script(src="assets/js/custom.js")