doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css?v0.1', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header-blueV2      
    section.big-banner.glide.banner-insight
      .glide__track(data-glide-el='track')
        .glide__slides
          include components/hp-slides/flying-high-V5
          include components/hp-slides/flying-high-V6
          include components/hp-slides/flying-high-V7
          include components/hp-slides/flying-high-V8
            

      .hidden-sm.hidden-xs.hidden-xxs.hidden-sm.hidden-md.hidden-lg(data-glide-el='controls')
        button.glide-next(data-glide-dir='>')
          span.arrow.right-arrow
        button.glide-prev(data-glide-dir='<')
          span.arrow.left-arrow

    section.pt-5.pb-5
        .container
          .grid
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid
                .card.about-us
                    .card-header-img.zoom-on-hover
                        a(href='our-firm.html')
                            img(src='assets/img/about-who-we-are.jpg')
                    .card-body.text-center
                            h3 
                                a(href='services.html') Who we are
                            p
                                | An award winning, pan-Asia professional services firm guding foreign companies through Asia’s complex business environment.
                            a.btn.btn-outline-white.mb-2(target='_top', href='#') Read more
                    .content
                        h3 
                            a(href='services.html') Who we are
                        ul
                            li
                                a(href='#') About us
                            li
                                a(href='#') History
                            li
                                a(href='#') Media
                            li
                                a(href='#') Partnerships
                            li
                                a(href='#') News
                            li
                                a(href='#') Our experts
                            li
                                a(href='#') International desks
                            li
                                a(href='#') Talk to experts
                                
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid
                .card.about-us
                    .card-header-img.zoom-on-hover
                        a(href='services.html')
                            img(src='assets/img/about-services-we-offer.jpg')
                    .card-body.text-center
                            h3
                                a(href='services.html') Services we offer
                            p
                                | Our services help decision makers manage the legal, tax and operational challenges facing multinational businesses in Asia. 
                            a.btn.btn-outline-white.mb-2(target='_top', href='#') Read more
                    .content
                        h3 
                            a(href='services.html') Services we offer
                        ul
                            li
                                a(href='http://dezshira.in/services/business-intelligence-solutions') Business Intelligence
                            li
                                a(href='http://dezshira.in/services/business-advisory') Corporate Establishment and Structuring
                            li
                                a(href='http://dezshira.in/services/legal-financial-due-diligence') Due Diligence
                            li
                                a(href='http://dezshira.in/services/accounting-reporting') Accounting
                            li
                                a(href='http://dezshira.in/services/payroll-human-resource-administration') HR Payroll
                            li
                                a(href='http://dezshira.in/services/tax') Tax
                            li
                                a(href='http://dezshira.in/services/audit-financial-review') Audit and Risk Advisory
                            li
                                a(href='http://dezshira.in/services/information-technology-solutions') Technology
                            li
                                a(href='http://dezshira.in/services/outbound-direct-investment') Outbound Direct Investment
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid
                .card.about-us
                    .card-header-img.zoom-on-hover
                        a(href='industries.html')
                            img(src='assets/img/about-industries.jpg')
                    .card-body.text-center
                            h3  
                                a(href='industries.html') Industries we serve
                            p
                                | Over 25years of experience working with small, medium and large enterprises across every major industry.
                            a.btn.btn-outline-white.mb-2(target='_top', href='#') Read more 
                    .content
                        h3 
                            a(href='services.html') Industries we serve
                        ul
                            li
                                a(href='industries-single.html') Education
                            li
                                a(href='industries-single.html') Entertainment &amp; Sports
                            li
                                a(href='industries-single.html') Environment
                            li
                                a(href='industries-single.html') F&amp;B
                            li
                                a(href='industries-single.html') Healthcare
                            li
                                a(href='industries-single.html') IT
                            li
                                a(href='industries-single.html') Manufacturing
                            li
                                a(href='industries-single.html') NGO
                            li
                                a(href='industries-single.html') Professional Services
                            li
                                a(href='industries-single.html') Trade &amp; E-Commerce 
    section.pt-7.pb-7.events-slide.gray-light-bg
      .container
        .grid
          .col-lg-9.col-md-9
            h5.text-uppercase.text-muted.mb-3 EVENTS
            .grid.glide(data-preview='1', data-homeevents='')
              .col-grid.glide__track(data-glide-el='track')
                .glide__slides
                  .glide__slid
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 12
                        span May, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html')
                            | Options for Automation of Accounting Work for UK Companies with Operations in China
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 03
                        span Jun, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html') St. Petersburg International Economic Forum 2020
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 11
                        span Sep, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html') Data Security and Risk Management during business trips in China
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                  .glide__slid
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 12
                        span May, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html')
                            | Options for Automation of Accounting Work for UK Companies with Operations in China
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 03
                        span Jun, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html') St. Petersburg International Economic Forum 2020
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 11
                        span Sep, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html') Data Security and Risk Management during business trips in China
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                  .glide__slid
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 12
                        span May, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html')
                            | Options for Automation of Accounting Work for UK Companies with Operations in China
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 03
                        span Jun, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html') St. Petersburg International Economic Forum 2020
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
                    .event-block.eventsV9.mb-2
                      .date-block
                        | 11
                        span Sep, 2020
                      .dec-block
                        .h3.pt-2
                          a(href='https://www.dezshira.com/events/details/options-for-automation-of-accounting-work-in-for-uk-companies-with-operations-in-china-8564.html') Data Security and Risk Management during business trips in China
                        p.pt-3
                          a(href='#')
                            strong Register for the Webcast 
              .glide__bullets(data-glide-el='controls[nav]')
                button.glide__bullet(data-glide-dir='=0') 0
                button.glide__bullet(data-glide-dir='=1') 1
                button.glide__bullet(data-glide-dir='=2') 2 
          .col-md-3.col-lg-3
              h5.text-uppercase.text-muted.mb-3 Past events
              .card.past-events
                .card-header-img.zoom-on-hover
                  a(href='https://www.china-briefing.com/news/chinas-social-credit-system-covid-19-triggers-some-exemptions-obligations-businesses/')
                  img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/03/China’s-Social-Credit-System-Under-COVID-19-Some-Exemptions-New-Compliances-for-Businesses.jpg')
                .card-body.pr-2.pl-2
                  h4.text-left
                    a(href='http://dezshira.in/events/details/members-insights-on-covid-19-general-managers-webinar-8632.html') Members Insights on Covid-19 - General Managers Webinar
                  small.text-muted March 26, 2020
                  p Webinar | 2:45 PM - 3:45 PM China Time




    section.asiapedia-section.pt-5.pb-5
        .container
          .grid
            .col-xs.col-sm.col-md-6.col-lg-6.col-grid
                img(src='assets/img/asiapedia-logo.png', alt='' width='183px')
                h2.mt-3 When we say we want to help businesses grow in Asia, we mean it
                p Asiapedia is our collection of resources based on what we have learned about doing business Asia. It’s the products of more than 300 team members collaborating across 25 offices in Asia, Europe, and North America
            .col-xs.col-sm.col-md-6.col-lg-6.col-grid
                form.mt-7(action='')
                    select(name='country')
                      option(value='Pick a country to explore') Pick a Country to explore
                      option(value='India') India
                      option(value='China') Chian
                      option(value='Russia') Russia
                      option(value='Thailand') Thailand
                    p.text-right.pt-3 OR pick the topics below to get started
                    select(name='Topics')
                      option(value='Pick a topic to explore') Pick a Topic to explore
                      option(value='41')  Market Entry 
                      option(value='168')  Business Intelligence 
                      option(value='201')  Audit 
                      option(value='211')  HR &amp; Payroll 
                      option(value='245')  Taxation 
                      option(value='256')  Legal 
                      option(value='259')  Due Diligence 
                      option(value='264')  Corporate Establishment 
                      option(value='294')  Accounting 
                      option(value='321')  Technology 
                    a.btn.btn-outline-white.mt-3.float-right(href='asiapedia.html') Read more 
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")