doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
#wrapper
  header.siteHeader
  .home
    .bigBanner
      .containerFluid
        h1.text-white Keeping Up To Speed With Eurasian Connectivity
        img(src='assets/img/dsa-brand-line.jpg', alt='')
  .home
    .sectionRelatedNews.pt-7.pb-7
      .containerFluid
        .relatedNews
          
            img(src='assets/img/Alibaba.jpg', alt='' width='425px')
            .content
              .title 
                a(target='_top', href='#') China vs. Asia: Productivity In Alternative Markets  
              a(target='_top', href='#') Read more
        .relatedNews
          
            img(src='assets/img/Alibaba.jpg', alt='' width='425px')
            .content
              .title 
                a(target='_top', href='#') China vs. Asia: Productivity In Alternative Markets 
              a(target='_top', href='#') Read more
        .relatedNews
          
            img(src='assets/img/Alibaba.jpg', alt='' width='425px')
            .content
              .title 
                a(target='_top', href='#') China vs. Asia: Productivity In Alternative Markets 
              a(target='_top', href='#') Read more
      a.btn.btn-outline-white.mt-7(href='#') View more news 
  .home
    .sectionWhoWeAre.pt-7.pb-7
      .containerFluid
        .transparentBox
          | Who we are
          | An award winning, pan-Asia professional services firm guding foreign companies through Asia’s complex business environment.
          a.btn.btn-outline-white.mt-7(href='#') Read more
        .transparentBox
          | Services we offer
          | Our services help decision makers manage the legal, tax and operational challenges facing multinational businesses in Asia
          a.btn.btn-outline-white.mt-7(href='#') Read more
        .transparentBox
          | Industries we serve
          | Over 25years of experience working with small, medium and large enterprises across every major industry.
          a.btn.btn-outline-white.mt-7(href='#') Read more          
  .home
    .sectionNews
      .containerFluid
  footer.siteFooter
// Optional JavaScript
script(src="assets/js/custom.js")