doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/industries/banner-industries.jpg')    
        .container
            .grid.align-end
                .col-sm-8.col-md-8.col-grid.offset-2.text-center
                    h1 Industries
                    h4.mt-2 Asia’s dynamic marketplace has helped industry grow rapidly in the region. Dezan Shira & Associates has partnered with many businesses to help them achieve success.
                    a.btn.btn-secondary.mt-2.block-center(href='#CTA_form') Contact us for more information

    section.pt-150.pb-7
        .container
            .grid
                .col-sm-6.col-md-6.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com//industries/education')
                                img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-education.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                    a(href='https://www.dezshira.com//industries/education') Education
                        .card-body
                            p
                                | The education industry is growing rapidly across Asia to meet high market demand. However, investors often need to manage restrictive investment caps and fast evolving regulations in many markets.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com//industries/entertainment-sports')
                                img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-entertainment-sports.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                 a(href='https://www.dezshira.com//industries/entertainment-sports') Entertainment and Sports
                        .card-body
                            p
                                | The industry is expanding throughout Asia, guided by new consumer trends and technology. Navigating the industry’s unique market and regulatory landscape, however, remains challenging for foreign firms.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com//services/business-advisory')
                                img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-environment-cleantech.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                    a(href='https://www.dezshira.com//services/business-advisory') Environment and Cleantech
                        .card-body
                            p
                                | Local innovation and government support have combined to create new opportunities in the industry, which has taken on increased importance for sustainable development agendas across Asia.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/food-beverage')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-food-beverage.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//industries/food-beverage') Food and Beverage
                            .card-body
                                p
                                    | The increase of disposable income, fast-changing consumption behavior, and tighter government regulations across Asia are ushering in a new era for the industry
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/healthcare')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-healthcare.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//industries/healthcare') Healthcare
                            .card-body
                                p
                                    | Asia’s healthcare industry is rapidly filling a gap in worldwide market demand. Fast-paced innovation and investments in healthcare infrastructure have, however, attracted new government regulation.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/information-technology')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-information-technology.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                         a(href='https://www.dezshira.com//industries/information-technology') Information Technology
                            .card-body
                                p
                                    | Tax laws and regulations throughout Asia are continuously being updated and refined. Our team of professionals are accustomed to navigating this fast-paced environment.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/manufacturing')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-manufacturing.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//industries/manufacturing') Manufacturing
                            .card-body
                                p
                                    | Manufacturing in Asia is undergoing rapid diversification. Investors in manufacturing that understand where to source, produce, and assemble will find a wealth of value at all stages of the production chain.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/non-governmental-organizations')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-non-governmental-organizations.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='https://www.dezshira.com//industries/non-governmental-organizations') Non-Governmental Organizations
                            .card-body
                                p
                                    | NGOs have played an important role in Asia’s development. However, like the private sector, NGOs in Asia are subject to increasingly stringent regulations and compliance requirements.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/professional-services')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-professional-services.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3 
                                        a(href='https://www.dezshira.com//industries/professional-services') Professional Services    
                            .card-body
                               
                                p
                                    | The industry is still developing in Asia, where growth led by manufacturing and exports has created increased demand for professional services that meet international standards.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com//industries/trade-and-e-commerce')
                                    img(src='https://www.dezshira.com/themes/dsa/images/industries/thumb-trade-and-e-commerce.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3 
                                        a(href='https://www.dezshira.com//industries/trade-and-e-commerce') Trade and E-commerce    
                            .card-body
                               
                                p
                                    | The incredible scale and growth of Asia’s trade and e-commerce market is attractive to overseas investors, but the fluid regulatory environment remains a major challenge for any investor.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more

                            


    include components/_footer