doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/International-desks_banner.jpg')    
        .container
            .grid.align-end
                .col-sm-6.col-md-6.col-grid
                    h1 International Desks
                    h4 Our clients are as diverse as our team. We can help investors find their way in Asia in a variety languages and business cultures.       
    section.pt-150.pb-7
        .container
            .grid.international-desks
                .col-sm-4.col-md-4.col-grid
                    .card.international-desks
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/international-desk/north-american.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-north-american.jpg')
                        .card-body
                            h2 North American Desk
                            p
                                | Dezan Shira &amp; Associates has over 20 years of on-the-ground experience in Asia, and has grown into one of the region&acute;s most versatile full-service consultancies. As over 45% of our clientele is from North America, Dezan Shira &amp; Associates has pulled together a dedicated platform to specifically service those businesses and investors in North America.

                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/uk-ireland.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-UK-Ireland.jpg')

                    h2 UK and Ireland Desk
                    p
                         | Dezan Shira & Associates has a long history serving British and Irish clients in Asia. Our UK and Ireland Desk aims to support investors in defining and executing the best strategies for structuring their international investments in the region. Our blended service solutions were designed to unify the local expertise of each Asian jurisdiction with understanding of UK and Ireland standards and business objectives.
                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/german.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-german.jpg')

                    h2 German Desk
                    p
                         | Wir bei Dezan Shira & Associates sehen es als unsere Mission an, ausländischen Unternehmen bei allen Fragen rund um die Gründung, den Betrieb und die Weiterentwicklung ihres Asiengeschäfts zur Seite zu stehen und sie sicher durch das Dickicht sich ständig ändernder Bestimmungen zu führen. Über 20 Jahre Erfahrung vor Ort und ein professionelles Team kompetenter Berater machen uns zu einem verlässlichen Partner für Ihre Investitionstätigkeit in Asien.
                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/italian.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-italian.jpg')

                    h2 Italian Desk
                    p
                         | Dezan Shira & Associates è specializzata nell’assistenza agli investimenti diretti esteri. A mezzo di un Desk Italia offre supporto in lingua e anche in Italia. Specificatamente offriamo consulenza strategica all’investimento, costituzione societaria, consulenza fiscale, contabilità e revisione dei conti, amministrazione tesoreria, verifica contabile e adempimento degli obblighi fiscali, gestione dei libri paga e del personale, controllo di gestione, due diligence, deposito marchi, consulenza informatica.         
                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/french.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-french.jpg')

                    h2 French Desk
                    p
                         | Dezan Shira & Associates est une société de conseil spécialisée dans l'investissement direct étranger en Asie. Nos services comprennent, entre autres, les procédures d'implantation, de gestion juridique, de fusions et d´acquisitions, de fiscalité et de comptabilité pour toute entreprise étrangére désirant s'implanter et poursuivre ses opérations en Asie.
                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/russian.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-russian.jpg')

                    h2 Russian Desk
                    p
                         | Основываясь более чем на 20 годах практического опыта в странах Азии, Dezan Shira & Associates превратилась в одну из самых универсальных региональных консалтинговых компаний с полным спектром услуг.
                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/spanish.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-spanish.jpg')

                    h1 Spanish Desk
                    p
                         | Dezan Shira & Associates es una firma especializada en el apoyo de la inversión directa extranjera en Asia. A través de nuestro Spanish Desk ofrecemos apoyo en español para nuestros clientes hispanohablantes. Específicamente, ofrecemos asesoramiento en inversión estratégica, constitución de empresas, asesoramiento fiscal, contabilidad y auditoría, gestión de tesorería, cumplimiento de obligaciones fiscales, recursos humanos y gestión de nóminas, due diligence y registro de marcas entre otros.
                .col-sm-4.col-md-4.col-grid
                    a(href='https://www.dezshira.com/international-desk/australian.html')
                        img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-australian.jpg')

                    h2 Australian Desk
                    p
                         | Dezan Shira & Associates is a multi-disciplinary professional services firm operating throughout the Asia-pacific (APAC) region providing tax, legal, audit, accounting and advisory services. Of the total foreign investment we have facilitated over the years, a significant and valuable proportion has been from Australian businesses, making Dezan Shira & Associates a long term, proven, and trusted advisor to Australian companies and individuals.                                                                                              
 

                            


    include components/_footer