doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header-blueV2
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/International-desks_banner.jpg')    
        .container
            .grid.align-end
                .col-sm-6.col-md-6.col-grid
                    h1 International Desks
                    p Our clients are as diverse as our team. We can help investors find their way in Asia in a variety languages and business cultures.       
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.international-desks
                        .card-header-img.zoom-on-hover
                            a(href='international-desks-single.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-north-american.jpg')
                            .card-text-overlap
                                h3.text-center
                                    a(href='international-desks-single.html') North American Desk
                        .card-body
                            p
                                | Dezan Shira &amp; Associates has over 20 years of on-the-ground experience in Asia, and has grown into one of the region&acute;s most versatile full-service consultancies. As over 45% of our clientele is from North America, Dezan Shira &amp; Associates has pulled together a dedicated platform to specifically service those businesses and investors in North America.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.international-desks
                        .card-header-img.zoom-on-hover
                            a(href='international-desks-single.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-UK-Ireland.jpg')
                            .card-text-overlap
                                h3.text-center
                                    a(href='https://www.dezshira.com/international-desk/uk-ireland.html') UK and Ireland Desk
                        .card-body
                            p
                                | Dezan Shira &amp; Associates has a long history serving British and Irish clients in Asia. Our UK and Ireland Desk aims to support investors in defining and executing the best strategies for structuring their international investments in the region. Our blended service solutions were designed to unify the local expertise of each Asian jurisdiction with understanding of UK and Ireland standards and business objectives.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.international-desks
                        .card-header-img.zoom-on-hover
                            a(href='international-desks-single.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-german.jpg')
                            .card-text-overlap
                                h3.text-center
                                    a(href='international-desks-single.html') German Desk
                        .card-body
                            p
                                | Wir bei Dezan Shira &amp; Associates sehen es als unsere Mission an, ausl&auml;ndischen Unternehmen bei allen Fragen rund um die Gr&uuml;ndung, den Betrieb und die Weiterentwicklung ihres Asiengesch&auml;fts zur Seite zu stehen und sie sicher durch das Dickicht sich st&auml;ndig &auml;ndernder Bestimmungen zu f&uuml;hren. &Uuml;ber 20 Jahre Erfahrung vor Ort und ein professionelles Team kompetenter Berater machen uns zu einem verl&auml;sslichen Partner f&uuml;r Ihre Investitionst&auml;tigkeit in Asien.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.international-desks
                            .card-header-img.zoom-on-hover
                                a(href='international-desks-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-italian.jpg')
                                .card-text-overlap
                                    h3.text-center
                                        a(href='international-desks-single.html') Italian Desk
                            .card-body
                                p
                                    | Dezan Shira &amp; Associates &egrave; specializzata nell&rsquo;assistenza agli investimenti diretti esteri. A mezzo di un Desk Italia offre supporto in lingua e anche in Italia. Specificatamente offriamo consulenza strategica all&rsquo;investimento, costituzione societaria, consulenza fiscale, contabilit&agrave; e revisione dei conti, amministrazione tesoreria, verifica contabile e adempimento degli obblighi fiscali, gestione dei libri paga e del personale, controllo di gestione, due diligence, deposito marchi, consulenza informatica.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.international-desks
                            .card-header-img.zoom-on-hover
                                a(href='international-desks-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-french.jpg')
                                .card-text-overlap
                                    h3.text-center
                                        a(href='international-desks-single.html') French Desk
                            .card-body
                                p
                                    | Dezan Shira &amp; Associates est une soci&eacute;t&eacute; de conseil sp&eacute;cialis&eacute;e dans l&apos;investissement direct &eacute;tranger en Asie. Nos services comprennent, entre autres, les proc&eacute;dures d&apos;implantation, de gestion juridique, de fusions et d&acute;acquisitions, de fiscalit&eacute; et de comptabilit&eacute; pour toute entreprise &eacute;trang&eacute;re d&eacute;sirant s&apos;implanter et poursuivre ses op&eacute;rations en Asie.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.international-desks
                            .card-header-img.zoom-on-hover
                                a(href='international-desks-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-russian.jpg')
                                .card-text-overlap
                                    h3.text-center
                                        a(href='international-desks-single.html') Russian Desk
                            .card-body
                                p
                                    | Основываясь более чем на 20 годах практического опыта в странах Азии, Dezan Shira & Associates превратилась в одну из самых универсальных региональных консалтинговых компаний с полным спектром услуг.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.international-desks
                            .card-header-img.zoom-on-hover
                                a(href='international-desks-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-spanish.jpg')
                                .card-text-overlap
                                    h3.text-center 
                                        a(href='international-desks-single.html') Spanish Desk
                            .card-body
                                p
                                    | Dezan Shira &amp; Associates es una firma especializada en el apoyo de la inversi&oacute;n directa extranjera en Asia. A trav&eacute;s de nuestro Spanish Desk ofrecemos apoyo en espa&ntilde;ol para nuestros clientes hispanohablantes. Espec&iacute;ficamente, ofrecemos asesoramiento en inversi&oacute;n estrat&eacute;gica, constituci&oacute;n de empresas, asesoramiento fiscal, contabilidad y auditor&iacute;a, gesti&oacute;n de tesorer&iacute;a, cumplimiento de obligaciones fiscales, recursos humanos y gesti&oacute;n de n&oacute;minas, due diligence y registro de marcas entre otros.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more    
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.international-desks
                            .card-header-img.zoom-on-hover
                                a(href='international-desks-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/international-desk/thumb-australian.jpg')
                                .card-text-overlap
                                    h3.text-center 
                                        a(href='international-desks-single.html') Australian Desk
                            .card-body
                                p
                                    | Dezan Shira &amp; Associates is a multi-disciplinary professional services firm operating throughout the Asia-pacific (APAC) region providing tax, legal, audit, accounting and advisory services. Of the total foreign investment we have facilitated over the years, a significant and valuable proportion has been from Australian businesses, making Dezan Shira &amp; Associates a long term, proven, and trusted advisor to Australian companies and individuals.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='international-desks-single.html') Read more
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")