doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')    
        .container
            .grid.align-end
                .col-sm-12.col-md-12.col-grid
                    h1 Investor Resources  
    section.gray-light-bg.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-6.col-lg-6.col-xlg-6.col-grid.offset-md-3.offset-lg-3.offset-xlg-3   
                    a(href='http://www.asiabriefing.com', target='_blank')
                        img.flex-img(src='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB.png', alt='')
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-9.col-grid
                    p
                         | Asia Briefing is a wholly owned subsidiary of Dezan Shira & Associates, a specialist foreign direct investment practice with a pan-Asia presence. 

                    p
                        | Asia Briefing was founded in 1999 as a complimentary service. The publication house produces articles, magazines, and guides on doing business in China, Vietnam, ASEAN, Indonesia, India, Russia, and the Silk Road. It publishes business news and analysis, particularly as it relates to foreign direct investment and related legal, tax, and operational concerns. 
                    p
                        | Asia Briefing subscription is free and provides you with the Asia Briefing Weekly, a roundup of the latest business news and analysis from across the region. 
                    p.text-right
                        a.btn.btn-outline-dark.mt-4(href='career-search.html', role='button') Contact Us         

                    h4.section-title.mt-5.mb-3 Related insight        
                    .grid

                        .col-sm-6.col-md-4.col-lg-4.col-grid
                            .card.border-none
                                .card-header-img.zoom-on-hover
                                    a(href='asiapedia-single.html')
                                        img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/03/Global-Virus.jpg')
                                .card-body
                                    h3.text-left
                                        a(href='asiapedia-single.html') COVID-19 Global Outbreaks: Coordinating Your Remote Business Operations
                                    small.text-muted September 2019
                                    p
                                        | COVID-19 is forcing businesses around the world to work-from-home. Our experts explain how enterprises can manage this efficiently and securely.

                        .col-sm-6.col-md-4.col-lg-4.col-grid
                            .card.border-none
                                .card-header-img.zoom-on-hover
                                    a(href='asiapedia-single.html')
                                        img(src='https://www.vietnam-briefing.com/news/wp-content/uploads/2016/06/Vietnam-Rules-of-origin.jpg')
                                .card-body
                                    h3.text-left
                                        a(href='asiapedia-single.html') An Introduction to Rules of Origin for Vietnamese Exports
                                    small.text-muted August 2019
                                    p
                                        | Vietnam Briefing discusses rules of origin guidelines for investors looking to take advantage of lower tariff structures and Vietnam's free trade agreements
 
                        .col-sm-6.col-md-4.col-lg-4.col-grid
                            .card.border-none
                                .card-header-img.zoom-on-hover
                                    a(href='asiapedia-single.html')
                                        img(src='https://www.india-briefing.com/news/wp-content/uploads/2020/03/The-Expanding-Role-of-Technology-in-India’s-HR-Industry-india-briefing.jpg')
                                .card-body
                                    h3.text-left
                                        a(href='asiapedia-single.html') The Expanding Role of Technology in India’s HR Industry
                                    small.text-muted August 2019
                                    p
                                        | New technologies, including artificial intelligence and automation software, are transforming how the HR industry in India operates.
                    p.text-center
                        a.btn.btn-outline-dark.mt-4(href='career-search.html', role='button') Read more
                    h4.section-title.mt-5.mb-3 new release
                    .grid
                        
                            .col-sm-6.col-md-4.col-lg-4.col-grid

                                        a(href='asiapedia-single.html')
                                            img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/8565/IB_2019_12_issue_Cover.jpg')
                            .col-sm-6.col-md-4.col-lg-4.col-grid

                                        a(href='asiapedia-single.html')
                                            img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/8612/CB_Mag_2020_03_issue_Cover_1.jpg')

    
                            .col-sm-6.col-md-4.col-lg-4.col-grid

                                        a(href='asiapedia-single.html')
                                            img.flex-img(src='//resource.dezshira.com/resize/360x495/Publications/8608/DSA_Doing_Business_in_Vietnam_2020_Cover_600.jpg')
  
                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title BRIEFING WEBSITES
                    ul.list
                        li
                            a(href='http://www.asiabriefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB-logo-withURL-2x.png 2x')
                        li
                            a(href='https://www.aseanbriefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/asean-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/asean-logo-withURL-2x.png 2x')
                        li
                            a(href='http://www.china-briefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-logo-withURL-2x.png 2x')
                        li
                            a(href='https://www.india-briefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/ib-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/ib-logo-withURL-2x.png 2x')
                        li
                            a(href='http://www.indonesiabriefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/indo-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/indo-logo-withURL-2x.png 2x')
                        li
                            a(href='http://www.vietnam-briefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/vb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/vb-logo-withURL-2x.png 2x')
                        li
                            a(href='http://russia-briefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-logo-withURL-2x.png 2x')
                        li
                            a(href='https://www.silkroadbriefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/srb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/srb-logo-withURL-2x.png 2x')
    
    section.light-blue-bg.pt-3.pb-3
        .container
            .grid
                .col-sm.col-md-2.col-grid.offset-md-1.offset-lg-1.offset-xlg-1.text-right.text-align-left-xs.text-align-left-sm
                    a(href='https://www.dezshira.com/register.html')
                        img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Subscribe@2x.png' width='85')
                .col-sm.col-md-8.col-lg-8.col-xlg-8.col-grid
                    h4.pt-2 SUBSCRIBE
                    h1
                        a(href='https://www.dezshira.com/register.html')
                        | Join over thousands of people who receive weekly foreign investment news in Asia

    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")    