doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header-blueV2
    section.banner.banner-CV
        img(alt='', src='https://www.dezshira.com/userfiles/image/landing-page/location-analysis-site-selection/banner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Location Analysis and Site Selection 
                    p Empower and progress your offshore investment strategy with superior diligence and information                              
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-1.offset-lg-1.offset-xlg-1
                        
                        h2
                            | Empowering you with vital investment information.
                        p
                            | Choosing a location is one of the first decisions that companies must make when entering a new market. However, it is particularly challenging in emerging Asia as the factors affecting site selection are rapidly changing. Everything from labor costs, logistics connections, customs practices, and the state of infrastructure in East Asia, Southeast Asia and India are evolving. Location and a strategic site selection plan can have a major impact on the success of a business, affecting production, operations and sales. Therefore, companies must take steps to ensure they have the right information before committing their time and money.
                        p
                            | Dezan Shira & Associates has helped foreign firms and organizations in China face and overcome market entry and expansion challenges. Through research and analysis that we provide, clients are able to better understand their options in new markets and make informed decisions on where to invest.
                        p
                            | We offer market entry and expansion reports for clients in China, India and ASEAN. Our reports help clients to assess industrial zones based on their preferred criteria, including locational advantages such as proximity to ports; integration with industrial clusters; presence or lack of minimum capital requirements; availability of required land and facilities; and available tax incentives. By weighing several additional factors ranging from cost of real estate and utilities; connectivity to transport infrastructure; accessibility to supplier networks; availability of workforce; and applicable HR and other regulations, our business intelligence analysts help you to address key perspectives vital to your investment assessment and selection process.

                    .col-sm.col-md-4.col-lg-4.col-xlg-4
                        img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/location-analysis-site-selection/glass-window-skyscraper.jpg') 
    section.pt-7.pb-7.gray-light-bg
        .container
            .grid
                .col-sm.col-md-5.col-lg-5.col-xlg-5.offset-md-2.offset-lg-2.offset-xlg-2
                    h3.mt-3 How our Business Intelligence Helps Companies Find the Optimal Location for their Expansion in Asia:
                    p To find the right location, the first phase would involve identifying the location needs and setting the search metrics. Then, an initial screening for potential sites based on the search metrics will follow. When the first phase is completed, a report with data metrics and analysis of property options will be sent to the client.
                    p Key features of our process in Phase One include:
                    ul
                        li
                            strong Real estate:
                            |  What is the rental or purchasing cost? What is the most suitable location? What about site and building amenities, as well as utilities?
                        li
                            strong Connectivity:
                            |  What are the major infrastructure and transportation options and how easy is it to access customers and suppliers?
                        li
                            strong Workforce:
                            |  What are the major infrastructure and transportation options and how easy is it to access customers and suppliers?
                        li
                            strong Regulations:
                            |  What certifications are needed? Are there any tax and policy incentives available?

                    p In Phase Two, our business intelligence teams will assist you to shortlist the most suitable locations, and provide you “best-fit” analyses on the top matches in the form of a final report, which is provided to you, the client. Assuming you wish to proceed, we will then schedule site visits, and subsequently facilitate real estate negotiations and formal due diligence.
                    p.text-center 
                        a.btn.btn-secondary.mb-2(href='https://www.dezshira.com/contact')
                            | Ask a Question 
                .col-sm.col-md-3.col-lg-3.col-xlg-3
                     img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/location-analysis-site-selection/business-intelligence-flow.png') 
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                    h3.mb-3 Benefits

                    p How our Location Analysis and Site Selection Service can help you better assess your expansion options:

                    ul
                        li
                            | By leveraging on our Asia-wide operational experience and extensive industry networks, we help you identify the optimal location for your next expansion move
                        li
                            | By drawing on the expertise of our in-house lawyers, accountants, HR, tax and business experts, we help you identify red flags and eliminate unsuitable locations
                        li
                            | By employing our proven business intelligence methodology, we help you take more informed decisions while choosing your next investment location

    section.pt-7.pb-7.gray-light-bg
        .container     
                .grid
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                        h2.text-center
                            | How to Get Started
                        p
                            | Beginning a business intelligence project, is simple, and is started by the phase which is appropriate to the stage you are at. Contact us to tell us more about what your objectives are, and we will recommend a suitable and cost effective approach we can provide. 
                    .col-sm.col-md-5.col-lg-5.col-xlg-5.offset-md-2.offset-lg-2.offset-xlg-2
                        p
                            strong We invite you to move a step closer to your plans, and learn more about your potential investment destinations:
                        ul.list-blue-border
                            li
                                a(href='https://www.dezshira.com/contact')
                                    strong Enquire about Location Analysis services
                                |  to compare locations in more detail, or 
                                a(href='https://www.dezshira.com/contact')
                                    strong about Country Comparison services
                                |  if you are at a pre-country selection stage.
                            li
                                | If you are at an earlier stage you may prefer to read more articles or research our 
                                a(href='https://www.dezshira.com/library')
                                    strong magazines and reports
                                |  which compare countries in Asia from investment, supply-chain and other views.
                            li
                                | Learn more about  
                                a(href='https://www.dezshira.com/about-us/our-firm.html')
                                    strong Dezan Shira &amp; Associates
                                | , or about 
                                a(href='https://www.dezshira.com/services/business-intelligence-solutions')
                                    strong our Business Intelligence and other Services.

                    .col-sm.col-md-3.col-lg-3.col-xlg-3
                        a(href='#')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/location-analysis-site-selection/location-marker.jpg')                                                       
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
