doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Media-banner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Media  
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-2 Contact - Dezan Shira & Associates 
                    p
                        | Dezan Shira &amp; Associates specializes in assisting foreign invested companies operate in emerging Asia. While our primary focus is serving our clients, we also believe it is important to engage with the communities in which we do business. Our staff regularly participates in service projects and each regional office of Dezan Shira &amp; Associates organizes its own projects to engage with the local community. These projects have included fundraising, pro bono accounting, orphanage visits, organizing in-kind donations and more.
                    p
                        | Dezan Shira &amp; Associates is also able to use our more than 20 years of expertise to advise non-profit and non-governmental organizations on setting up and operating in China and emerging Asia.
                    p
                        | For inquiries, please contact us with 
                        a(href='mailto:media@dezshira.com') media@dezshira.com
                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title BRIEFING WEBSITES
                    ul.list
                        li
                            a(href='http://www.asiabriefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/AB-logo-withURL-2x.png 2x')
                        li
                            a(href='https://www.aseanbriefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/asean-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/asean-logo-withURL-2x.png 2x')
                        li
                            a(href='http://www.china-briefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/cb-logo-withURL-2x.png 2x')
                        li
                            a(href='https://www.india-briefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/ib-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/ib-logo-withURL-2x.png 2x')
                        li
                            a(href='http://www.indonesiabriefing.com', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/indo-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/indo-logo-withURL-2x.png 2x')
                        li
                            a(href='http://www.vietnam-briefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/vb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/vb-logo-withURL-2x.png 2x')
                        li
                            a(href='http://russia-briefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-logo-withURL-2x.png 2x')
                        li
                            a(href='https://www.silkroadbriefing.com/', target='_blank')
                            img.flex-img(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/srb-logo-withURL.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/srb-logo-withURL-2x.png 2x')
    section.grey-bg.pt-5.pb-5
        .container
            .grid
                .col-sm-12.text-center
                    ul.list-inline.mb-0
                        li
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/SOUTH-CHINA-MORNING-POST-logo.png', width='120')
                        li
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/Reuters-logo.png', width='120')
                        li
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/BBC.png', width='120')
                        li
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/ft-logo.png', width='120')
                        li
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/The_New_York_Times_logo.png', width='120')
                        li
                            img(alt='', src='https://www.dezshira.com/themes/dsa/images/news-logo/cnbc-logo.png', width='120')
            .grid
                .text-center.col-sm.col-md-6.col-lg-6.offset-md-3.offset-lg-3
                    p
                        | Dezan Shira &amp; Associates professionals operate from over 25 offices across the world. Our professionals routinely advise decision makers on business critical developments in Asia &ndash; as well as the leading online, print, and television media.
    include components/_footer