doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header-logged-in      
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-3.col-lg-3.col-grid
                        h4.section-title.mb-0 Welcome IKRAM
                        ul.list-unstyled.sidebar-nav
                            li
                                a Credit: 0
                            li.active
                                a(href='https://www.dezshira.com/member') Dashboard
                            li
                                a(href='https://www.dezshira.com/member/profile') Job Seeker Profile
                            li
                                a(href='http://www.asiabriefing.com/member/recharge') Recharge Credits
                            li
                                a(href='https://www.dezshira.com/member/credit_coupon') Claim Credit
                            li
                                a(href='https://www.dezshira.com/member/gift_credit') Gift Credits
                            li
                                a(href='https://www.dezshira.com/member/history') Your Transaction History
                            li
                                a(href='https://www.dezshira.com/member/change-password') Change Password
                            li
                                a(href='https://www.dezshira.com/member/logout') Logout 
                .col-sm.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-3 WELCOME ikram Mohammad  
                    h2.text-center Your Credit Balance: 0 
                    ul.list-inline.text-center
                        li 
                            a.btn.btn-outline-dark.mt-3(href='https://www.dezshira.com/member/gift_credit')  GIFT CREDITS
                        li
                            a.btn.btn-outline-dark.mt-3(href='http://www.asiabriefing.com/member/recharge')  RECHARGE CREDITS
                        li
                            a.btn.btn-outline-dark.mt-3(href='https://www.dezshira.com/contact')  HELP
                        li
                            a.btn.btn-outline-dark.mt-3(href='https://www.dezshira.com/member/billing_address?id=29197')  Billing Address
                    h4.section-title.mt-3.mb-2 Purchase History 
                    a.btn.btn-outline-dark.mt-3.center-block(href='https://www.dezshira.com/member/purchases')   Your complete purchase history 
                    h4.section-title.mt-3.mb-2 Billing Address
                    p
                        | We will use this address while you are doing monetary transaction on our website. For security purpose this address should be your valid credit card address. 
                    hr
                    address
                        strong ikram Mohammad
                        br
                        | Unit No. T-15, Third Floor, Rasvilas Saket District Centre
                        br
                        | IN, New_Delhi
                        br
                        | ZIP:
                    hr.mb-4
                    a.btn.btn-outline-dark.mt-4.center-block(href='https://www.dezshira.com/member/billing_address?id=29197')  Update Billing Address 
                                                                                                                                           
    include components/_footer

    //JavaScript
    //- script(src="assets/js/glide.min.js")
    script(src="assets/js/list.min.js")
    script(src="assets/js/scripts.js")