doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header-blueV2 
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-8.col-grid
                    h1.page-title China Regulatory Watch - 2019 Year in Review
                    .btn.btn-primary.mt-2.mb-2 Multimedia
                    small  Posted On December 2019
                    h4.section-title.mb-1.mt-4 Presenter(s): 
                    ul.list.lists-img-thumbnail
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Holly_McCleery200200px.jpg', scale='0',)
                                .list-content.pt-3
                                    i.icon-linkedin2.float-right.ml-1.text-muted
                                    i.icon-envelope1.float-right.ml-1.text-muted
                                    h3
                                        a(href='personnel-single.html', target='',) Holly McCleery  
                                    p
                                        | Associate, Marketing 
                                        a(href='personnel-single.html', target='')
                                            | Shanghai Office 

                    p  
                        iframe(src='http://cdn.jwplayer.com/players/cU410ula-lKmNhB9Q.html', width='100%', height='400', frameborder='0', scrolling='auto')

                    p
                        strong Title:
                        |  China Regulatory Watch - 2019 Year in Review
                        br
                        strong Date:
                        |  December 20th, 2019
                    p
                        | Welcome to Dezan Shira &amp; Associates&rsquo; China Regulatory Watch podcast series. Every week we discuss the past week&rsquo;s important news developments and highlight items we are keeping an eye on as they develop.
                    p
                        | With 2020 just around the corner, we thought it would be interesting to look back at some of the biggest changes for foreign investors in China&rsquo;s regulatory environment in 2019. This week, we discuss the Trade Deal, VAT and Intellectual Property reforms, a push for FTAs and more 2019 measures and laws.
                    p
                        | Subscribe to us on iTunes or Stitcher and stay uptodate on China&rsquo;s regulatory environment. Find us under the name, &ldquo;Asiapedia: Discover Asia&rsquo;s Business Environment&rdquo;.

                    div
                        a.btn.btn-outline-dark.mt-3(href='asiapedia.html') &lt; Previous podcast
                        a.btn.btn-outline-dark.mt-3.float-right(href='asiapedia.html') &lt; BACK TO LIBRARY
                .col-sm-12.col-md-4.col-grid                                    
                        h4.section-title RECENT RESOURCES
                        ul.list.lists-img-thumbnail
                            li
                                a(href='https://www.dezshira.com/library/qa/alojamiento-sitio-web-china.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/650x400/Resources/8525/India-Brefing-Analyzing-the-AuditorCus-Report-in-India.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted December 2019
                                    h4
                                        a(href='https://www.dezshira.com/library/qa/alojamiento-sitio-web-china.html', target='_blank') Alojamiento de un sitio web en China
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/library/qa/gestion-riesgos-para-inversores-extranjeros-china.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/650x400/Resources/8524/Fraud_and_Risk_Management_for_Companies.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted November 28, 2019
                                    h4
                                        a(href='https://www.dezshira.com/library/qa/gestion-riesgos-para-inversores-extranjeros-china.html', target='_blank') Gestión de 
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/multimedia/view/china-regulatory-watch-december-2-2019-8521.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/650x400/Multimedia/8521/China_Regulatory_Watch_-_December_22019.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted December 2, 2019
                                    h4
                                        a(href='https://www.dezshira.com/multimedia/view/china-regulatory-watch-december-2-2019-8521.html', target='_blank') China Regulatory Watch 
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/multimedia/view/the-key-considerations-year-end-tax-treatment-2019-preferential-tax-policy.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-webinar.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted November 2019
                                    h4
                                        a(href='https://www.dezshira.com/multimedia/view/the-key-considerations-year-end-tax-treatment-2019-preferential-tax-policy.html', target='_blank') The Key Considerations for Year-End Tax Treatment and the 2019 Preferential Tax Policy
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/multimedia/view/introduction-supplier-network-northern-vietnam.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-webinar.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted November 2019
                                    h4
                                        a(href='https://www.dezshira.com/multimedia/view/introduction-supplier-network-northern-vietnam.html', target='_blank') Introduction to Supplier Networks in Northern Vietnam
                                .clearfix
                            .grey-bg.borderTopDarkblue
                                form.material.white-theme.mini-search-form(role='form', method='GET', action='#')
                                    .col-sm.col-md.col-lg.border-bottom
                                        .form-field.field-group
                                            .form-field-control
                                                input#search-asiapedia-resources.form-field-input(type='text', name='search-asiapedia-resources', placeholder=' ')
                                                label.form-field-label(for='search-asiapedia-resources') Search Asiapedia resources
                                                .form-field-bar
                                                .btn.group-field-btn.btn-secondary.icon-chevron-down 
                                    .col-sm.col-mb.col-lg
                                        .form-field
                                            .form-field-control
                                                select#type.form-select-input(name='type', placeholder='', type='text')
                                                    option(label='type') Filter by type
                                                    option(value='') All
                                                    option(value='qa') Q&amp;A 
                                                    option(value='infographic') Infographic
                                                    option(value='presentation') Presentation
                                                    option(value='videographic') Videographic
                                                    option(value='video') Video
                                                    option(value='interview') Interview
                                                    option(value='podcast') Podcast
                                                    option(value='webinar') Webinar
                                                    option(value='magazine') Magazine
                                                    option(value='guide') Guides
                                                    option(value='report') Report
                                                    option(value='partner-publication') Partner Publication
                                                    option(value='DTA') DTA 
                                                    option(value='FTA') FTA
                                                    option(value='BIT') BIT
                                                    option(value='other treaties') Other Treaties
                                                .form-field-bar 
                                    .col-sm.col-mb.col-lg-
                                        .form-field
                                            .form-field-control
                                                select#language.form-select-input(name='type', placeholder='', type='text')
                                                    option(label='language') Language
                                                    option(value='15')   English 
                                                    option(value='21')   French 
                                                    option(value='19')   German 
                                                    option(value='18')   Italian 
                                                    option(value='20')   Spanish 
                                                    option(value='120')   Russian 
                                                    option(value='112')   Chinese 
                                                .form-field-bar
                                    .col-sm.col-mb.col-lg-
                                        .form-field
                                            .form-field-control
                                                select#topics.form-select-input(name='type', placeholder='', type='text')
                                                    option(label='topics') Topics
                                                    option(value='83')  Consumer Goods Production 
                                                    option(value='84')  Finance 
                                                    option(value='294')  Accounting 
                                                    option(value='96')  Compliance 
                                                    option(value='295')  Advisory 
                                                    option(value='296')  Annual Audit 
                                                    option(value='297')  Bookkeeping 
                                                    option(value='298')  Financial Reporting 
                                                    option(value='299')  GAAP 
                                                    option(value='300')  Capitalization 
                                                    option(value='301')  Other 
                                                    option(value='302')  RMB 
                                                    option(value='303')  Stock Markets 
                                                    option(value='304')  VC/ PE 
                                                    option(value='415')  Internal Control and Fraud Prevention 
                                                    option(value='86')  Industry 
                                                    option(value='82')  Mining and Minerals 
                                                    option(value='85')  Health Care 
                                                    option(value='87')  Retail 
                                                    option(value='90')  Utilities 
                                                    option(value='91')  Other 
                                                    option(value='221')  Automotive 
                                                    option(value='222')  Aviation and Aerospace 
                                                    option(value='223')  Banking 
                                                    option(value='224')  Chemical 
                                                    option(value='225')  Construction 
                                                    option(value='226')  Electronics 
                                                    option(value='227')  Engineering 
                                                    option(value='228')  Financial Services 
                                                    option(value='229')  Food and Beverage 
                                                    option(value='231')  Insurance 
                                                    option(value='232')  Media 
                                                    option(value='234')  Oil and Gas 
                                                    option(value='235')  Pharmaceutical 
                                                    option(value='236')  Nuclear 
                                                    option(value='237')  Renewable Energy 
                                                    option(value='238')  Shipping and Logistics 
                                                    option(value='239')  Technology Hardware 
                                                    option(value='240')  Technology Software 
                                                    option(value='241')  Telecommunications 
                                                    option(value='242')  Transportation 
                                                    option(value='243')  Travel and Leisure 
                                                    option(value='425')  Non-Governmental Organizations 
                                                    option(value='88')  Services 
                                                    option(value='245')  Taxation 
                                                    option(value='246')  Compliance 
                                                    option(value='247')  Corporate Income Tax 
                                                    option(value='248')  Indirect Tax 
                                                    option(value='249')  Other 
                                                    option(value='250')  Permanent Establishment 
                                                    option(value='251')  Personal Income Tax 
                                                    option(value='252')  Profit Repatriation 
                                                    option(value='253')  Regulatory Update 
                                                    option(value='254')  Residency 
                                                    option(value='255')  Withholding/ Dividends 
                                                    option(value='316')  VAT 
                                                    option(value='256')  Legal 
                                                    option(value='257')  Compliance 
                                                    option(value='258')  Contract Drafting &amp; Review 
                                                    option(value='259')  Due Diligence 
                                                    option(value='260')  Intellectual Property 
                                                    option(value='261')  Litigation 
                                                    option(value='262')  Other 
                                                    option(value='263')  Regulatory Update 
                                                    option(value='317')  Culture 
                                                    option(value='93')  Art 
                                                    option(value='312')  History 
                                                    option(value='313')  Other 
                                                    option(value='318')  Consulting 
                                                    option(value='264')  Corporate Establishment 
                                                    option(value='265')  Branch/ Project 
                                                    option(value='266')  Joint Venture 
                                                    option(value='267')  Other 
                                                    option(value='268')  Rep Office/ Liaison 
                                                    option(value='269')  Wholly Foreign Owned Enterprise 
                                                    option(value='310')  Strategy 
                                                    option(value='41')  Market Entry 
                                                    option(value='270')  Branding 
                                                    option(value='271')  Country-Country Comparison 
                                                    option(value='272')  Intra-Country Regional Comparison 
                                                    option(value='273')  Intra-Country Regional Comparison 
                                                    option(value='274')  Investment Zone Comparison 
                                                    option(value='275')  Other 
                                                    option(value='276')  Relocation 
                                                    option(value='277')  Taxation 
                                                    option(value='319')  Human Resources 
                                                    option(value='104')  Other 
                                                    option(value='305')  HR Filing 
                                                    option(value='306')  Payroll Processing 
                                                    option(value='307')  Regulatory Update 
                                                    option(value='308')  Social Welfare 
                                                    option(value='309')  Visas and Work Permits 
                                                    option(value='311')  Compensation &amp; Remuneration 
                                                    option(value='412')  Individual Income Tax 
                                                    option(value='320')  Economy 
                                                    option(value='281')  GDP 
                                                    option(value='282')  General 
                                                    option(value='283')  Operational Costs 
                                                    option(value='284')  Other 
                                                    option(value='285')  Second/ Third Tier 
                                                    option(value='321')  Technology 
                                                    option(value='89')  Other 
                                                    option(value='286')  E-Commerce 
                                                    option(value='287')  IPR 
                                                    option(value='288')  R&amp;D 
                                                    option(value='323')  Foreign Trade 
                                                    option(value='278')  Free Trade Agreements 
                                                    option(value='279')  Multilateral Agreement 
                                                    option(value='280')  Tax Treaties 
                                                    option(value='289')  Other 
                                                    option(value='324')  Politics 
                                                    option(value='92')  Other 
                                                    option(value='290')  Conflicts/Disputes 
                                                    option(value='291')  Geopolitics/Strategy 
                                                    option(value='292')  Negotiations/Treaties 
                                                    option(value='293')  Summits/Conferences 
                                                    option(value='424')  Education 
                                                .form-field-bar
                                    .col-md.col-lg.text-center
                                                    button.btn.btn-secondary.btn-block(type='submit') Search                                                                                                  

    include components/_footer
    
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 