doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='//www.dezshira.com/themes/dsa/images/topics-banners/companyNews.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Company News       
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-grid
                    .card.news
                        .card-header-img.zoom-on-hover
                            a(href='news-single.html')
                                img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Giovanni-Lovisetti-speaking-at-the-University-of-Padova.jpg?fit=560%2C420&ssl=1')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='news-single.html') Giovanni Lovisetti Hosts Seminar at the University of Padova

                .col-sm.col-md-4.col-lg-4.col-grid
                    .card.news-right.mb-2
                        .card-header-img.zoom-on-hover
                            a(href='news-single.html')
                                img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Roundtable-The-Enemy-Within-Fraud-Fraud-Prevention-1.jpg?fit=301%2C200&ssl=1')
                            .card-text-overlap 
                                h2.text-center
                                 a(href='news-single.html') The Enemy Within: Fraud & Fraud Prevention
                    .card.news-right
                        .card-header-img.zoom-on-hover
                            a(href='news-single.html')
                                img(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Shanghai-Foreign-Investment-Law-Seminar.jpg?fit=267%2C200&ssl=1')
                            .card-text-overlap 
                                h2.text-center
                                 a(href='news-single.html') Shanghai and Beijing Offices Present on The New Foreign Investment Law             
            .grid
                .col-sm.col-md-8.col-lg-8.col-grid
                    h4.section-title latest news
                    ul.list.lists-img-thumbnail
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Giovanni-Lovisetti-speaking-at-the-University-of-Padova.jpg?fit=300%2C225&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 26, 2019
                                h2
                                    a(href='news-single.html') Giovanni Lovisetti Hosts Seminar at the University of Padova
                                p
                                    | On November 12 2019, Giovanni Lovisetti, Senior Associate on our International Business Advisory team, hosted a seminar at the University of Padova. The seminar discussed the role that lawyers, and consultants will play in helping companies leverage opportunities provided by the Belt and Road Initiative. Insights on the Chinese Government&rsquo;s Latest Initiatives Giovanni &nbsp;shared insights [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Roundtable-The-Enemy-Within-Fraud-Fraud-Prevention-1.jpg?fit=300%2C199&ssl=1', scale='0')
                            .list-content
                                small.text-muted  November 25, 2019
                                h2
                                    a(href='news-single.html') The Enemy Within: Fraud &amp; Fraud Prevention
                                p
                                    | On October 31st,&nbsp;members of our team participated in DUSA Suzhou&rsquo;s October Roundtable presenting on one of the most sensitive aspects of internal control, with a presentation&nbsp;titled &ldquo;The Enemy Within: Fraud &amp; Fraud Prevention.&rdquo; Managing Fraud From Within Your Organization Riccardo Benussi, Deputy Regional Manager of&nbsp;our East China offices, and Ivy Gu, our experienced Audit division&rsquo;s [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Shanghai-Foreign-Investment-Law-Seminar.jpg?fit=300%2C225&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 22, 2019
                                h2
                                    a(href='news-single.html') Shanghai and Beijing Offices Present on The New Foreign Investment Law
                                p
                                    | Recently Dezan Shira &amp; Associates held a series of seminars on China&rsquo;s new Foreign Investment Law (FIL). On October 30th Lorena Miera Ruiz (International Business Advisory Senior Associate) and Chenchen Liu (Business Advisory Services Senior Associate) from our Shanghai office co-hosted a breakfast seminar with the Benelux Chamber of Commerce, Shanghai Chapter. &nbsp; The next [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/bnp-paribas-milan-valeria.jpg?fit=300%2C234&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 20, 2019
                                h2
                                    a(href='news-single.html') Italian Desk Present at BNP Paribas Manager Meeting, Milan
                                p
                                    | On October 30th, Valeria Manunza, Assistant Manager and Giovanni Lovisetti, Senior Associate&nbsp;of our International Business Advisory team, were&nbsp;invited to present at the manager meeting of one of the world&rsquo;s leading banks, BNP Paribas, at their headquarter in Milan. The meeting was&nbsp;planned just after&nbsp;our company facilitated a business trip for a delegation of bankers from BNP [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i1.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/doing-business-in-China-talkshow-1.jpg?fit=300%2C208&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 19, 2019
                                h2
                                    a(href='news-single.html') Italian Desk Present on China&rsquo;s New Foreign Investment Law
                                p
                                    | On 6 November 2019, Dezan Shira&rsquo;s Deputy Regional Manager and Head of the Italian Desk, Riccardo Benussi, along with our Senior Consultant, Andrea Volpe, presented on the topic, &ldquo;The upcoming Foreign Investment Law and how it will affect current enterprises in China&rdquo; and &ldquo;Free Trade Zones&rdquo;. The presentation took place&nbsp;during a road show for the [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Ines-at-the-Macquarie-Graduate-School-of-Management-Alumni-event-1.png?fit=300%2C169&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 18, 2019
                                h2
                                    a(href='news-single.html') Ines Liu&rsquo;s Trip to Sydney, Australia
                                p
                                    | The&nbsp;new Head of our Australian Desk, Ines Liu, recently completed her first AU Desk business trip. From September 25 &ndash; October 13, Ines was in Sydney meeting with clients and key partners. For many years, Dezan Shira &amp; Associates has been a proven and trusted advisor to Australian companies and individuals active in the Asian [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Dezan-Shira-Associates-introduces-a-delegation-of-45-bankers-and-representatives-to-the-India-market.jpg?fit=300%2C225&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 11, 2019
                                h2
                                    a(href='news-single.html') BNP Paribas&rsquo; Italian Delegation Visits India
                                p
                                    | India and Italy have built a strong bilateral relationship owing to political, economic and cultural ties. Italy is India&rsquo;s fifth largest trading partner in the EU. It is also the 13th largest foreign investor in India. Our&nbsp;Milan and Delhi offices supported BNP Paribas with an informative from 18 &ndash; 27 October 2019, to introduce a [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/HR-Audit-Seminar-Shanghai.jpg?fit=300%2C225&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 8, 2019
                                h2
                                    a(href='news-single.html') Shanghai Office hosts HR Audit and Risk Avoidance Seminar
                                p
                                    | On 23rd October 2019, Dezan Shira &amp; Associates&lsquo; Shanghai office, in collaboration with the Swedish Chamber of Commerce, hosted a seminar discussing how to avoid legal risk in human resources. Ellen Yin, our Human Resources Assistant Manager and Allan Xu, our Business Advisory Services Manager co-presented this seminar titled HR Audit and Risk Avoidance in [&mldr;]
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/2019-11-08-10.13.01-www.dezshira.com-53994ae10ff1.jpg?fit=300%2C169&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 8, 2019
                                h2
                                    a(href='news-single.html')
                                        | China&rsquo;s Silk Road Gold Fund Is Investing To Create Wealth with Chris Devonshire-Ellis
                                p
                                    | Our Chairman and Founder, Chris Devonshire-Ellis, speaks with Rethinking the Dollar on what the Belt and Road Initiative (BRI) is, its role in the global market place, and what we should expect to see in the coming months and years. For weekly updates on the latest BRI news, visit www.silkroadbriefing.com.
                        li
                            a(href='news-single.html')
                                img.list-thumbnail.thumbnail-240.hidden-xs.hidden-xxs.hidden-sm(src='https://i0.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/10/Darcy-Moore-AustCham-South-China-William-Lin-Austrade-Shenzhen-Daisy-Huang-and-Marcos-Salgado-Dezan-Shira-Associates.jpg?fit=300%2C200&ssl=1', scale='0')
                            .list-content
                                small.text-muted November 1, 2019
                                h2
                                    a(href='news-single.html') Recap on &ldquo;An Introduction to GBA and its New IIT Policies&rdquo;
                                p
                                    | Much anticipated by real estate developers, industrialists, and investors alike, the Greater Bay Area (GBA) has received plenty of attention for its ambition to&nbsp;economically and socially&nbsp;transform nine mainland cities and two special administrative regions into a new Silicon Valley-type technology and innovation hub. To support the smooth implementation of the GBA plan and attract overseas [&mldr;]
                    ul.pagination
                        li
                            a(href='#') 1
                        li
                            a(href='news-single.html') 2
                        li
                            a.active(href='news-single.html') 3
                        li
                            a(href='news-single.html') 4
                        li
                            a(href='news-single.html') 5
                        li
                            a(href='news-single.html') 6
                        li
                            a(href='news-single.html') 7
                        li
                            a(href='news-single.html') Last             
                .col-sm.col-md-4.col-lg-4.col-grid                                    
                        h4.section-title JOIN OUR COMMUNITY
                        a.twitter-timeline(data-height='600', href='https://twitter.com/DezanShira?ref_src=twsrc%5Etfw') Tweets by DezanShira
                        script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")