doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='//www.dezshira.com/themes/dsa/images/topics-banners/companyNews.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Company News       
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1.page-title Giovanni Lovisetti Hosts Seminar at the University of Padova
                    p  
                        span.text-muted November 26, 2019
                        |  Posted by Dezan Shira &amp; Associates

                    p
                        | On November 12 2019, 
                        a(href='https://www.dezshira.com/personnel/giovanni-lovisetti.html') Giovanni Lovisetti
                        | , Senior Associate on our International Business Advisory team, hosted a seminar at the University of Padova.
                    p
                        | The seminar discussed the role that lawyers, and consultants will play in helping companies leverage opportunities provided by the Belt and Road Initiative.
                    h2 Insights on the Chinese Government&rsquo;s Latest Initiatives
                    p
                        | Giovanni &nbsp;shared insights about some of the latest initiatives promoted by the Chinese government, including the 
                        a(href='https://www.asiabriefing.com/store/book/new-foreign-investment-law-china.html') new Law on Foreign Investment
                    a(href='https://www.dezshira.com/personnel/tag/china-beijing')
                        img.flex-img(src='https://i2.wp.com/www.dezshira.com/updates/wp-content/uploads/2019/11/Giovanni-Lovisetti-speaking-at-the-University-of-Padova.jpg')
                    small.text-center.p-arround-2 Speakers discussing the impact of the new Foreign Investment Law
                    p
                        | Giovanni said: &ldquo;The new Foreign Investment Law is going to be in effective on January 1, 2020, and all the foreign investors must take this into consideration when they start to plan how to reshape their company structure in China in order to comply with the new regulations. Together with BRI, the new Law on Foreign Investment is an important tool to further push the opening up process of China and to make easier doing business in China.&rdquo;
                    p
                        | Giovanni went on to describe the major changes introduced by the new law on Foreign Investment and the best strategies to support Italian investors in this important transition.
                    h2
                        strong About Our Italian Desk
                    p
                        | Our 
                        a(href='https://www.dezshira.com/international-desk/italian.html') Italian Desk
                        | &nbsp;members have international academic education, especially in Italy and China, which allow them to understand cultural differences in doing business and&nbsp;garner&nbsp;a solid understanding of regulatory differences. This is relevant for SMEs looking for clarification and support when investing in Asia.
                    p
                        | The Italian Desk drafts and disseminates a variety of business intelligence resources for Italian companies interested in or operating in Asia, which include articles, podcasts, webinars and newsletters.
                    p
                        | These can be downloaded from our websites for free and&nbsp;discovered via a number of our&nbsp;social media networks.
                    p
                        | We regularly write and publish articles in both English and Italian.&nbsp;You may 
                        a(href='https://www.dezshira.com/register')
                            strong sign up
                        |  for our monthly newsletter which covers regulatory updates, analysis, and commentary on issues concerning Italian investors in Asia.
                    p
                        | You can also read our spotlight news of our Italian desk 
                        a(href='https://www.dezshira.com/updates/2019/05/spotlight-italian-desk-asia-business-resources.html') here.
                    h2
                        strong Publications and Resources on Doing Business in Asia
                    p
                        | To stay up-to-date with free Asia news and publications, please visit our 
                        a(href='http://www.asiabriefing.com/')
                            strong Asia Briefing
                        |  website and download our publications.
                    p
                        | You can also subscribe to our investor resource library, 
                        a(href='https://www.dezshira.com/library')
                            strong Asiapedia
                        | , for related resources.
                    hr
                    .grid
                        .col-md-6.col-lg-6
                            small Previous Article 
                            br
                            | &laquo; 
                            a(href='https://www.dezshira.com/updates/2019/12/recap-china-foreign-investment-law-breakfast-seminar.html', rel='prev') Recap on China&rsquo;s New Foreign Investment Law, Breakfast Seminar Beijing
                        .col-md-6.col-lg-6.text-right
                            small Next Article Article 
                            br
                            | &laquo; 
                            a(href='https://www.dezshira.com/updates/2019/12/recap-china-foreign-investment-law-breakfast-seminar.html', rel='prev') Recap on China&rsquo;s New Foreign Investment Law, Breakfast Seminar Beijing                            

                .col-sm.col-md-4.col-lg-4.col-grid                                    
                        h4.section-title RELATED READING
                        ul.list.lists-img-thumbnail
                            li
                                a(href='http://www.asiabriefing.com/store/book/da-nang-vietnam-emerging-investment-destination.html', target='_blank')
                                    img.flex-img.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/200x275/Publications/8516/VB_2019_11_issue_Cover.jpg', scale='0', width='150')
                                .list-content
                                    span.text-muted November 25, 2019
                                    h4
                                        a(href='http://www.asiabriefing.com/store/book/da-nang-vietnam-emerging-investment-destination.html', target='_blank') Da Nang: Vietnam&rsquo;s Emerging Investment Destination
                                    p
                                        | Da Nang has emerged as an attractive investment destination for domestic and international investors, followed...
                                    a.btn.btn-outline-dark(href='http://www.asiabriefing.com/store/book/da-nang-vietnam-emerging-investment-destination.html', target='_blank')  DOWNLOAD
                                .clearfix
                            li
                                a(href='http://www.asiabriefing.com/store/book/setting-up-indonesia.html', target='_blank')
                                    img.flex-img.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/200x275/Publications/8518/ASB_2019_11_issue_Cover.jpg', scale='0', width='150')
                                .list-content
                                    span.text-muted November 28, 2019
                                    h4
                                        a(href='http://www.asiabriefing.com/store/book/setting-up-indonesia.html', target='_blank') Setting up in Indonesia
                                    p
                                        | After overcoming the Asian financial crisis in 1998, Indonesia developed into a vibrant democracy with the lar...
                                    a.btn.btn-outline-dark(href='http://www.asiabriefing.com/store/book/setting-up-indonesia.html', target='_blank')  DOWNLOAD
                                .clearfix
                            li
                                a(href='http://www.asiabriefing.com/store/book/back-office-automation-china.html', target='_blank')
                                    img.flex-img.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/200x275/Publications/8478/CB_Mag_2019_10_issue_Cover.jpg', scale='0', width='150')
                                .list-content
                                    span.text-muted October 21, 2019
                                    h4
                                        a(href='http://www.asiabriefing.com/store/book/back-office-automation-china.html', target='_blank') Back Office Automation in China
                                    p
                                        | Automation in the professional services segment &ndash; the use of information technology to automate basic busine...
                                    a.btn.btn-outline-dark(href='http://www.asiabriefing.com/store/book/back-office-automation-china.html', target='_blank')  DOWNLOAD
                                .clearfix
                            li
                                a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank')
                                    img.flex-img.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/200x275/Publications/8301/IB_2019_06_issue_Cover.jpg', scale='0', width='150')
                                .list-content
                                    span.text-muted June 26, 2019
                                    h4
                                        a(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank') The Goods and Services Tax in India
                                    p
                                        | In this issue of India Briefing, we first introduce various provisions of the GST system to help companies und...
                                    a.btn.btn-outline-dark(href='http://www.asiabriefing.com/store/book/goods-services-tax-india.html', target='_blank')  DOWNLOAD
                                .clearfix
                            li
                                a(href='http://www.asiabriefing.com/store/book/growing-opportunities-foreign-investors-indonesia-8026.html', target='_blank')
                                    img.flex-img.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/200x275/Publications/8026/INDOB_2018_12_issue_Cover.jpg', scale='0', width='150')
                                .list-content
                                    span.text-muted January 10, 2019
                                    h4
                                        a(href='http://www.asiabriefing.com/store/book/growing-opportunities-foreign-investors-indonesia-8026.html', target='_blank') Growing Opportunities for Foreign Investors in Indonesia
                                    p
                                        | In this issue of Indonesia Briefing magazine, we focus on emerging FDI opportunities in Indonesia and highligh...
                                    a.btn.btn-outline-dark(href='http://www.asiabriefing.com/store/book/growing-opportunities-foreign-investors-indonesia-8026.html', target='_blank')  DOWNLOAD
                                .clearfix
                            li
                                a(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593', target='_blank')
                                    img.flex-img.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/200x275/Publications/5185/Silk_Road_-_Cover_1.jpg', scale='0', width='150')
                                .list-content
                                    span.text-muted August 31, 2015
                                    h4
                                        a(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593', target='_blank')
                                        | China&apos;s New Economic Silk Road: The Great Eurasian Game &amp; The String of Pearls (PDF Download Version)
                                    p
                                        | This unique and currently only available study into the proposed Silk Road Economic Belt  examines the institu...
                                    a.btn.btn-outline-dark(href='http://www.asiabriefing.com/store/book/chinas-new-economic-silk-road-the-great-eurasian-game-the-string-of-pearls-pdf-download-version-593', target='_blank')  DOWNLOAD
                                .clearfix
                            li#related_reading_see_more
                                a.btn-link(href='#')
                                strong See more &gt;
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")