doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header      
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-8.col-grid
                    h1.page-title China Announces New Free Trade Zones in Six Provinces
                    div 
                        a.btn.btn-primary.mt-2.mb-2(role='button', href='#') News
                    .meta.pt-2.pb-2.border-top.border-bottom.pt-1.pb-1.mt-1.mb-1
                        time.entry-date.text-muted(datetime='2018-01-11T20:57:56+00:00')
                            small
                            i.icon-calendar
                            |  Posted On September 2019
                    p
                        | Esta sesión de preguntas y respuestas cubre algunos de los tipos de fraude que las empresas con inversión extranjera en China deben tener en cuenta. Además, describimos algunos de los mecanismos de control interno para la gestión de riesgos en China.
                    h2
                        | ¿Cuáles son los tipos de fraude más comunes a los que están expuestos los inversionistas extranjeros cuando hacen negocios en China?
                    p
                        | Las empresas extranjeras que entren en el mercado chino deben prestar atención al compliance diario de la información financiera, seguridad de los activos de la empresa, operaciones del día a día y la evaluación de inventario, además de registros sobre la actividad comercial de la sociedad.
                    h3 Apropiaci&oacute;n indebida de activos
                    ul
                        li
                            em Apropiaci&oacute;n indebida de inventario
                    p
                        | La malversaci&oacute;n de inventario implica la manipulaci&oacute;n no autorizada de inventario o el robo absoluto del mismo.En China, este tipo de fraude a menudo se produce mediante ventas y env&iacute;os falsos, con el robo de inventario realizado al crear pedidos de compra ficticios. Otro ejemplo es que la administraci&oacute;n local compre acciones innecesarias, a menudo con el objetivo de recibir una compensaci&oacute;n personal de los proveedores y ocultar el inventario extra para evitar llamar la atenci&oacute;n.
                    ul
                        li
                            em Desembolsos fraudulentos
                    p
                        | Los ejemplos m&aacute;s comunes de desembolsos fraudulentos en China incluyen pagos no autorizados a personal y proveedores. A trav&eacute;s de la manipulaci&oacute;n de la facturaci&oacute;n, los estafadores crean proveedores ficticios para canalizar el dinero a una empresa fantasma o una cuenta bancaria personal.Los fraudes de n&oacute;mina, que suelen implicar la creaci&oacute;n de empleados fantasmas para canalizar salarios ficticios a sus propias cuentas bancarias, son otro ejemplo com&uacute;n de fraude. Adem&aacute;s, algo muy relevante para el contexto chino, pues a veces estos fraudes de reembolso de gastos se utilizan al exagerar los gastos o crear costes ficticios que pueden aumentar la compensaci&oacute;n del empleado llevando a cabo el fraude.Mientras que a nivel de la empresa, los desembolsos fraudulentos a veces se utilizan para fines de evasi&oacute;n de impuestos.
                    h3 Corrupci&oacute;n
                    ul
                        li
                            em Conflictos de inter&eacute;s
                    p
                        | Las empresas extranjeras est&aacute;n expuestas a riesgos de conflictos de inter&eacute;s cuando su subsidiaria china participa en ventas o compras con partes relacionadas.Los conflictos de intereses a veces se producen a trav&eacute;s de compras fraudulentas, por lo que la administraci&oacute;n local compra productos o servicios de una empresa que es propiedad de un amigo o pariente o que es propiedad directa de uno de los estafadores involucrados en el fraude. Esta forma de licitaci&oacute;n de ofertas es posiblemente el tipo m&aacute;s com&uacute;n de fraude que las empresas sufren hoy en d&iacute;a en China. Los esquemas de ventas fraudulentos son otro ejemplo com&uacute;n, y ha habido casos en que la administraci&oacute;n local vende productos a una empresa intermediaria que participa de la estafa, y los productos se venden por segunda vez a clientes externos a un precio m&aacute;s alto. El margen en la venta act&uacute;a como motivo del delito.
                    ul
                        li
                            em Soborno
                    p
                        | Un ejemplo com&uacute;n de soborno en China hoy en d&iacute;a es cuando la administraci&oacute;n local recibe sobornos de facturas de proveedores, a cambio de condiciones de pago preferentes o simplemente como recompensa por su &quot;lealtad&quot;.En ciertas industrias, se utilizan diferentes sobornos (regalos, &quot;sobres rojos&quot;, cenas, etc.) para facilitar acuerdos comerciales aunque tales ejemplos de malversaci&oacute;n son menos frecuentes que en el pasado. De hecho, la corrupci&oacute;n en su forma m&aacute;s obvia se condena cada vez m&aacute;s en el entorno empresarial chino as&iacute; como por parte del gobierno chino.
                    a.btn.btn-gray.mb-4.btn-block(href='#', target='_top')
                        | Read more 
                        i.icon-chevron-down
                    h4.section-title.mb-2 See how we can your business:    
                    .grid
                        .col-sm.col-md-4.col-lg-4.col-grid
                            .card.service-news
                                .card-header-img.zoom-on-hover
                                    a(href='services-single.html')
                                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-intelligence-solutions.jpg')
                                    .card-text-overlap
                                        h2.text-left
                                            a(href='services-single.html') Business Intelligence
                                .card-body
                                    p.mb-0
                                        | Business intelligence is a critical component of the decision making process when considering where and how an investment into Asia should be made. Our pan-Asia team can help your business with its strategic direction.
                                .card-footer    
                                    a.btn.btn-outline-dark(href='#', target='_top')
                                        | Read more 
                                        i.ml-1.icon-long-arrow-right
                        .col-sm.col-md-4.col-lg-4.col-grid
                            .card.service-news 
                                .card-header-img.zoom-on-hover
                                    a(href='services-single.html')
                                        img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-advisory.jpg')
                                    .card-text-overlap
                                        h2.text-left                               
                                            a(href='services-single.html') Corporate Establishment and Structuring
                                .card-body
                                    p.mb-0
                                        | The incorporation and structure of your investment define the early stages of your Asia expansion and impact your future success. A well-planned legal structure can help to make the difference.
                                .card-footer    
                                    a.btn.btn-outline-dark(href='#', target='_top')
                                        | Read more 
                                        i.ml-1.icon-long-arrow-right
                        .col-sm.col-md-4.col-lg-4.col-grid
                            .card.service-news 
                                .card-header-img.zoom-on-hover
                                    a(href='services-single.html')
                                        img(src='http://dezshira.in/themes/dsa-2020/images/services/thumb-legal-financial-due-diligence.jpg')
                                    .card-text-overlap
                                        h2.text-left
                                            a(href='services-single.html') Due Diligence
                                .card-body
                                    p.mb-0
                                        | Minimizing risks to realize opportunities is a unique challenge in Asia. Our team integrates local legal and financial expertise to help our clients de-risk their investments.
                                .card-footer    
                                    a.btn.btn-outline-dark(href='#', target='_top')
                                        | Read more 
                                        i.ml-1.icon-long-arrow-right
                .col-sm-12.col-md-4.col-grid                                    
                        h4.section-title RECENT RESOURCES
                        ul.list.lists-img-thumbnail
                            li
                                a(href='https://www.dezshira.com/library/qa/alojamiento-sitio-web-china.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/650x400/Resources/8525/India-Brefing-Analyzing-the-AuditorCus-Report-in-India.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted December 2019
                                    h4
                                        a(href='https://www.dezshira.com/library/qa/alojamiento-sitio-web-china.html', target='_blank') Alojamiento de un sitio web en China
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/library/qa/gestion-riesgos-para-inversores-extranjeros-china.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/650x400/Resources/8524/Fraud_and_Risk_Management_for_Companies.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted November 28, 2019
                                    h4
                                        a(href='https://www.dezshira.com/library/qa/gestion-riesgos-para-inversores-extranjeros-china.html', target='_blank') Gestión de 
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/multimedia/view/china-regulatory-watch-december-2-2019-8521.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://resource.dezshira.com/resize/650x400/Multimedia/8521/China_Regulatory_Watch_-_December_22019.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted December 2, 2019
                                    h4
                                        a(href='https://www.dezshira.com/multimedia/view/china-regulatory-watch-december-2-2019-8521.html', target='_blank') China Regulatory Watch 
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/multimedia/view/the-key-considerations-year-end-tax-treatment-2019-preferential-tax-policy.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-webinar.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted November 2019
                                    h4
                                        a(href='https://www.dezshira.com/multimedia/view/the-key-considerations-year-end-tax-treatment-2019-preferential-tax-policy.html', target='_blank') The Key Considerations for Year-End Tax Treatment and the 2019 Preferential Tax Policy
                                .clearfix
                            li
                                a(href='https://www.dezshira.com/multimedia/view/introduction-supplier-network-northern-vietnam.html', target='_blank')
                                    img.flex-img.list-thumbnail.thumbnail-120(src='https://www.dezshira.com/themes/dsa/images/asiapedia/thumb-webinar.jpg', scale='0', width='150')
                                .list-content
                                    small.text-muted November 2019
                                    h4
                                        a(href='https://www.dezshira.com/multimedia/view/introduction-supplier-network-northern-vietnam.html', target='_blank') Introduction to Supplier Networks in Northern Vietnam
                                .clearfix
                            .grey-bg.borderTopDarkblue
                                form.material.white-theme.mini-search-form(role='form', method='GET', action='https://www.dezshira.com/library/search')
                                    .col-sm.col-md.col-lg.border-bottom
                                        .form-field.field-group
                                            .form-field-control
                                                input#search-asiapedia-resources.form-field-input(type='text', name='search-asiapedia-resources', placeholder=' ')
                                                label.form-field-label(for='search-asiapedia-resources') Search Asiapedia resources
                                                .form-field-bar
                                                .btn.group-field-btn.btn-secondary.icon-chevron-down 
                                    .col-sm.col-mb.col-lg
                                        .form-field
                                            .form-field-control
                                                select#type.form-select-input(name='type', placeholder='', type='text')
                                                    option(label='type') Filter by type
                                                    option(value='') All
                                                    option(value='qa') Q&amp;A 
                                                    option(value='infographic') Infographic
                                                    option(value='presentation') Presentation
                                                    option(value='videographic') Videographic
                                                    option(value='video') Video
                                                    option(value='interview') Interview
                                                    option(value='podcast') Podcast
                                                    option(value='webinar') Webinar
                                                    option(value='magazine') Magazine
                                                    option(value='guide') Guides
                                                    option(value='report') Report
                                                    option(value='partner-publication') Partner Publication
                                                    option(value='DTA') DTA 
                                                    option(value='FTA') FTA
                                                    option(value='BIT') BIT
                                                    option(value='other treaties') Other Treaties
                                                .form-field-bar 
                                    .col-sm.col-mb.col-lg-
                                        .form-field
                                            .form-field-control
                                                select#language.form-select-input(name='type', placeholder='', type='text')
                                                    option(label='language') Language
                                                    option(value='15')   English 
                                                    option(value='21')   French 
                                                    option(value='19')   German 
                                                    option(value='18')   Italian 
                                                    option(value='20')   Spanish 
                                                    option(value='120')   Russian 
                                                    option(value='112')   Chinese 
                                                .form-field-bar
                                    .col-sm.col-mb.col-lg-
                                        .form-field
                                            .form-field-control
                                                select#topics.form-select-input(name='type', placeholder='', type='text')
                                                    option(label='topics') Topics
                                                    option(value='83')  Consumer Goods Production 
                                                    option(value='84')  Finance 
                                                    option(value='294')  Accounting 
                                                    option(value='96')  Compliance 
                                                    option(value='295')  Advisory 
                                                    option(value='296')  Annual Audit 
                                                    option(value='297')  Bookkeeping 
                                                    option(value='298')  Financial Reporting 
                                                    option(value='299')  GAAP 
                                                    option(value='300')  Capitalization 
                                                    option(value='301')  Other 
                                                    option(value='302')  RMB 
                                                    option(value='303')  Stock Markets 
                                                    option(value='304')  VC/ PE 
                                                    option(value='415')  Internal Control and Fraud Prevention 
                                                    option(value='86')  Industry 
                                                    option(value='82')  Mining and Minerals 
                                                    option(value='85')  Health Care 
                                                    option(value='87')  Retail 
                                                    option(value='90')  Utilities 
                                                    option(value='91')  Other 
                                                    option(value='221')  Automotive 
                                                    option(value='222')  Aviation and Aerospace 
                                                    option(value='223')  Banking 
                                                    option(value='224')  Chemical 
                                                    option(value='225')  Construction 
                                                    option(value='226')  Electronics 
                                                    option(value='227')  Engineering 
                                                    option(value='228')  Financial Services 
                                                    option(value='229')  Food and Beverage 
                                                    option(value='231')  Insurance 
                                                    option(value='232')  Media 
                                                    option(value='234')  Oil and Gas 
                                                    option(value='235')  Pharmaceutical 
                                                    option(value='236')  Nuclear 
                                                    option(value='237')  Renewable Energy 
                                                    option(value='238')  Shipping and Logistics 
                                                    option(value='239')  Technology Hardware 
                                                    option(value='240')  Technology Software 
                                                    option(value='241')  Telecommunications 
                                                    option(value='242')  Transportation 
                                                    option(value='243')  Travel and Leisure 
                                                    option(value='425')  Non-Governmental Organizations 
                                                    option(value='88')  Services 
                                                    option(value='245')  Taxation 
                                                    option(value='246')  Compliance 
                                                    option(value='247')  Corporate Income Tax 
                                                    option(value='248')  Indirect Tax 
                                                    option(value='249')  Other 
                                                    option(value='250')  Permanent Establishment 
                                                    option(value='251')  Personal Income Tax 
                                                    option(value='252')  Profit Repatriation 
                                                    option(value='253')  Regulatory Update 
                                                    option(value='254')  Residency 
                                                    option(value='255')  Withholding/ Dividends 
                                                    option(value='316')  VAT 
                                                    option(value='256')  Legal 
                                                    option(value='257')  Compliance 
                                                    option(value='258')  Contract Drafting &amp; Review 
                                                    option(value='259')  Due Diligence 
                                                    option(value='260')  Intellectual Property 
                                                    option(value='261')  Litigation 
                                                    option(value='262')  Other 
                                                    option(value='263')  Regulatory Update 
                                                    option(value='317')  Culture 
                                                    option(value='93')  Art 
                                                    option(value='312')  History 
                                                    option(value='313')  Other 
                                                    option(value='318')  Consulting 
                                                    option(value='264')  Corporate Establishment 
                                                    option(value='265')  Branch/ Project 
                                                    option(value='266')  Joint Venture 
                                                    option(value='267')  Other 
                                                    option(value='268')  Rep Office/ Liaison 
                                                    option(value='269')  Wholly Foreign Owned Enterprise 
                                                    option(value='310')  Strategy 
                                                    option(value='41')  Market Entry 
                                                    option(value='270')  Branding 
                                                    option(value='271')  Country-Country Comparison 
                                                    option(value='272')  Intra-Country Regional Comparison 
                                                    option(value='273')  Intra-Country Regional Comparison 
                                                    option(value='274')  Investment Zone Comparison 
                                                    option(value='275')  Other 
                                                    option(value='276')  Relocation 
                                                    option(value='277')  Taxation 
                                                    option(value='319')  Human Resources 
                                                    option(value='104')  Other 
                                                    option(value='305')  HR Filing 
                                                    option(value='306')  Payroll Processing 
                                                    option(value='307')  Regulatory Update 
                                                    option(value='308')  Social Welfare 
                                                    option(value='309')  Visas and Work Permits 
                                                    option(value='311')  Compensation &amp; Remuneration 
                                                    option(value='412')  Individual Income Tax 
                                                    option(value='320')  Economy 
                                                    option(value='281')  GDP 
                                                    option(value='282')  General 
                                                    option(value='283')  Operational Costs 
                                                    option(value='284')  Other 
                                                    option(value='285')  Second/ Third Tier 
                                                    option(value='321')  Technology 
                                                    option(value='89')  Other 
                                                    option(value='286')  E-Commerce 
                                                    option(value='287')  IPR 
                                                    option(value='288')  R&amp;D 
                                                    option(value='323')  Foreign Trade 
                                                    option(value='278')  Free Trade Agreements 
                                                    option(value='279')  Multilateral Agreement 
                                                    option(value='280')  Tax Treaties 
                                                    option(value='289')  Other 
                                                    option(value='324')  Politics 
                                                    option(value='92')  Other 
                                                    option(value='290')  Conflicts/Disputes 
                                                    option(value='291')  Geopolitics/Strategy 
                                                    option(value='292')  Negotiations/Treaties 
                                                    option(value='293')  Summits/Conferences 
                                                    option(value='424')  Education 
                                                .form-field-bar
                                    .col-md.col-lg.text-center
                                                    button.btn.btn-secondary.btn-block(type='submit') Search
                            .card.light-blue-bg.mt-2.mb-2.p-arround-2
                                a(href='https://www.dezshira.com/brochure')
                                    img(alt='', src='https://www.dezshira.com/themes/dsa/images/icons/Download.png', srcset='https://www.dezshira.com/themes/dsa/images/icons/Download@2x.png 2x')
                                p
                                    a(href='https://www.dezshira.com/brochure') DOWNLOAD BROCHURE
                                h3
                                    a(href='https://www.dezshira.com/brochure')
                                    | Get access to our Asiapedia resource, magazines and guides, as well as our monthly newsletter
                                                                                                                                                    

    include components/_footer
    
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js") 