doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-7.col-lg-7.col-grid
                    h1 Global Locations
                    h4 We provide on-the-ground support from over 25 offices located across China, ASEAN, and India as well as Europe and North America.                  
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title CHOOSE REGION
                    ul.list-unstyled.sidebar-nav
                        li
                            a(href='office-page.html')  Global
                        li
                            a(href='office-page.html')  China
                        li
                            a(href='office-page.html')  India
                        li
                            a(href='office-page.html')  Hong Kong
                        li
                            a(href='office-page.html')  Singapore
                        li
                            a(href='office-page.html')  Vietnam
                        li
                            a(href='office-page.html') Germany
                        li
                            a(href='office-page.html') Italy
                        li
                            a(href='office-page.html') North America
                        li
                            a(href='office-page.html') UK &amp; Ireland
                        li
                            a(href='office-page.html') Russia
                .col-sm.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-4 Locations
                    <iframe width="100%" height="560px" frameborder="0" src="https://www.dezshira.com/office/map?global_zoom=42.00000,13.00000,6" scrolling="no" seamless="seamless" __idm_frm__="5315"></iframe>
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")