doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')    
        .container
            .grid.align-end
                .col-sm-7.col-md-7.col-grid
                    h1 Beijing Office                   
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-8.col-grid
                    h4.section-title Contact information
                    .grid
                        .col-sm-12.col-md-4.col-grid
                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/offices/detail/Beijing.jpg', alt='')

                        .col-sm-12.col-md-8.col-grid
                            ul.list
                                li
                                    address
                                    p
                                        strong
                                        | Dezan Shira &amp; Associates Beijing
                                        br
                                        | Suite EF06, East Tower, Twin Towers, B-12, Jian Guo Men Wai Avenue
                                        br
                                        | Chaoyang District
                                        br
                                        | Beijing
                                        br
                                        | China
                                        br
                                        |  100022
                                        // more
                                        br
                                        br
                                        strong &#x534F;&#x529B;&#x7BA1;&#x7406;&#x54A8;&#x8BE2;&#xFF08;&#x6DF1;&#x5733;&#xFF09;&#x6709;&#x9650;&#x516C;&#x53F8; &#x5317;&#x4EAC;&#x529E;&#x516C;&#x5BA4;
                                        br
                                        | &#x4E2D;&#x56FD;&#x5317;&#x4EAC;&#x5E02;&#x671D;&#x9633;&#x533A;&#x5EFA;&#x56FD;&#x95E8;&#x5916;&#x5927;&#x8857;&#x4E59;12&#x53F7;&#x53CC;&#x5B50;&#x5EA7;&#x5927;&#x53A6;&#x4E1C;&#x5854;EF06&#x5BA4;
                                        br
                                        | &#x90AE;&#x7F16;: 100022
                                li
                                    span
                                    strong.pr-2 Tel
                                    |  &#x9;+86 (0)10 6566 0088
                                    br
                                    span
                                    strong.pr-2 Fax 
                                    | &#x9;+86 (0)10 6566 0288
                                    br
                                    span
                                    strong.pr-2 Email
                                    |  &#x9;beijing@dezshira.com

                                li
                                    h4 Regional contact person
                                    ul.list.lists-with-logo
                                        li
                                            img.img-circle.mr-2(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Sabrina-200x200_awb8i4csv81c.jpg', alt='', width='80', height='80')
                                            .list-content.pt-3
                                                a(href='//www.dezshira.com/personnel/sabrina-zhang.html') Sabrina Zhang
                                                | &#x9;&#x9;&#x9;Partner
                                    li
                                        a.btn-link(href='//www.dezshira.com/personnel/tag/china-beijing') see more experts &gt;

                .col-sm-12.col-md-4.col-grid
                    h4.section-title.mb-4 MAP
                    <iframe width="100%" height="560px" frameborder="0" src="https://www.dezshira.com/office/map?id=1" scrolling="no" seamless="seamless" __idm_frm__="5315"></iframe>
    section.banner.top-postion-24
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/Briefings-Ads-SRB.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-grid.offset-md-2.offset-lg-2
                    h4.text-uppercase Business Intelligence
                    h2
                        | For more information visit 
                        br
                        a(href='https://www.silkroadbriefing.com/', target='_blank') www.silkroadbriefing.com         
    include components/_footer