doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-3.col-md-3.col-grid
                    h4.section-title CHOOSE REGION
                    ul.list-unstyled.sidebar-nav
                        li
                            a(href='https://www.dezshira.com/partnerships/global')  Global
                        li
                            a(href='https://www.dezshira.com/partnerships/china')  China
                        li
                            a(href='https://www.dezshira.com/partnerships/india')  India
                        li
                            a(href='https://www.dezshira.com/partnerships/hong kong')  Hong Kong
                        li
                            a(href='https://www.dezshira.com/partnerships/singapore')  Singapore
                        li
                            a(href='https://www.dezshira.com/partnerships/vietnam')  Vietnam
                        li
                            a(href='https://www.dezshira.com/partnerships/germany') Germany
                        li
                            a(href='https://www.dezshira.com/partnerships/italy') Italy
                        li
                            a(href='https://www.dezshira.com/partnerships/usa') North America
                        li
                            a(href='https://www.dezshira.com/partnerships/UK and Ireland') UK &amp; Ireland
                        li
                            a(href='https://www.dezshira.com/partnerships/russia') Russia
                .col-sm-9.col-md-9.col-grid
                    h4.section-title.mb-4 China
                    <iframe width="100%" height="500px" frameborder="0" src="https://www.dezshira.com/office/map?global_zoom=30.00000,110.00000,4" __idm_frm__="5318"></iframe>
                    h4.section-title.mt-4.mb-4 CHOOSE REGION
                    .grid
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/beijing/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Beijing Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/dalian/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Dalian Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/dongguan/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Dongguan Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/guangzhou/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Guangzhou Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/hangzhou/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Hangzhou Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/ningbo/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Ningbo Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/qingdao/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Qingdao Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/shanghai/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Shanghai Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/shenzhen/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Shenzhen Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/suzhou/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Suzhou Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt; 
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/tianjin/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Tianjin Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;
                        .col-sm-6.col-md-6.col-grid
                            .card.office
                                .card-body
                                    .lists-with-logo
                                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                img.list-logo.float-left.mr-2(src='http://www.dezshira.com/userfiles/staticpage-assets/office/zhongshan/thumb.jpg', scale='0')
                                            .list-content.float-left
                                                h4
                                                    a(href='https://www.dezshira.com/office/china/beijing.html') Zhongshan Office
                                                p
                                                    | Tel: +86 (0)10 6566 0088
                                                    br
                                                    |       Fax:+86 (0)10 6566 0288
                                                    br
                                                    |       Email:beijing@dezshira.com
                                .card-footer
                                    a.btn.btn-link(href='https://www.dezshira.com/office/china/beijing.html', target='_blank') Show more &gt;                                                                                                                                                                                     
    include components/_footer