doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header-blueV2
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-7.col-lg-7.col-grid
                    h1 Global Locations
                    p We provide on-the-ground support from over 25 offices located across China, ASEAN, and India as well as Europe and North America.                  
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title.mb-0 CHOOSE REGION
                    .accordion-wrapper.vertical-menu(data-autoclose='')
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span China
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Beijing
                                        li
                                            a(href='office-single.html') Dalian
                                        li
                                            a(href='office-single.html') Dongguan
                                        li
                                            a(href='office-single.html') Guangzhou
                                        li
                                            a(href='office-single.html') Hangzhou
                                        li
                                            a(href='office-single.html') Ningbo
                                        li
                                            a(href='office-single.html') Qingdao
                                        li
                                            a(href='office-single.html') Shanghai
                                        li
                                            a(href='office-single.html') Shenzhen
                                        li
                                            a(href='office-single.html') Suzhou
                                        li
                                            a(href='office-single.html') Tianjin
                                        li
                                            a(href='office-single.html') Zhongshan
                            .accordion-item
                                .accordion-heading Belt &amp; Road Initiative
                            .accordion-item
                                .accordion-heading Hong Kong
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span India
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Bengaluru 
                                        li
                                            a(href='office-single.html') Delhi
                                        li
                                            a(href='office-single.html') Mumbai
                            .accordion-item
                                .accordion-heading Indonesia
                            .accordion-item
                                .accordion-heading Malaysia
                            .accordion-item
                                .accordion-heading Philippines
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span Russia
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Moscow Office
                                        li
                                            a(href='office-single.html') St.Petersburg Office
                                        li
                                            a(href='office-single.html') Irkutsk Office
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span Vietnam
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Danang
                                        li
                                            a(href='office-single.html') Hanoi
                                        li
                                            a(href='office-single.html') Ho Chi Minh City
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span Italian Liaison Offices
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Conegliano Office
                                        li
                                            a(href='office-single.html') Udine Office
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span German Liaison Offices
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Essen
                                        li
                                            a(href='office-single.html') Cologne
                                        li
                                            a(href='office-single.html') Stuttgart
                            .accordion-item
                                .accordion-heading
                                    a(href='office-single.html') 
                                        span USA Liaison Offices
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Boston Office
                                        li
                                            a(href='office-single.html') San Diego Office
                                        li
                                            a(href='office-single.html') Salt Lake City Office
                .col-sm.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-0 Locations
                    <iframe width="100%" height="560px" frameborder="0" src="https://www.dezshira.com/office/map?global_zoom=42.00000,13.00000,6" scrolling="no" seamless="seamless" __idm_frm__="5315"></iframe>
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")