doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Partners-banner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-6.col-lg-6.col-grid
                    h1 Our Global Partners
                    h4 
                        | We partner with organisations across the world to give us a truly global presence. Discover each of our regions’ key partners below.       
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title CHOOSE REGION
                    ul.list-unstyled.sidebar-nav
                        li
                            a(href='https://www.dezshira.com/partnerships/global')  Global
                        li
                            a(href='https://www.dezshira.com/partnerships/china')  China
                        li
                            a(href='https://www.dezshira.com/partnerships/india')  India
                        li
                            a(href='https://www.dezshira.com/partnerships/hong kong')  Hong Kong
                        li
                            a(href='https://www.dezshira.com/partnerships/singapore')  Singapore
                        li
                            a(href='https://www.dezshira.com/partnerships/vietnam')  Vietnam
                        li
                            a(href='https://www.dezshira.com/partnerships/germany') Germany
                        li
                            a(href='https://www.dezshira.com/partnerships/italy') Italy
                        li
                            a(href='https://www.dezshira.com/partnerships/usa') North America
                        li
                            a(href='https://www.dezshira.com/partnerships/UK and Ireland') UK &amp; Ireland
                        li
                            a(href='https://www.dezshira.com/partnerships/russia') Russia 
                .col-sm.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-4 Our Global Partners
                    ul.list.lists-img-thumbnail
                        li
                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/Screen_Shot_2013-05-06_at_09.54.41.png', scale='0',)
                                .list-content
                                    h3
                                        a(href='http://www.leadingedgealliance.com/', target='_blank',) Leading Edge Alliance
                                    p
                                        | Dezan Shira &amp; Associates is a member of the 
                                        a(href='http://www.leadingedgealliance.com/', target='_blank')
                                            strong Leading Edge Alliance
                                        | , the worlds second largest global network of 226 accounting practices including 620 offices in 110 countries. Dezan Shira &amp; Associates won the Alliance&acute;s &quot;Most Innovative Practice&quot; &ndash; its highest award &ndash; and the &quot;Recognition of Excellence&quot; award in 2013, the prestigious &ldquo;Edge Award&rdquo; in 2014, as well as the &ldquo;Outstanding Marketing Award&rdquo; in 2016.
                        li
                            a(href='http://www.leadingedgealliance.com/', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.dezshira.com/userfiles/image/partners/IR%20Global%20logo.png', scale='0',)
                                .list-content
                                    h3
                                        a(href='http://www.leadingedgealliance.com/', target='_blank',) IR Global
                                    p
                                        | Dezan Shira &amp; Associates is a member of the 
                                        a(href='http://www.leadingedgealliance.com/', target='_blank')
                                                strong IR Global
                                        | , a network of legal and tax firms across 155 countries and jurisdications. The network and its members specialize in legal, accountancy and financial advisory services, connecting clients and providing strategic global development.
                        li
                            a(href='http://www.cci-paris-idf.fr/', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/ficluw0gsu800cs4sk.jpg', scale='0',)
                                .list-content
                                    h3
                                        a(href='http://www.cci-paris-idf.fr/', target='_blank',) CCI Paris Ile-de-France
                                    p
                                        | The CCI Paris Ile-de-France is a French chamber of commerce that supports businesses in Paris and the Ile-de-France. Created in 2013 it is a merger of several smaller chambers of commerce.
                        li
                            a(href='http://eu-asean.eu//', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/3x5byghqqvi800kwgg.png', scale='0',)
                                .list-content
                                    h3
                                        a(href='http://eu-asean.eu/', target='_blank',) EU-ASEAN Business Council
                                    p
                                        | The EU-ASEAN Business Council is the primary voice for European business within the ASEAN region. It is endorsed by the European Commission and recognised by the ASEAN Secretariat. The Council has been established to promote the interests of European businesses operating within ASEAN and to advocate for changes in policies and regulations to foster trade and investment between Europe and ASEAN.
                        li
                            a(href='https://www.excelia.com/en/', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/yq7xka2istwcsooo48.jpg', scale='0',)
                                .list-content
                                    h3
                                        a(href='https://www.excelia.com/en/', target='_blank',) Excelia
                                    p
                                        | Excelia is an international Consulting Firm that provides a wide range of Professional BPO Services and Digital Transformation solutions to help their clients reach sustainable and continuous business excellence. Besides their Headquarters in Madrid, Spain, Excelia has its own offices in México, Colombia, Peru, Chile, Panamá and Argentina. With more than 20 years of experience, Exelia has been able to offer solutions in more than 30 countries in mainly two continents, Europe and America. These services are rendered through their own offices or a selected partner network that has been created throughout the years.
                        li
                            a(href='http://ihoyeonacc.com/front/intro.html', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/28h2qtcqyvy8wg4ck0.png', scale='0',)
                                .list-content
                                    h3
                                        a(href='http://ihoyeonacc.com/front/intro.html', target='_blank',) Ho Yeon Accounting Corporation
                                    p
                                        | Hoyeon is an accounting firm in Korea providing accounting, tax, and advisory services to various international and Korean local clients. Hoyeon has a very strong sense of obligation to deliver quality and excellent services to its clients; being more specific, all members in Hoyeon have a wealth of experience working either at BIG Four firms (PwC, KPMG, and EY) or at the National Tax Services before joining Hoyeon. Hoyeon’s offices are located in Seoul and Busan
                        li
                            a(href='#', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/qanmgnx9xuogc0kgw.png', scale='0',)
                                .list-content
                                    h3
                                        a(href='#', target='_blank',) HSBC Bank
                                    p
                                        | HSBC, one of the world’s largest banking and financial services organizations, has been connecting Americans to global opportunities since 1865. It serves customers from offices and branches in cities across the United States including New York, Los Angeles, Chicago, Atlanta, Houston, Seattle, Miami, San Francisco, and Washington, DC.
                        li
                            a(href='https://www.primexis.eu/', target='_blank')
                                img.hidden-xs.hidden-xxs.hidden-sm.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/partners/r7oj27gmfj4g8o0os.png', scale='0',)
                                .list-content
                                    h3
                                        a(href='https://www.primexis.eu/', target='_blank',) Primexis
                                    p
                                        With a 300-strong team of employees, Primexis is a specialist accounting and operational consulting firm. Created in the 1980’s, the firm has committed itself to developing a range of services for accounting and finance departments, HR departments and IT departments within the context of finance projects. We work with major French groups as well as French subsidiaries of foreign groups and mid-sized companies who rely on Primexis for their recognized expertise in numerous functions.
                    ul.pagination
                        li.active
                            a(href='#') 1
                        li
                            a(href='https://www.dezshira.com/library/search?location=32&page=2') 2
                        li
                            a.active(href='https://www.dezshira.com/library/search?location=32&page=3') 3
                        li
                            a(href='https://www.dezshira.com/library/search?location=32&page=4') 4
                        li
                            a(href='https://www.dezshira.com/library/search?location=32&page=5') 5
                        li
                            a(href='https://www.dezshira.com/library/search?location=32&page=6') 6
                        li
                            a(href='https://www.dezshira.com/library/search?location=32&page=7') 7
                        li
                            a(href='https://www.dezshira.com/library/search?location=32&page=151') Last                                                                                                                                                                                                                                                                                       
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")