doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header                   
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title CHOOSE REGION
                    .accordion-wrapper.vertical-menu(data-autoclose='')
                            .accordion-item
                                .accordion-heading
                                    span China
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Beijing
                                        li
                                            a(href='office-single.html') Dalian
                                        li
                                            a(href='office-single.html') Dongguan
                                        li
                                            a(href='office-single.html') Guangzhou
                                        li
                                            a(href='office-single.html') Hangzhou
                                        li
                                            a(href='office-single.html') Ningbo
                                        li
                                            a(href='office-single.html') Qingdao
                                        li
                                            a(href='office-single.html') Shanghai
                                        li
                                            a(href='office-single.html') Shenzhen
                                        li
                                            a(href='office-single.html') Suzhou
                                        li
                                            a(href='office-single.html') Tianjin
                                        li
                                            a(href='office-single.html') Zhongshan
                            .accordion-item
                                .accordion-heading Belt &amp; Road Initiative
                            .accordion-item
                                .accordion-heading Hong Kong
                            .accordion-item
                                .accordion-heading
                                    span India
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Bengaluru 
                                        li
                                            a(href='office-single.html') Delhi
                                        li
                                            a(href='office-single.html') Mumbai
                            .accordion-item
                                .accordion-heading Indonesia
                            .accordion-item
                                .accordion-heading Malaysia
                            .accordion-item
                                .accordion-heading Philippines
                            .accordion-item
                                .accordion-heading
                                    span Russia
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Moscow Office
                                        li
                                            a(href='office-single.html') St.Petersburg Office
                                        li
                                            a(href='office-single.html') Irkutsk Office
                            .accordion-item
                                .accordion-heading
                                    span Vietnam
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Danang
                                        li
                                            a(href='office-single.html') Hanoi
                                        li
                                            a(href='office-single.html') Ho Chi Minh City
                            .accordion-item
                                .accordion-heading
                                    span Italian Liaison Offices
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Conegliano Office
                                        li
                                            a(href='office-single.html') Udine Office
                            .accordion-item
                                .accordion-heading
                                    span German Liaison Offices
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Essen
                                        li
                                            a(href='office-single.html') Cologne
                                        li
                                            a(href='office-single.html') Stuttgart
                            .accordion-item
                                .accordion-heading
                                    span USA Liaison Offices
                                    i.float-right.down-arrow  
                                .accordion-content
                                    ul.list
                                        li
                                            a(href='office-single.html') Boston Office
                                        li
                                            a(href='office-single.html') San Diego Office
                                        li
                                            a(href='office-single.html') Salt Lake City Office
                .col-sm.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-4 Contact Personnel in India – Delhi
                    ul.list.lists-img-thumbnail
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/adam-livermore.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Adam Livermore 
                                    p
                                        | Country of Origin  
                                        a(href='personnel-single.html', target='')
                                            strong Great Britain Partner
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Rohit_2017_200x200.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Rohit Kapur 
                                    p
                                        a(href='personnel-single.html', target='')
                                            strong Managing Director     
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/sahil-bw.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Sahil Aggarwal 
                                    p
                                        a(href='personnel-single.html', target='')
                                            strong Manager, International Business Advisory                                                                                    
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Koushan_Das.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Koushan Das 
                                    p
                                        a(href='personnel-single.html', target='')
                                            strong Assistant Manager, Business Intelligence                                                                                    
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Ishtaa200200.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Ishtaa Jain 
                                    p
                                        a(href='personnel-single.html', target='')
                                            strong Senior Associate, Corporate Accounting Services   
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Sunny200200_bs53aeb0b4ye.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Sunny Makhija 
                                    p
                                        a(href='personnel-single.html', target='')
                                            strong Senior Associate, International Business Advisory 
                        li
                            a(href='personnel-single.html', target='')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Neetu_Suthar_DSA.jpg', scale='0',)
                                .list-content.pt-3
                                    h3
                                        a(href='personnel-single.html', target='',) Neetu Suthar 
                                    p
                                        a(href='personnel-single.html', target='')
                                            strong Junior Associate, International Business Advisory                                                                                         
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")