doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header  
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')    
        .container
            .grid.align-center
                .col-sm-3.col-md-2.col-lg-2.col-xlg-2.col-grid
                    img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120.img(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/adam-livermore.jpg', scale='0',)
                .col-sm-7.col-md-7.col-lg-7.col-xlg-7.col-grid
                    h1 Adam Livermore
                    h4 Partner
                    h5 Dalian Office         
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-9.col-lg-9.col-xlg-9.col-grid
                        h4.section-title BIO
                        p
                            | Adam Livermore is the newest equity partner at Dezan Shira &amp; Associates.&nbsp; Born in London, he has been living in China for the past fourteen years and is proficient in Chinese and Japanese.
                        p
                            | Adam directly manages Dezan Shira &amp; Associates&apos; Dalian, Qingdao and India offices while leading the team providing integrated payroll processing services to clients across China, Vietnam, India, Hong Kong and Singapore.&nbsp; Adam has a particular specialization in the areas of Human Resources in China, relating to both the legal and administration aspects as well as possessing a comprehensive understanding of the key legal and accounting topics relating to foreign direct investment in China.
                        p
                            | Before coming to China, Adam worked for nine years in Japan acting as a translator and interpreter. In his final four years there he became deeply involved in commercial real estate finance working at GMAC Commercial Mortgage.&nbsp; His work exposed him to business areas of asset management, property management, distressed loan servicing, commercial loan origination and REIT structuring.&nbsp; Properties under Adam&rsquo;s management at the time included office buildings, sports centers, distribution centers, supermarkets and mixed-use buildings.&nbsp; His focus was on the maintenance and disposition of these assets for the company.
                        p
                            | Adam has co-written a book with colleagues in the Dalian office of Dezan Shira &amp; Associates entitled &ldquo;Human Resources in China&rdquo; that provides in-depth explanations of the critical aspects that foreign managers need to understand when dealing with human resources issues in the People&apos;s Republic of China.&nbsp; He regularly contributes to the Asia Briefing Series of technical guides as well as providing technical insight to Asia Briefing&apos;s business websites.&nbsp; Many of these articles have been syndicated in business publications worldwide.
                        p
                            | For the past two years, Adam has been acting as Chairman of the International Club of Dalian (ICD), an organization that aims to improve the general living environment for foreigners living in Dalian and to&nbsp;help them integrate into its community.&nbsp; ICD organizes various business, social and charity activities for its members.
                        p
                            | Adam achieved his degree in Business Studies and Economics from the University of Sheffield.&nbsp; As part of his degree course, he spent an exchange year at the University of Maryland in the United States of America.
                        h4.section-title.mb-2 EXPERTISE
                        .grid
                            .col-sm.col-md-6.col-lg-6
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/personnel/tag/corporate-formation')  Corporate Formation
                                    li
                                        a(href='https://www.dezshira.com/personnel/tag/staff-manual')  Staff Manual
                                    li
                                        a(href='https://www.dezshira.com/personnel/tag/visa-services')  Visa Services
                            .col-sm.col-md-6.col-lg-6
                                ul.list-unstyled.bullet-list
                                    li
                                        a(href='https://www.dezshira.com/personnel/tag/corporate-tax-filings')  Corporate Tax Filings
                                    li
                                        a(href='https://www.dezshira.com/personnel/tag/personal-tax-filings')  Personal Tax Filings
                                    li
                                        a(href='https://www.dezshira.com/personnel/tag/payroll-processing')  Payroll Processing
                        h4.section-title.mt-2 Press

                        .listJS#pressList(data-page=3)
                            form.mt(action='register.html', method='GET')
                                    .form-field.field-group.mb-2
                                        input.search.required(type='text', name='search', placeholder='Search...', value='')
                                        .btn.group-field-btn                                                   
                                            i
                                                <img src="assets/img/icons-search.png" alt="" width="20px">                         
                            ul.list
                                li
                                    a(href='http://www.networkhr.com/issue/minimum-wage-stats-in-china/', target='_blank').title 
                                        | Benefits and Remuneration &ndash; Minimum Wage Stats in China, Network HR
                                    span.text-right.float-right 2012-05-16
                                li
                                    a(href='http://www.amchamchina.org/article/5683', target='_blank').title
                                        | Dalian Booms During Downturn, American Chamber of Commerce, China 
                                    span.text-right.float-right 2012-03-14
                                li
                                    a(href='http://www.china-briefing.com/news/2012/02/21/mandatory-social-welfare-benefits-for-chinese-employees.html', target='_blank').title
                                        | Mandatory Social Welfare Benefits for Chinese Employees, China Briefing 
                                    span.text-right.float-right 2012-02-21
                                li
                                    a(href='http://www.corporatelivewire.com/top-story.html?id=chinas-social-insurance-law-what-does-it-mean-for-employers-and-foreign-individuals', target='_blank').title
                                        | China&rsquo;s Social Insurance Law - What Does It Mean For Employers And Foreign Individuals?, Corporate LiveWire 
                                    span.text-right.float-right 2011-11-18
                                        .clearfix
                                li
                                    a(href='http://www.thatsmags.com/prd/article/617/expat-social-insurance', target='_blank').title
                                        | Expat Social Insurance, That&apos;s PRD 
                                    span.text-right.float-right 2011-10-31
                            ul.pagination.mt-3

                        h4.section-title.mb-1.mt-4 Events
                        .listJS#eventsList(data-page=3)
                            form.mt(action='register.html', method='GET')
                                    .form-field.field-group.mb-2
                                        input.search.required(type='text', name='search', placeholder='Search...', value='')
                                        .btn.group-field-btn                                                   
                                            i
                                                <img src="assets/img/icons-search.png" alt="" width="20px"> 
                            ul.list.lists-events
                                li
                                    .date-block.hidden-sm.hidden-xs.hidden-xxs
                                        | Nov
                                        span Oct, 2019
                                    .dec-block
                                        h4.pt-05
                                            a(href='https://www.dezshira.com/events/details/the-key-considerations-for-year-end-tax-treatment-and-the-2019-preferential-tax-policy-8494.html')
                                                | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                        .date-time
                                            small
                                                | Webinar | 27 November 2019 | 3PM-4PM China Time
                                    
                                li
                                    .date-block.dark-blue-bg.hidden-sm.hidden-xs.hidden-xxs
                                        | Nov
                                        span Oct, 2019
                                    .dec-block
                                        h4.pt-05
                                            a(href='https://www.dezshira.com/events/details/the-key-considerations-for-year-end-tax-treatment-and-the-2019-preferential-tax-policy-8494.html')
                                                | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                        .date-time
                                            small
                                                | Webinar | 27 November 2019 | 3PM-4PM China Time
                                    
                                li
                                    .date-block.hidden-sm.hidden-xs.hidden-xxs
                                        | Nov
                                        span Oct, 2019
                                    .dec-block
                                        h4.pt-05
                                            a(href='https://www.dezshira.com/events/details/the-key-considerations-for-year-end-tax-treatment-and-the-2019-preferential-tax-policy-8494.html')
                                                | The Key Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                        .date-time
                                            small
                                                | Webinar | 27 November 2019 | 3PM-4PM China Time
                                    
                                li
                                    .date-block.hidden-sm.hidden-xs.hidden-xxs
                                        | Nov
                                        span Oct, 2019
                                    .dec-block
                                        h4.pt-05
                                            a(href='https://www.dezshira.com/events/details/the-key-considerations-for-year-end-tax-treatment-and-the-2019-preferential-tax-policy-8494.html')
                                                | New Event Considerations For Year-End Tax Treatment and The 2019 Preferential Tax Policy
                                        .date-time
                                            small
                                                | Webinar | 27 November 2019 | 3PM-4PM China Time                        
                            ul.pagination.mt-1

                .col-sm.col-md-3.col-lg-3.col-grid
                    h4.section-title ADDITIONAL INFO
                    ul.list
                        li
                            h4 Office
                            p.mb-0.text-muted Dalian Office
                        li
                            h4 Languages
                            p.mb-0.text-muted Chinese, Mandarin, English, Japanese                                                                                       
    include components/_footer

    //JavaScript
    script(src="assets/js/list.min.js")
    script(src="assets/js/scripts.js")    