doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header                   
    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-3.col-grid
                    h4.section-title CHOOSE REGION
                    ul.list-unstyled.sidebar-nav
                        li
                            a(href='https://www.dezshira.com/partnerships/global')  Global
                        li
                            a(href='https://www.dezshira.com/partnerships/china')  China
                        li
                            a(href='https://www.dezshira.com/partnerships/india')  India
                        li
                            a(href='https://www.dezshira.com/partnerships/hong kong')  Hong Kong
                        li
                            a(href='https://www.dezshira.com/partnerships/singapore')  Singapore
                        li
                            a(href='https://www.dezshira.com/partnerships/vietnam')  Vietnam
                        li
                            a(href='https://www.dezshira.com/partnerships/germany') Germany
                        li
                            a(href='https://www.dezshira.com/partnerships/italy') Italy
                        li
                            a(href='https://www.dezshira.com/partnerships/usa') North America
                        li
                            a(href='https://www.dezshira.com/partnerships/UK and Ireland') UK &amp; Ireland
                        li
                            a(href='https://www.dezshira.com/partnerships/russia') Russia
                .col-sm-12.col-md-9.col-lg-9.col-grid
                    h4.section-title.mb-4 Contact Personnel in India – Delhi
                    ul.list.lists-img-thumbnail
                        li
                            a(href='https://www.dezshira.com/personnel/adam-livermore.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/adam-livermore.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/adam-livermore.html', target='_blank',) Adam Livermore 
                                    p
                                        | Country of Origin  
                                        a(href='https://www.dezshira.com/personnel/adam-livermore.html', target='_blank')
                                            strong Great Britain Partner
                        li
                            a(href='https://www.dezshira.com/personnel/rohit-kapur.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Rohit_2017_200x200.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/rohit-kapur.html', target='_blank',) Rohit Kapur 
                                    p
                                        a(href='https://www.dezshira.com/personnel/rohit-kapur.html', target='_blank')
                                            strong Managing Director     
                        li
                            a(href='https://www.dezshira.com/personnel/sahil-aggarwal.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/sahil-bw.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/sahil-aggarwal.html', target='_blank',) Sahil Aggarwal 
                                    p
                                        a(href='https://www.dezshira.com/personnel/sahil-aggarwal.html', target='_blank')
                                            strong Manager, International Business Advisory                                                                                    
                        li
                            a(href='https://www.dezshira.com/personnel/koushan-das.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='//www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Koushan_Das.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/koushan-das.html', target='_blank',) Koushan Das 
                                    p
                                        a(href='https://www.dezshira.com/personnel/koushan-das.html', target='_blank')
                                            strong Assistant Manager, Business Intelligence                                                                                    
                        li
                            a(href='https://www.dezshira.com/personnel/ishtaa-jain.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Ishtaa200200.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/ishtaa-jain.html', target='_blank',) Ishtaa Jain 
                                    p
                                        a(href='https://www.dezshira.com/personnel/ishtaa-jain.html', target='_blank')
                                            strong Senior Associate, Corporate Accounting Services   
                        li
                            a(href='https://www.dezshira.com/personnel/sunny-makhija.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Sunny200200_bs53aeb0b4ye.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/sunny-makhija.html', target='_blank',) Sunny Makhija 
                                    p
                                        a(href='https://www.dezshira.com/personnel/sunny-makhija.html', target='_blank')
                                            strong Senior Associate, International Business Advisory 
                        li
                            a(href='https://www.dezshira.com/personnel/neetu-suthar.html', target='_blank')
                                img.img-circle.hidden-xs.hidden-xxs.list-thumbnail.thumbnail-120(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/Neetu_Suthar_DSA.jpg', scale='0',)
                                .list-content.pt-3
                                    h4
                                        a(href='https://www.dezshira.com/personnel/neetu-suthar.html', target='_blank',) Neetu Suthar 
                                    p
                                        a(href='https://www.dezshira.com/personnel/neetu-suthar.html', target='_blank')
                                            strong Junior Associate, International Business Advisory                                                                                         

    include components/_footer