doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/banner-asiapedia.jpg')    
        .container
            .grid.align-end
                .col-sm-8.col-md-8.col-grid.offset-2.text-center
                    h1 Key Regional Professionals
                    h4 Dezan Shira & Associates employs over 300 professionals, including lawyers, accountants, auditors and business specialists in our offices throughout Asia. Our key Asia Regional personnel are as follows: 
                   
    section.pt-150.pb-7.gray-light-bg
        .container

            .grid
                .col-sm-4.col-md-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/personnel/tag/china-beijing')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/china.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='https://www.dezshira.com/personnel/tag/china-beijing') China

                .col-sm-4.col-md-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/personnel/tag/india-delhi')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/India.jpg')
                            .card-text-overlap 
                                h2.text-center
                                 a(href='https://www.dezshira.com/personnel/tag/india-delhi') India

                .col-sm-4.col-md-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/personnel/tag/vietnam-hanoi')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/Vietnam.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='https://www.dezshira.com/personnel/tag/vietnam-hanoi') Vietnam

                .col-sm-4.col-md-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/personnel/tag/singapore')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Singapore.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='https://www.dezshira.com/personnel/tag/singapore') Singapore

                .col-sm-4.col-md-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/personnel/tag/hong-kong')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/HK.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='https://www.dezshira.com/personnel/tag/hong-kong') Hong Kong

                .col-sm-4.col-md-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/personnel/tag/indonesia')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Jakarta.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='https://www.dezshira.com/personnel/tag/indonesia') Indonesia

                .col-sm-4.col-md-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/personnel/tag/german')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Germany.jpg')
                                .card-text-overlap 
                                    h2.text-center 
                                        a(href='https://www.dezshira.com/personnel/tag/german') Germany Liaison Office
   
                .col-sm-4.col-md-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/personnel/tag/asean')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/asean.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='https://www.dezshira.com/personnel/tag/asean') ASEAN Alliance Members
                .col-sm-4.col-md-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/personnel/tag/italy')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/Italy.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='https://www.dezshira.com/personnel/tag/italy') Italian Liaison Office

                .col-sm-4.col-md-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/personnel/tag/usa')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/USA.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='https://www.dezshira.com/personnel/tag/usa') USA Liaison Office

                .col-sm-4.col-md-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='https://www.dezshira.com/personnel/tag/russia')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/russia.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='https://www.dezshira.com/personnel/tag/russia') Russia

                .col-sm-4.col-md-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='https://www.dezshira.com/personnel/tag/silk-road')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Silk-Road.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='https://www.dezshira.com/personnel/tag/silk-road') The New Silk Belt &amp; Road




    include components/_footer