doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/DSA-Our-team-banner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Key Regional Professionals
                    p Dezan Shira & Associates employs over 300 professionals, including lawyers, accountants, auditors and business specialists in our offices throughout Asia. Our key Asia Regional personnel are as follows: 
    section.pt-150.pb-7.gray-light-bg
        .container
            .grid
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='personnal-list.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/china.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='personnal-list.html') China
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='personnal-list.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/India.jpg')
                            .card-text-overlap 
                                h2.text-center
                                 a(href='personnal-list.html') India
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='personnal-list.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/Vietnam.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='personnal-list.html') Vietnam
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='personnal-list.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Singapore.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='personnal-list.html') Singapore
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='personnal-list.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/HK.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='personnal-list.html') Hong Kong
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='personnal-list.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Jakarta.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='personnal-list.html') Indonesia
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='personnal-list.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Germany.jpg')
                                .card-text-overlap 
                                    h2.text-center 
                                        a(href='personnal-list.html') Germany Liaison Office
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='personnal-list.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/asean.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='personnal-list.html') ASEAN Alliance Members
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='personnal-list.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/Italy.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='personnal-list.html') Italian Liaison Office
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='personnal-list.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/USA.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='personnal-list.html') USA Liaison Office
                .col-sm-6.col-md-6.col-lg-4.col-grid
                    .card.resources
                        .card-header-img.zoom-on-hover
                            a(href='personnal-list.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/personnel/russia.jpg')
                            .card-text-overlap 
                                h2.text-center
                                    a(href='personnal-list.html') Russia
                .col-sm-6.col-md-6.col-lg-4.col-grid
                        .card.resources
                            .card-header-img.zoom-on-hover
                                a(href='personnal-list.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/personnel/Silk-Road.jpg')
                                .card-text-overlap 
                                    h2.text-center
                                        a(href='personnal-list.html') The New Silk Belt &amp; Road
    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")