doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-7.col-lg-7.col-grid
                    h1 St.Petersburg Office                   
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-grid
                    h4.section-title Contact information
                    .grid
                        .col-sm.col-md-4.col-lg-4.col-grid
                            img.flex-img(src='https://www.dezshira.com/themes/dsa/images/offices/detail/St.Petersburg.jpg', alt='')

                        .col-sm.col-md-8.col-lg-8.col-grid
                            ul.list
                                li
                                    address
                                    p
                                        strong
                                        | Dezan Shira Alliance Member in Russia Mark Prior & Co. 
                                        br
                                        | 4/f, 14, Karavanaya, St.Petersburg
                                        // more
                                li
                                    span
                                    strong.pr-2 Tel
                                    |  &#x9;+86 (0)10 6566 0088
                                    br
                                    span
                                    strong.pr-2 Fax 
                                    | &#x9;+86 (0)10 6566 0288
                                    br
                                    span
                                    strong.pr-2 Email
                                    |  &#x9; russia@dezshira.com

                                li
                                    h4 Chris Devonshire-Ellis
                                    ul.list.lists-img-thumbnail
                                        li
                                            img.mr-2.img-circle(src='https://www.asiabriefing.com/site-mgmt-v2/new/userfiles/personnel/chris-devonshire-ellis.jpg', alt='', width='80', height='80')
                                            .list-content.pt-3
                                                i.icon-linkedin2.float-right.ml-1.text-muted
                                                i.icon-envelope1.float-right.ml-1.text-muted
                                                a(href='//www.dezshira.com/personnel/sabrina-zhang.html') Chairman & Founding 
                                                | &#x9;&#x9;&#x9;Partner
                                    li
                                        a.btn-link(href='//www.dezshira.com/personnel/tag/china-beijing') see more experts &gt;
                .col-sm.col-md-4.col-lg-4.col-grid
                    h4.section-title.mb-4 MAP
                    <iframe width="100%" height="560px" frameborder="0" src="https://www.dezshira.com/office/map?id=1" scrolling="no" seamless="seamless" __idm_frm__="5315"></iframe>
    section.banner.top-postion-24
        img(alt='', src='http://www.dezshira.com/themes/dsa/images/topics-banners/Briefings-Ads-RB.jpg')    
        .container
            .grid
                .col-sm-2.col-md-2.col.col-lg-2-grid.offset-sm-1.offset-md-1.offset-lg-1.text-right
                    a(href='https://www.silkroadbriefing.com/', target='_blank')
                        img.img.hidden-xxs.hidden-xs(alt='', src='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-2x.png', srcset='https://www.dezshira.com/themes/dsa/images/briefing-logos/rb-2x.png 2x', width='85', height='85')
                .col-sm-8.col-md-8.col-lg-8
                    h4.text-uppercase Business Intelligence
                    h2
                        | For more information visit 
                        br
                        a(href='https://www.silkroadbriefing.com/', target='_blank') www.silkroadbriefing.com
    section.grey.pt-7.pb-7
        .container
            .grid
                .col-sm-12.col-md-12.col-lg-12
                    img.img-responsive.margin20Bottom(alt='', src='//dezshira.com/themes/dsa/images/DSA-Asian-ALliance-logo.png', srcset='//dezshira.com/themes/dsa/images/DSA-Asian-ALliance-logo-2x.png 2x')
                    p
                    | These firms have been chosen following an exhaustive selection process which has tested their capabilities in communications and responsiveness in addition to high levels of expertise in local legal, tax, regulatory and technical expertise and awareness. Our Dezan Shira Asian Alliance members share similar IT infrastructure and support, permitting seamless transition of services throughout the Asian region.

                    p
                    | In our continued effort to provide legal, tax and audit advisory services in multiple Asian jurisdictions, Dezan Shira &amp; Associates has selected local practices with strong capabilities to be part of the Dezan Shira Asian Alliance. In coordination with our Alliance member-firms, Dezan Shira &amp; Associates will now be able to provide global multinational companies pan-Asian advisory services.

                    p
                    | For international clients requiring consistency and professionalism across multiple Asian countries and jurisdictions, the Dezan Shira Asian Alliance provides the highest levels of local knowledge combined with a pan-Asian presence and capability.
                    p
                    | We are always seeking to expand our Alliance with reputable and energetic regional practices.
                    p.left-center
                    em
                        | If your firm would like to be considered as part of the Dezan Shira Asian Alliance, please 
                        strong
                        a(href='mailto:alberto@dezshira.com') Contact us
                        |  here.

    include components/_footer

    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")