doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/services/banner-services.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid.offset-md-2.offset-lg-2.text-center
                    h1 Services
                    h4.mt-2 Dezan Shira & Associates is a multidisciplinary professional services firm. Local experts at the firm provide services tailored to the unique challenges facing international businesses in Asia.
                    a.btn.btn-secondary.mt-2.block-center(href='#CTA_form') Contact us for more information

    section.pt-150.pb-7
        .container
            .grid
                .col-sm-12.col-md-12.col-lg-12.col-grid
                    p
                        |The services provided by Dezan Shira & Associates incorporate more than two decades of on-the-ground experience in Asia’s dynamic business environment. The firm’s services help decision makers manage the legal, tax, and operational challenges facing multinational businesses in China, ASEAN, and India.
            .grid
                .col-sm-6.col-md-6.col-lg-6.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='services-single.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-intelligence-solutions.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                    a(href='services-single.html') Business Intelligence
                        .card-body
                            p
                                | Business intelligence is a critical component of the decision making process when considering where and how an investment into Asia should be made. Our pan-Asia team can help your business with its strategic direction.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='services-single.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-advisory.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3                                
                                    a(href='services-single.html') Corporate Establishment and Structuring
                        .card-body
                            p
                                | The incorporation and structure of your investment define the early stages of your Asia expansion and impact your future success. A well-planned legal structure can help to make the difference.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                    .card.services
                        .card-header-img.zoom-on-hover
                            a(href='services-single.html')
                                img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-business-advisory.jpg')
                            .card-text-overlap
                                h2.text-left.ml-3
                                    a(href='services-single.html') Due Diligence
                        .card-body
                            p
                                | Minimizing risks to realize opportunities is a unique challenge in Asia. Our team integrates local legal and financial expertise to help our clients de-risk their investments.
                            a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='services-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-accounting-reporting.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='services-single.html') Accounting
                            .card-body
                                p
                                    | International accounting standards are applicable in Asia, but still vary greatly in practice. We provide local expertise on country-specific accounting issues to help you manage your investment.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='services-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-payroll-human-resource-administration.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='services-single.html') HR and Payroll
                            .card-body
                                p
                                    | Managing personnel in Asia requires a robust approach to local regulations and customs. Our services are designed to help foreign invested companies with compliance and best practices.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='services-single.html') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='services-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-tax.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='services-single.html') Tax
                            .card-body
                                p
                                    | Tax laws and regulations throughout Asia are continuously being updated and refined. Our team of professionals are accustomed to navigating this fast-paced environment.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='#') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='services-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-audit-financial-review.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='services-single.html') Audit and Risk Advisory    
                            .card-body
                                p
                                    | Internal and statutory audits are a core concern issue for all businesses. Our regional teams of qualified auditors are accustomed to providing local expertise to an international standard.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='services-single.html') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='services-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-information-technology-solutions.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='services-single.html') Technology   
                            .card-body
                                p
                                    | We understand that Asia’s Information Technology (IT) environment is unique and encompasses the need to understand different languages and softwares.Our advisors can help you find solutions that help you improve your business efficiency.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='services-single.html') Read more
                .col-sm-6.col-md-6.col-lg-6.col-grid
                        .card.services
                            .card-header-img.zoom-on-hover
                                a(href='services-single.html')
                                    img(src='https://www.dezshira.com/themes/dsa/images/services/thumb-outbound-direct-investment.jpg')
                                .card-text-overlap
                                    h2.text-left.ml-3
                                        a(href='services-single.html') Outbound Direct Investment    
                            .card-body
                               
                                p
                                    | Dezan Shira &amp; Associates’ outbound investment team is committed to providing a specialized and comprehensive range of advisory services to Chinese and Asian companies interested in an overseas expansion.
                                a.btn.btn-outline-dark.mt-2(target='_top', href='services-single.html') Read more
    include components/_footer
    
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")