doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  #wrapper.home
    include components/_header
    section.banner
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/LocationsBanner.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-7.col-lg-7.col-grid
                    h1 New Silk Belt & Road                   
    section.pt-150.pb-7
        .container
            .grid
                .col-sm.col-md-4.col-lg-4.col-grid
                    img.flex-img(src='https://www.dezshira.com/themes/dsa/images/offices/detail/New Silk Belt & Road.jpg', alt='')
                .col-sm.col-md-8.col-lg-8.col-grid
                    p
                        | China&apos;s Belt &amp; Road Initiative encompasses over 60 countries. However due to the desire for corporate intelligence concerning the BRI, we have put together a bespoke team drawn from our offices in China, Russia, South-East Asia and Europe, and via our membership of the Leading Edge Alliance global network, are able to provide market intelligence, risk assessment, business advisory and legal and tax advise to government institutions and businesses interested in business opportunities or intelligence studies in all countries along China&apos;s Belt &amp; Road Initiative.&nbsp;Learning how to position, develop a strategy and profit from China&apos;s involvement in Eurasian infrastructure build is a huge question for todays MNC&apos;s.
                    p
                        | Please contact: 
                        br
                        | Chris Devonshire-Ellis 
                        br
                        a(href='mailto:silkroad@dezshira.com') silkroad@dezshira.com
                    h3 Sample Reading: 
                    ul
                        li
                            a(href='https://www.silkroadbriefing.com/news/2018/05/08/chinas-belt-road-import-growth-overtakes-export-growth-first-time/', target='_blank') China&rsquo;s Belt Road Import Growth Overtakes Export Growth for the First Time
                        li
                            a(href='https://www.silkroadbriefing.com/news/2018/05/21/russias-eurasian-economic-union-free-trade-agreement-beijing-brings-chinese-goods-eu-border/', target='_blank')
                                | Russia&rsquo;s Eurasian Economic Union Free Trade Agreement with Beijing Brings Chinese Goods to the EU Border
                        li
                            a(href='https://www.silkroadbriefing.com/news/2018/04/30/foreign-businesses-can-prosper-chinas-belt-road-initiative-exploit-infrastructure/', target='_blank')
                                | How Foreign Businesses Can Prosper from China&rsquo;s Belt and Road Initiative: Exploit the Infrastructure
    section.banner.top-postion-24
        img(alt='', src='https://www.dezshira.com/themes/dsa/images/topics-banners/Briefings-Ads-SRB.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-grid.offset-md-2.offset-lg-2
                    h4.text-uppercase Business Intelligence
                    h2
                        | For more information visit 
                        br
                        a(href='https://www.silkroadbriefing.com/', target='_blank') www.silkroadbriefing.com                  
    include components/_footer
    
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")