doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Custom CSS
  link(rel='stylesheet', href='assets/css/style.css', type='text/css' )
  link(rel='stylesheet', href='assets/css/vendor/glide.css', type='text/css' )
  title Dezan Shira & Associates!
body
  .body-blackout
  #wrapper
    include components/_header-blueV2
    section.banner.banner-CV
        img(alt='', src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/Virtual-CIO.jpg')    
        .container
            .grid.align-end
                .col-sm.col-md-8.col-lg-8.col-grid
                    h1 Virtual CIO & Interim IT Operational Management Services 
                    p Securely Meet Asia’s Changing Technology Environment backed by Sustainable Solutions and Better Support.                              
    section.pt-150.pb-5
        .container     
                .grid
                    .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-1.offset-lg-1.offset-xlg-1
                        
                        h2
                            | Sustainably Build & Secure your IT Operations in Asia.
                        p
                            | Particularly for a business growing across Asia, the help of a professional IT consultant, as Virtual CIO, can help you integrate operations in this part of the world into your global organization. Leveraging such a resource can identify ways to speed up the connectivity between your employees in the region and the main corporate systems you are using at HQ. Adopting this approach can also facilitate the implementation and adoption by employees of sharing and communication tools to improve the working efficiency across your entire organization.
                        p
                            | A Dezan Shira & Associates’ Virtual CIO is an on-the-ground resource who works closely with your team to help you achieve your objectives in the arena of information and technology. Your ‘vCIO’ can work in the hardware and network space, ensuring your infrastructure is robust enough to cope with escalating corporate demands. The vCIO can also coordinate the implementation of security and communication tools that may be needed to better protect your data, such as Safeguard firewalls and VPN solutions. Implementation of software solutions can also be handled, such as rollout of the MS O365 platform or other similar solutions for your colleagues across Asia, or management of ERP localization and / or integration work.

                    .col-sm.col-md-4.col-lg-4.col-xlg-4
                        a(href='https://www.dezshira.com/updates/2019/12/recap-research-development-innovation-forum.html')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/IT-Operations-in-Asia.jpg') 
    section.pt-7.pb-7.gray-light-bg
        .container
            .grid
                .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                    h3.mb-3 Virtual CIO Services
                    .light-blue-bg
                            .col-sm.col-md-12.col-lg-12.col-xlg-12
                                h4.pl-3 What a Virtual CIO could help your company with:
                            .col-sm.col-md-5.col-lg-5.col-xlg-5.col-bleed-x.col-bleed-y
                                ul
                                    li  Cloud service on-boarding and management
                                    li  Cloud migration
                                    li  ERP design, advisory and implementation
                                    li  ERP integration &amp; tools
                                    li  Office automation design
                                    li  PowerBI report design
                                    li  Information security
                                    li  IT audit
                                    li  Business continuity planning  
                                    li  Digital transformation
                            .col-sm.col-md-5.col-lg-5.col-xlg-5.col-bleed-x.col-bleed-y
                                ul
                                    li Act as a point of contact for Group CIO
                                    li Recruitment &amp; supervision of internal IT teams;
                                    li IT budget planning, tracking and analysis
                                    li IT Helpdesk
                                    li IT asset management
                                    li Hardware / Software purchasing
                                    li IT training to end-users
                                    li Define IT policy &amp; procedure 
                                    li Office IT infrastructure build-up
                                    li Optimization of existing IT infrastructure

                    h3.mt-3 Why Choose a Virtual CIO?
                    p A virtual CIO for your regional Asia business can be far more cost efficient than sending an executive from your own organization to lead your strategic IT operations. A specialized, locally-based resource also possesses expertise relevant to the on-the-ground environment. This expertise may relate to unique challenges faced by users in places like mainland China, where international internet connectivity and data security are fluid concepts which frequently pose challenges. Having your own IT-savvy and bilingual resource also turns disadvantage to advantage, when it comes to coordinating with local external vendors and even some of your own employees. The vCIO can even drive forward initiatives like remote working strategies which require close attention to data security, the re-configuration and automation of certain process flows, and ensuring user adoption.
                    p A Dezan Shira & Associates Virtual CIO (vCIO) is backed up by a wide range of multi-disciplinary service experts working within Dezan Shira & Associates. This resource can easily tap into professionals in the areas of law, human resources, accounting, tax and other disciplines. In this way, the vCIO’s capability to provide comprehensive support exceeds that of even larger technology firms. This ensures that our clients receive fluid, practical cross-disciplinary corporate services, to meet their changing needs.
                    
                    p This capability to work closely with professionals in other disciplines can help to deal with all sorts of practical challenges which will arise as your company develops. For example, China’s Cybersecurity Law requires close collaboration between both IT and legal specialists, to ensure both compliance and workable solutions in the area of data protection. In the finance / accounting sphere, technology specialists must work closely with their finance counterparts, to localize your global ERP solution, or to integrate your systems with other platforms such as banking, tax filing or payments systems. In the HR sphere, tools and streamlined processes to facilitate remote working must be rolled-out with practical input from HR professionals familiar with the local working environment.
                    p Ultimately, the vCIO can operate across the spectrum of fields including data security, effective information sharing, automated process development and platform integration. The resource can effectively align your HQ expectations with on-the-ground execution in Asia.
                    p.text-center 
                        a.btn.btn-secondary.mb-2(href='#')
                            | Ask a Question 
    section.pt-7.pb-7
        .container
            .grid
                .col-sm.col-md-6.col-lg-6.col-xlg-6.offset-md-3.offset-lg-3.offset-xlg-3
                    h3.mb-3 Packages

                    p Our approach depends upon your requirements and which package best suits your organization. Below are some of our most popular packages:

                    a(href='#')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/packagesV2.png?v2')  
    section.pt-7.pb-7.gray-light-bg
        .container     
                .grid
                    .col-sm.col-md-8.col-lg-8.col-xlg-8.offset-md-2.offset-lg-2.offset-xlg-2
                        h2.text-center
                            | How to Get Started
                        p
                            | A Dezan Shira & Associates vCIO can work with clients either throughout the year or on a more temporary basis to facilitate close control over the management of your information. This resource can make your organization more efficient, more secure, and more integrated. We provide vCIO Services to services, trading and manufacturing companies across a number of sectors in China and beyond. From our more than 20 offices across Asia, our extensive, integrated network can be leveraged by your organization, with people on the ground in the cities where you operate.    
                    .col-sm.col-md-5.col-lg-5.col-xlg-5.offset-md-2.offset-lg-2.offset-xlg-2
                        p
                            strong We invite you to contact us or learn more about the services we offer:
                        ul.list-blue-border
                            li
                                a(href='https://www.dezshira.com/contact')
                                    strong Enquire about our Virtual CIO services. 
                            li
                                | Explore our related 
                                a(href='https://www.dezshira.com/services')
                                    strong Technology Services.
                            li
                                | Learn more about  
                                a(href='https://www.dezshira.com/about-us/our-firm.html')
                                    strong Dezan Shira &amp; Associates
                    .col-sm.col-md-3.col-lg-3.col-xlg-3
                        a(href='#')
                            img.flex-img(src='https://www.dezshira.com/userfiles/image/landing-page/vCIO/How-to-Get-Started.jpg')                                                       
    include components/_footer
    //JavaScript
    script(src="assets/js/glide.min.js")
    script(src="assets/js/scripts.js")
