.accordion-wrapper {
  .accordion-heading {
    cursor: pointer;
  }
  .accordion-item {
    .accordion-content {
      display: none;
    }
    &.open .accordion-content {
      display: block;
    }
  }
  // For standard format
  &.accordion-normal {
    .down-arrow {
      @include transition(all 0.1s ease);
      top: 6px;
    }
    .accordion-heading {
      background: $soft-bluish-gray;
      padding: 7px 12px;
      margin-bottom: 5px;
      &:hover {
        background-color: $dark-light-blue;
        color: $white;
        .down-arrow {
          border-color: $white;
        }
      }
    }
    .accordion-item {
      &.open {
        .accordion-heading {
          background-color: $dark-light-blue;
          color: $white;
        }
        .down-arrow {
          @include transform(rotate(225deg));
          top: 10px;
          color: $white;
          border-color: $white;
        }
      }
    }
  }
  // Vertical Menu
  &.vertical-menu {
    .down-arrow {
      @include transition(all 0.1s ease);
      top: -18px;
    }
    .accordion-heading {
      background: $white;
      border-bottom: solid 1px $soft-bluish-gray;
      padding: 10px 18px;
      &:hover {
        background-color: $dark-light-blue;
        color: $white;
        .down-arrow {
          border-color: $white;
        }
        a{ color: $white;}
      }
    }
    .accordion-item {
      .accordion-heading {
        a{
            display: block;
        }
      }
      &.open {
        .accordion-heading {
          background-color: $dark-light-blue;
          color: $white;
          a{
            color: $white; display: block;
          }
        }
        .down-arrow {
          @include transform(rotate(225deg));
          top: -10px;
          color: $white;
          border-color: $white;
        }
      }
      .accordion-content {
        .list {
          li {
            background: $gray-100;
            padding: 10px 25px;
            border-bottom: solid 1px $gray-200;
            a{display: block;}
            &:hover {
              background: $white;
            }
          }
          li.active {
            background-color: $white;
            a {
              color: $dark-light-blue;
            }
          }
        }
      }
    }
  }
}

.light-blue-bg{
    .accordion-heading{
      background-color: #316aa3 !important;

  }
}

.darker-gray-bg{
  .accordion-heading{
    background-color: #dedede !important;

}
}
