.banner {
  &.banner-brochure {
    overflow: inherit;
    img {
      height: 100%;
    }
  }
  &.banner-sm {
    height: 170px;
  }
  position: relative;
  overflow: hidden;
  height: 340px;
  width: 100%;
  z-index: 1;
  top: 102px;
  display: flex;
  align-items: center;
  &.top-postion-24 {
    top: inherit;
    bottom: 0;
    img {
      top: inherit;
      bottom: 0;
      width: inherit;
    }
  }
  &.top-postion-0 {
    top: 0px;
  }
  img {
    position: absolute;
    background-size: cover;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    top: 0;
  }
  .img {
    position: relative;
    background-size: initial;
    background-position: initial;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: $white;
    a {
      color: $white;
    }
  }
  .btn {
    display: table;
  }
}
//Tablets
@media (max-width: $reflex-lg) {
  .banner {
    &.top-postion-24{
      img{ width: auto;}
    }
    height: auto;
    padding: 60px 0px;
  }
}
//Mobile
@media (max-width: $reflex-md) {
  .banner {
    &.top-postion-24{
      img{ width: auto;}
    }
    img {
      width: auto;
    }
    &.banner-sm {
      height: auto;
    }
    height: auto;
    padding: 25px 0px;
    h1 {
      @include font-size(28px);
    }
    &.banner-brochure {
      img {
        width: 100%;
      }
    }
  }
}
