.banner {
	position: relative;
	overflow: hidden;
	height: 340px;
	width: 100%;
	z-index: 1;
	top: 110px; display: flex; align-items: center;
	img {
		position: absolute;
		background-size: cover;
		width: 100%;
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	h1{ color: $white;}
}