div.zabuto_calendar {
	font-family: Arial,Helvetica,sans-serif;
	@include font-size(12px);
	color: #59595b;
	text-align: center;
	.table {
		border: 1px solid #ddd;
		tr.calendar-month-header {
			td {
				span {
					padding-bottom: 0;
					font-weight: $font-weight-normal;
					color: #757575;
				}
			}
		}
		tr.calendar-dow-header {
			th {
				border-bottom: 2px solid #ddd;
				padding: 10px 6px;
			}
		}
		th {
			padding: 4px 2px;
		}
		td {
			padding: 4px 2px;
		}
		tr {
			td {
				div.day.future-event {
					background-color: $cyan-blue !important;
				}
			}
		}
	}
	tr.calendar-dow {
		td {
			border-bottom: 1px solid #ddd;
			text-align: center;
		}
	}
	tr.calendar-dow-header {
		th {
			border-bottom: 1px solid #ddd;
			text-align: center;
		}
	}
	.badge-event {
		background-color: $cyan-blue !important;
	}
	div.legend {
		span.badge-event {
			background-color: $cyan-blue !important;
		}
		span.badge {
			height: 11px;
			width: 11px;
			display: inline-block;
			background-color: #59595b;
		}
		border: 1px solid #ddd;
		margin: 0;
		padding: 10px;
		span {
			@include font-size(11px);
		}
	}
}
