.card {
  border: solid 1px #e8e8e8;
  &.border-none{ border: none;}

  &-header,
  &-body,
  &-footer {
    padding: 30px;
  }

  .card-header-img {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 200px;
    a{ display: flex;}

    .card-text-overlap {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      color: $white;

      a {
        color: $white;
        display: inherit;
      }
    }
  }

  &-header {
    background-color: $deep-cyan-blue;
    min-height: 88px;

    &-title {
      float: left;
      color: $white;
    }

    .btn {
      float: right;
      color: $white;
    }

    .btn-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-body {
    min-height: 252px;
    background: $white;
  }

  &-footer {
    min-height: 44px;
  }
  .content {
    position: absolute;
    width: 100%;
    background-color: #000;
    transition: bottom 0.8s ease;
    padding: 15px;
    p,
    h4 {
      color: $white;
      a {
        color: $white;
      }
    }
  }
  // Asiapedia
  &.asiapedia,
  &.events {
    min-height: 568px;
    background-color: $white;
  }

  &.asiapedia {
    .card-header-img {
      background: url(../img/banner-asiapedia.jpg);
      height: 100px;
      .card-text-overlap {
        top: 35%;
      }
    }

    .card-body {
      text-align: center;
    }
  }

  // Events
  &.events {
    .card-header-img {
      background: url(../img/das-events-banner.jpg);
      height: 100px;
      .card-text-overlap {
        top: 35%;
      }
    }
  }

    // Past Events
    &.past-events {
       border: none;
      .card-header-img {
        height: 180px;

      }
      .card-body{ padding: 20px 0px 0px 0px;}
    }

  // Contact US
  &.contact-us {
    background: url(../img/dsa-widget-bg.jpg) no-repeat top left;
    width: auto;
    height: 420px;
    background-size: cover;
    background-color: $deep-cyan-blue;
  }

  // Full time jobs
  &.full-time-jobs {
    background: url(https://www.dezshira.com/themes/dsa/images/topics-banners/careers.jpg)
      no-repeat top left;
    width: auto;
    height: 100%;
    background-size: cover;
  }
  // International Desks
  &.international-desks {
    flex: 1 1 auto;
    .card-body {
      padding: 20px;
      min-height: 340px;
      p {
        margin-bottom: 0px;
      }
    }
    .card-header-img {
      background-color: $bluedark;
      img {
        opacity: 0.5;
      }
    }
  }

  // Services
  &.services {
    position: relative;
    flex: 1 1 auto;
    .card-header-img {
      background-color: $bluedark;
      img {
        opacity: 0.5;
      }
    }
    .card-body {
      padding: 20px;
      min-height: 200px;
    }
    .card-footer {
      padding: 0;
      background-color: $gray-200;
      min-height: auto;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

   // about-section homepage
   &.about-us {
    position: relative;
    flex: 1 1 auto;
    &:hover {
      .content {
        top: 0;
        transition: opacity 0.2s linear;
        visibility: visible;
        opacity: 1;
        padding: 40px 40px 0px 40px;
      }
    }
    .content {
      top: 0px;
      min-height: 450px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      background-color: #19283F;
      border-color: #19283F;
      a.btn {
        color: #fff !important;
      }
      
      p,h3 {
        line-height: 24px; color: #fff;
        a{ color: #fff;}
      }
      ul{ color: #7eb1e6;
        li{
          a{ color: #7eb1e6;}
        }
      }
    }
    .card-header-img {
      background-color: $deep-blue;
      height: 198px;
      img {
        opacity: 0.7;
      }
    }
    .card-body {
      padding: 20px;
      min-height: 280px;
      background-color:$deep-blue;
      h3 ,p{ color: $white;
      a{ color: $white;}
      }
      h3{ margin-bottom: 30px; margin-top: 10px;}
    }
    .btn{ position: absolute; left: 40%; right: 40%; bottom: 0px;}
  }

  // Related Services
  &.related-services {
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;
    .card-header-img {
      background-color: $bluedark;
      img {
        opacity: 0.5;
      }
      .card-text-overlap {
        bottom: 0px;
        background: rgba(0, 0, 0, 0.7);
        min-height: 75px;
        width: 100%;
        top: inherit;
        h4 {
          padding: 15px;
          margin-top: 15px;
        }
      }
    }
    &:hover {
      .content {
        bottom: 0;
        transition: opacity 0.5s linear;
        visibility: visible;
        opacity: 1;
        line-height: 1.2em;
      }
    }
    .content {
      bottom: 0px;
      height: 200px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      background-color: #19283F;
    }
  }

  // brochure
  &.brochure {
    position: relative;
    flex: 1 1 auto;
    .card-header-img {
      background-color: $bluedark;
      img {
        opacity: 0.5;
      }
    }
    .card-body {
      padding: 20px;
      min-height: 200px;
      flex: 1 1 auto;
    }
    .card-footer {
      padding: 0;
      background-color: $gray-200;
      min-height: auto;
      padding-bottom: 5px;
      padding-top: 5px;
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
    &.download-brochure {
      .card-body {
        min-height: 180px;
        background-color: #f5f5f5;
        h2 {
          @include font-size(20px);
          white-space: normal;
        }
      }
      .card-header-img {
        height: auto;
      }
    }
  }
  // brochure right
  &.brochure-card-right {
    position: relative;
    .card-header-img {
      height: 100px;
      background-color: $bluedark;
      img {
        opacity: 0.8;
      }
      .card-text-overlap {
        top: 35%;
      }
    }
    .card-body {
      padding: 20px;
      min-height: 100px;
      flex: 1 1 auto;
    }
  }
  // Resources
  &.resources {
    border: none;
    .card-header-img {
      background-color: $bluedark;
      img {
        opacity: 0.5;
      }
    }
  }
  &.guides-article{
    .card-body {
      height: auto;
      min-height: auto;
    }
  }
  // office
  &.office {
    border-top: solid 4px $bluedark;
    .card-body {
      padding: 20px;
      min-height: 150px;
      .list-logo {
        width: 100px;
      }
    }
    .card-footer {
      padding: 0;
      border-top: solid 1px #e8e8e8;
    }
  }

  // news
  &.news {
    height: 482px;
    .card-header-img {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.4);
        height: 100px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.4);
        height: 100px;
      }
      height: 482px;
      .card-text-overlap {
        bottom: 5%;
        top: auto;
        z-index: 10000;
        h1 {
          @include font-size(28px);
        }
      }
    }
  }
  // news
  &.news-right {
    height: 230px;
    .card-header-img {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.4);
        height: 100px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.4);
        height: 100px;
      }
      height: 230px;
      .card-text-overlap {
        bottom: 5%;
        top: auto;
        z-index: 10000;
        h1 {
          @include font-size(28px);
        }
      }
    }
  }
  // FEATURED ARTICLES
  &.feature-artcile {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    .card-header-img {
      background-color: $bluedark;
      height: initial;
    }
    .card-body {
      padding: 20px;
      min-height: 150px;
      flex: 1 1 auto;
      h2 {
        @include font-size(20px);
      }
    }
    &:hover {
      .content {
        bottom: 0;
        transition: opacity 0.2s linear;
        visibility: visible;
        opacity: 1;
        p{line-height: 20px;}
      }
    }
    .content {
      bottom: 0px;
      height: 150px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      background-color: #19283F;
      .thumbnail-block {
        height: 140px;
        width: 124px;
        float: left;
        margin-right: 10px;
    }
    .content-block {
      max-height: 115px;
      overflow: hidden;
      width: 60%;
      float: left;
  }
    }
  }
  // featured-resources
  &.featured-resources {
    flex: 1 1 auto;
    .card-header-img {
      height: 144px;
    }
    .card-body {
      padding: 20px;
      min-height: 384px;
      p {
        margin-bottom: 0px;
      }
    }
    .card-footer {
      padding: 20px;
    }
  }
  // Featured Offers
  &.featured-offers {
    border-top: solid 3px $deep-cyan-blue;
    .card-body {
      padding: 20px;
      min-height: 184px;
    }
  }
  // Testimonial
  &.testimonial {
    .card-body {
      padding: 20px;
      min-height: 160px;
      p {
        margin-bottom: 0px;
      }
    }
  }
  // news page
  &.service-news {
    .card-body {
      min-height: 204px;
      padding: 15px;
    }
    .card-header-img {
      height: 84px;
      .card-text-overlap {
        top: 0%;
        h2 {
          padding: 15px;
          font-size: 18px;
        }
      }
    }
    .card-footer {
      padding: 0px 15px 15px 15px;
    }
  }
  &.service-news-cover {
    .card-header-img {
      height: 200px;
      img {
        width: auto;
      }
      .card-text-overlap {
        top: 0%;
        h2 {
          padding: 15px 15px 15px 15px;
          margin-bottom: 0px;
          @include font-size(18px);
        }
        p {
          padding: 0px 15px;
          margin-bottom: 0px;
        }
        .btn {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  // publication
  &.publication {
    position: relative;
    flex: 1 1 auto;
    .card-header-img {
      background-color: $bluedark;
    }
    .card-body {
      padding: 20px;
      min-height: 184px;
      flex: 1 1 auto;
    }
  }

  &.related-insight-card{
    .card-header-img { position: relative;
      height: 176px;
      .briefing-lable{
        padding: 2px 15px; position: absolute; left: 0; bottom: 0; color:$white; text-transform: uppercase; font-size: 14px;
        &.cb{ background-color:#ec1c24 ;}
        &.vb{ background-color:#8061a1 ;}
        &.ib{ background-color:#1d9649 ;}
        &.asean{ background-color:#2E3092 ;}
        &.srb{ background-color:#00aeef ;}
        &.rb{ background-color:#293895 ;}
      }
    }
    .card-body {
    padding-left:0px ;
    padding-right: 0px;
    p{ margin-bottom: 0px;}
  }
}
}
.card-countries{ width: 300px; margin-left: 15px; margin-right: 15px; float: left;}

@media (max-width: $reflex-xlg) {
  .card {
  &.about-us {
    .card-header-img {
      height:auto ;
    }
  }
// office
  &.office {
      .card-body {
        .list-logo {
          width: 40px;
        }
      }
    }
}
}

//Tablets
@media (max-width: $reflex-lg) {
  .card {
    &.services {
      height: auto;
      .card-header-img {
        height: auto;
      }
    }
    &.news {
      height: auto;
      .card-header-img {
        height: auto;
      }
    }
    &.news-right {
      height: auto;
      .card-header-img {
        height: auto;
      }
    }
    &.office {
      .card-body {
        min-height: auto;
        overflow: hidden;
      }
    }
    &.service-news {
      .card-body {
        min-height: 268px;
      }
    }
    &.service-news-cover {
      .card-header-img {
        .card-text-overlap {
          top: 5%;
          h2 {
            padding-top: 0px;
            padding-bottom: 10px;
          }
          p {
            margin-bottom: 0px;
            line-height: 20px;
          }
        }
      }
    }
    &.asiapedia,
    &.events {
      min-height: 100%;
    }
    &.about-us {
      .card-header-img {
        height:auto ;
      }
      .card-body {
        min-height: 285px;
        p{ line-height: 24px;}
      }
    .content { min-height: auto;}
    }
  }
  .card-countries{ width: 290px;}
}

//Mobile
@media (max-width: $reflex-md) {
  .card {
    .card-header-img {
      height: auto;
      .card-text-overlap {
        top: 40%;
      }
    }
    &.asiapedia,
    &.events,
    &.international-desks,
    &.services {
      height: auto;
    }
    &.asiapedia,
    &.events {
      min-height: 100%;
    }
    &.services {
      height: auto;
      .card-header-img {
        height: auto;
      }
    }
    &.featured-resources,
    &.international-desks {
      .card-body {
        min-height: auto;
      }
    }
    &.office {
      .card-body {
        min-height: auto;
        overflow: hidden;
        .list-logo {
          width: 94px;
        }
      }
    }
    &.service-news {
      .card-body {
        min-height: 100%;
      }
      .card-header-img {
        .card-text-overlap {
          top: 0%;
          h2 {
            font-size: 24px;
          }
        }
      }
    }
    &.service-news-cover {
      .card-header-img {
        img {
          width: 100%;
        }
        .card-text-overlap {
          top: 20%;
        }
      }
    }
    &.about-us {
      .card-body {
        padding: 20px 40px 10px 40px;
        min-height: 210px;
        p{ line-height: 24px;}
        h3{ margin-bottom: 10px; margin-top: 0px;}
      }
    }

  }
  .card-countries{ width: auto; float: none;}
}
@media (max-width: $reflex-xs) {
  .card {
    &.service-news-cover {
      .card-header-img {
        img {
          width: auto;
        }
        .card-text-overlap {
          top: 8%;
        }
      }
    }
    &.about-us {
      .card-body {
        min-height: 210px;
        h3{ margin-bottom: 10px; margin-top: 0px;}
      }
    }
  }
}
