.list {
  padding: 0;
  margin: 0;
  list-style: none;
  &.list-content {
    li {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  li {
    padding: 12px 0px;
    border-bottom: solid 1px #e7e7e7;
    user-select: none;
    a {
      color: $cyan-blue;
      font-weight: 200;
    }
  }
  &.news-list {
    li {
      .list-content {
        h1 {
          @include font-size(28px);
        }
      }
    }
  }
  &.latest-news{
    li{
      padding: 0px 20px 20px 20px;
      margin-bottom: 20px;
      min-height: 174px;
      &:last-child{
        margin-bottom: 0px;
      }
      h2{
        font-size: 20px;
      }
    }
  }
}
.list-hover {
  li {
    background-color: #ebebeb;
    border-bottom: solid 1px $white;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline { 
  &.display-table-cell{ 
    li{display: table-cell; border: solid 4px #e9ecef;}
  }
  &.list-inline-logo { margin-bottom: 0px;
    li {
      background-color: $white;
      padding: 20px;
      margin-bottom: 20px;
      height: 120px;
      vertical-align: middle;

    }
  }
  &.list-inline-icons {
    margin-bottom: 0;
    li {
      width: 27px;
      height: 27px;
      @include font-size(12px);
      color: $white;
      @include border-radius(50%);
      background-color: $blue;
      padding: 5px;
      text-align: center;
      &.active, &:hover{
        background-color: $bluedark;

      }
      a {
        color: $white;
      }
    }
  }
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.list.lists-events {
  &.list-events-inline{
    li{
      display: inline-block;
      border: none;
      background-color: inherit; margin-right: 15px;
      .date-block{ background-color: #17394E; color: $white; font-weight: bold; font-size: 40px; padding: 15px; line-height: normal;}
    }
  }
  
  li {
    display: block;
    background-color: #f1f1f1;
    border: solid 1px #dadada;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 20px;
  }
  .date-block {
    @include font-size(24px);
    float: left;
    width: 110px;
    border-right: solid 1px #dadada;
    text-align: center;
    padding: 27px 24px;
    line-height: 24px;
    span {
      @include font-size(14px);
      display: block;
    }
  }
  .dec-block {
    margin-left: 110px;
    padding: 10px 20px;
    .dec{ line-height: 20px;}
    .title {
      color: #676767;
      @include font-size(14px);
    }
    .date-time {
      color: #676767;
    }
  }
}
.list.lists-img-thumbnail {
  li {
    padding-top: 20px;
    padding-bottom: 20px;
    &:last-child {
      border: none;
    }
    display: flex;
    align-items: flex-start;
    .list-thumbnail {
      margin-right: 1em;
      order: 1;
      width: auto;
      &.thumbnail-80 {
        width: 80px;
      }
      &.thumbnail-120 {
        width: 120px;
      }
      &.thumbnail-240 {
        width: 240px;
      }
    }
    .list-content {
      flex: 1;
    }
  }
}
.list-unstyled.bullet-list {
  li {
    // background: url(../img/list-arrow.png) no-repeat 0 12px;
    // padding: 5px 20px;
    padding: 5px 5px 5px 0;
    a:hover{ 
      color:$bluedark;
    }
  }
}

.list-unstyled.login-popup {
  li {
    padding: 5px 10px 5px 32px; font-size: 13px; margin-bottom: 8px; line-height: 18px !important;
  }
  li.m {
    background: url(../img/magazines-icon.jpg) no-repeat 0 3px;
  }
  li.n {
    background: url(../img/news-icon.jpg) no-repeat 0 8px;
  }

  li.w {
    background: url(../img/webinars-icon.jpg) no-repeat 0 8px;
  }

  li.c {
    background: url(../img/connect-icon.png) no-repeat 0 8px;
  }
}



.list-unstyled.sidebar-nav {
  li {
    border-bottom: solid 1px $gray-200;
    a {
      padding: 10px 19px;
      display: block;
      &:hover {
        color: $blue;
        background-color: $gray-100;
      }
    }
    &.active {
      color: $blue;
      background-color: $gray-100;
      a {
        color: $blue;
      }
    }
  }
}
.list-inline.list-inline-style {
  display: inline;
  list-style: decimal;
  @include font-size(13px);
  li {
    &::before {
      content: "\2022"; // bullet
      margin: 0 5px;
    }
  }
}
ul.list-blue-border{ 
  padding: 0px; 
  margin: 0px; 
  list-style: none;
  li{ border: solid 2px #1e71bd; 
    margin-bottom: 25px; 
    transition: box-shadow 0.3s ease-in-out;
   background-color: #f9f9f9; padding: 10px;
  &:hover{box-shadow: 0px 4px 8px 0px #ccc;}
  }
}

.list.lists-events{
  li{ overflow: hidden; position: relative;
    &:hover {
      .content {
        bottom: 0;
        transition: opacity 0.5s linear;
        visibility: visible;
        opacity: 1;
      }
    }
    .content {
      bottom: 0px;
      height: 103px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      background-color: #19283F;
      a.btn{ color: #fff!important;} 
    }
    .dec-block{
      .date-time{ line-height: 20px;}
    }
  }
}

.list.lists-events.list-events-inline{
  li{ overflow: hidden; position: relative; height: 95px;
    &:hover {
      .content {
        max-width: 495px;
        bottom: 0;
        transition: opacity 0.5s linear;
        visibility: visible;
        opacity: 1;
      }
    }
    .content {
      bottom: 0px;
      height: 95px;
      visibility: hidden;
      opacity: 0;
      left: 0;
      background-color: #19283F;
      a.btn{ color: #fff!important;
     } 
     p, h4{line-height: 18px;}
    }
   
  }
}
.list.hp-event-list{
  li{ padding: 0px 0px 20px 0px; margin-bottom: 15px;
    a{
      &:hover{ color: #007bff;text-decoration: underline;}
    }
  &:last-child{ border: none;}
  &:hover{ 
    h4{
      a{ color: #007bff; text-decoration: underline;}
    }
  }}
}
ul.list-bg {
	margin-top: 20px;
	padding: 0px;
	list-style: none;
}
.list-bg {
	li {
		background: #f9f9f9;
		padding: 6px 10px;
		margin-bottom: 25px;
		border: solid 2px #1e71bd;
		transition: box-shadow 0.3s ease-in-out;
		&:hover {
			box-shadow: 0px 4px 8px 0px #ccc;
			box-shadow: 0px 4px 8px 0px #ccc;
			background-color: #344c70;
			color: #fff;
			border-color: #344c70;
			a {
				color: #fff;
			}
		}
	}
}

//Tablet
@media (max-width: $reflex-lg) {
  .list {
    &.latest-news{
      li{
        min-height: auto;
      }
    }
  }
  .list.lists-events {
    &.list-events-inline{
      li{
        display: block;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: $reflex-sm) {
  .list.lists-events.list-events-inline{
    li{ 
      &:hover {
        .content {
          max-width: 100%;
        }
      }
    }
  }
}
//Mobile
@media (max-width: $reflex-xs) {
  .list {
    &.lists-events {
      .date-block {
        border-bottom: solid 1px #dadada;
      }
    }
    &.latest-news{
      li{
        min-height: auto;
      }
    }
  }
  .list.lists-events {
    &.list-events-inline{
      li{
        display: block;
        max-width: 100%;
      }
    }
  }
  .list.lists-events.list-events-inline{
    li{ 
      &:hover {
        .content {
          max-width: 100%;
        }
      }
    }
  }
}
