.related-insight-slides, .partner-slides, .our-people{
    .glide__bullets {
        text-align: center; 
        bottom: 0;
        width: 90%;
        margin-left: 6%;
        .glide__bullet{
          background-color: #fff;
          border: solid 1px #707070;
          border-radius: 50%;
          height: 14px;
          width: 14px;
          font-size: 0px;
          margin: 0px 7px;
          cursor: pointer;
         
          &:hover,
          &.glide__bullet--active {
            background-color: #19283F;
          }
          &:focus {
            outline: none;
          }
        }
      }
}

.partner-slides{
  .pratner-logo{
    background-color: #FFF;
    height: 120px;
    max-width: 150px;
    padding: 20px;
    position: relative;
  }
}

.logo-slide{
  .glide-next{
right: -30px;
  }
}

@media (max-width: $reflex-xs) {
  .logo-slide{
    .glide-next{ display: none;}
    .glide-prev{ display: none;}
  }
}