//----------------------------------------------------------------
//Set a rem font size with pixel fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*
Usage:
    p {
    @include font-size(14px)
    }
*/

//----------------------------------------------------------------
//Animations and keyframes
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

/*
Usage:
    @include keyframes(slide-down) {
    0% { opacity: 1; }
    90% { opacity: 0; }
    }

    .element {
    width: 100px;
    height: 100px;
    background: black;
    @include animation('slide-down 5s 3');
    }
*/

//----------------------------------------------------------------
//Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*
Usage:
    a {
    color: gray;
    @include transition(color .3s ease);
    &:hover {
        color: black;
    }
    }
*/

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

/*
Usage:
Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

*/

//----------------------------------------------------------------
//Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*
Usage:
    .faded-text {
    @include opacity(0.8);
    }
*/

//----------------------------------------------------------------
//Clearfix
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*
Usage:
    .container-with-floated-children {
    @extend %clearfix;
    }
*/

//----------------------------------------------------------------
//Box Shadow
@mixin box-shadow($args...) {
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

/*
Usage:
    .faded-text {
    @include box-shadow(0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
    }
*/

//border
@mixin border($direction, $width, $style, $color) {
  #{$direction}: $width $style $color;
}

@mixin border-default {
  border: 1px solid #ccc;
}
/*
Usage:
.zz {
  @include border('top', 1px, solid, #ccc);
}

// 2. Example using variable to store border styles
$border-default: 1px solid #ccc;

.xx {
  border: $border-default;
}

// 3. Example using mixin to store border styles
@mixin border-default {
  border: 1px solid #ccc;
}

.yy {
  @include border-default;
}
*/

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

//label
@mixin label-inactive() {
  font-size: 1.2rem;
  transform: translateY(0);
}

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-8px);
}


