.item
    .item-image
        img(src='assets/img/slide 1.jpg', alt='')
    .container.news
        .grid
            .col-xs.col-sm.col-md-7.col-lg-7.col-grid.col-bleed-left-right
                h1.text-white Adjusting your business to the New Foreign Investment Law in China
                .homepage-cta
                    a.text-yellow.text-pre-wrap(target='_top', href='#') Contact our business advisory team to discuss your company’s 2020 requirements and implementation plan now
        .grid
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                        a(target='_top', href='http://dezshira.in/library/news/2')
                            img(src='https://www.china-briefing.com/news/wp-content/uploads/2019/10/The-Context-for-the-New-Foreign-Investment-Law-in-China-300x169.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='http://dezshira.in/library/news/2') China’s New Foreign Investment Law: A Backgrounder    
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='https://www.china-briefing.com/news/china-new-foreign-investment-law-backgrounder/') Read more
                                i.ml-1.icon-long-arrow-right

            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                        a(target='_top', href='http://dezshira.in/library/news/2')
                            img(src='https://www.china-briefing.com/news/wp-content/uploads/2019/10/How-to-Read-Chinas-New-Law-on-Foreign-Investment-300x169.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='http://dezshira.in/library/news/2') How to Read China’s New Law on Foreign Investment  
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='http://dezshira.in/library/news/2') 
                            | Read more
                            i.ml-1.icon-long-arrow-right
        