.item
    .item-image
        img(src='assets/img/train.jpg', alt='')
    .container.news
        .grid
            .col-xs.col-sm.col-md-7.col-lg-8.col-grid.col-bleed-left-right
                h1.text-white Keeping Up To Speed With Asian Connectivity
                .homepage-cta
                    .text-yellow.text-pre-wrap(target='_top')
                        a(target='_top', href='http://dezshira.in/services/business-intelligence-solutions')
                            | Learning Where Asia Is Developing Connectivity Is Key To Understanding Productivity. 
                            br
                            | Contact our Business Intelligence Services division to learn where you should be in business tomorrow.
        .grid
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                        a(target='_top', href='http://dezshira.in/library/news/2')
                            img(src='https://www.china-briefing.com/news/wp-content/uploads/2020/01/China-2020.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='http://dezshira.in/library/news/2') China’s Global Trade Outlook in 2020: The Risks and Rewards    
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='http://dezshira.in/library/news/2') Read more
                                i.ml-1.icon-long-arrow-right

            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                        a(target='_top', href='http://dezshira.in/library/news/2')
                            img(src='https://www.silkroadbriefing.com/news/wp-content/uploads/2019/09/free_trade_zone_1.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='http://dezshira.in/library/news/2') Free Trade Zones on China’s Belt & Road Initiative: The Eurasian Land Bridge  
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='http://dezshira.in/library/news/2') 
                            | Read more
                            i.ml-1.icon-long-arrow-right
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                        a(target='_top', href='http://dezshira.in/library/news/2')
                            img(src='https://www.vietnam-briefing.com/news/wp-content/uploads/2014/06/Sourcing-model-VN.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='http://dezshira.in/library/news/2') Choosing the Right Sourcing Model in Vietnam  
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='http://dezshira.in/library/news/2') 
                            | Read more
                            i.ml-1.icon-long-arrow-right
        