.item
    .item-image
        img(src='https://www.dezshira.com/userfiles/homepage/banner-businessman-mask.jpg', alt='')
    .container.news
        .grid.mb-3
            .col-xs.col-sm.col-md-9.col-lg-9.col-xlg-8.col-bleed-left-right
                h1.text-white Business insights and solutions for navigating the COVID-19 outbreak
                h3.font-weight.text-yellow Click to learn from our experts via Coronavirus-related articles, events and corporate services

        .clearfix

    .related-insight.pt-2.pb-2  
        .container
            h5.pt-2.text-uppercase Related Insight
            .grid
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small March 16, 2020
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/china-covid-19-policy-tracker-benefiting-business-enterprises-comprehensive-updated-list/') China's Support Policies for Businesses Under COVID-19: A Comprehensive List   
                            .content
                                    h4
                                        a(target='_top', href='https://www.china-briefing.com/news/china-covid-19-policy-tracker-benefiting-business-enterprises-comprehensive-updated-list/') China's Support Policies for Businesses Under COVID-19: A Comprehensive List
                                    p
                                        a(href='https://www.china-briefing.com/news/china-covid-19-policy-tracker-benefiting-business-enterprises-comprehensive-updated-list/')
                                            | A consolidated list of China's supporting policies for businesses under the...

                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small March 16, 2020
                            h4
                                a(target='_top', href='https://www.vietnam-briefing.com/news/vietnam-business-operations-and-the-coronavirus-updates.html/') Vietnam Business Operations and the Coronavirus: Updates 
                            .content
                                h4
                                    a(target='_top', href='https://www.vietnam-briefing.com/news/vietnam-business-operations-and-the-coronavirus-updates.html/') Vietnam Business Operations and the Coronavirus: Updates
                                p
                                    a(href='https://www.vietnam-briefing.com/news/vietnam-business-operations-and-the-coronavirus-updates.html/')
                                        | Businesses in Vietnam need to prepare for an escalation of the coronavirus outbr... 
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small March 16, 2020
                            h4
                                a(target='_top', href='https://www.aseanbriefing.com/news/coronavirus-asia-asean-live-updates-by-country/') The Coronavirus in Asia and ASEAN u2013 Live Updates by Country

                            .content
                                h4
                                    a(target='_top', href='https://www.aseanbriefing.com/news/coronavirus-asia-asean-live-updates-by-country/') The Coronavirus in Asia and ASEAN u2013 Live Updates by Country
                                p
                                    a(href='https://www.aseanbriefing.com/news/coronavirus-asia-asean-live-updates-by-country/')
                                        | This article will run as a live update service to keep businesses in Asia and th...