.item
    .item-image
        img(src='assets/img/train.jpg', alt='')
    .container.news
        .grid.mb-3
            .col-xs.col-sm.col-md-9.col-lg-9.col-xlg-8.col-bleed-left-right
                h1.text-white Keeping Up To Speed With Eurasian Connectivity
                h3.font-weight.text-yellow Learning Where Asia is developing Connectivity Is Key To Understanding Productivity. Contect our Business Intelligence Servies division to learn where you should be in business tomorrow.

        .clearfix

    .related-insight.pt-2.pb-2   
        .container
            h5.pt-2.text-uppercase Related Insight
            .grid
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small January 02, 2020
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/chinas-global-trade-outlook-in-2020-the-risks-rewards/') China’s Global Trade Outlook in 2020: The Risks and Rewards   
                            .content
                                    h4
                                        a(target='_top', href='https://www.china-briefing.com/news/chinas-global-trade-outlook-in-2020-the-risks-rewards/') China’s Global Trade Outlook in 2020: The Risks and Rewards   
                                    p
                                        a(href='https://www.china-briefing.com/news/chinas-global-trade-outlook-in-2020-the-risks-rewards/')
                                            | In his latest op-ed, Chris Devonshire-Ellis examines where opportunities lie for... 

                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small September 19, 2019
                            h4
                                a(target='_top', href='https://www.silkroadbriefing.com/news/2019/09/19/key-free-trade-zones-along-chinas-belt-road-initiative-eurasian-land-bridge/') Free Trade Zones on China’s Belt &amp; Road Initiative: The Eurasian Land... 
                            .content
                                h4
                                    a(target='_top', href='https://www.silkroadbriefing.com/news/2019/09/19/key-free-trade-zones-along-chinas-belt-road-initiative-eurasian-land-bridge/') Free Trade Zones on China’s Belt &amp; Road Initiative: The Eurasian Land... 
                                p
                                    a(href='https://www.silkroadbriefing.com/news/2019/09/19/key-free-trade-zones-along-chinas-belt-road-initiative-eurasian-land-bridge/')
                                        | Tax Incentives and Faster Delivery Times Are Making The Belt &amp; Road Eurasian...
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small January 07, 2020
                            h4
                                a(target='_top', href='https://www.vietnam-briefing.com/news/choosing-right-sourcing-model-vietnam.html/') Choosing the Right Sourcing Model in Vietnam

                            .content
                                h4
                                    a(target='_top', href='https://www.vietnam-briefing.com/news/choosing-right-sourcing-model-vietnam.html/') Choosing the Right Sourcing Model in Vietnam
                                p
                                    a(href='https://www.vietnam-briefing.com/news/choosing-right-sourcing-model-vietnam.html/')
                                        | Vietnam Briefing addresses concerns facing foreign buyers choosing a formal stru... 