.item
    .item-image
        img(src='assets/img/train.jpg', alt='')
    .container.news
        .grid.mb-3
            .col-xs.col-sm.col-md-9.col-lg-7.col-grid.col-bleed-left-right
                h1.text-white Keeping Up To Speed With Eurasian Connectivity
                p.text-yellow Learning Where Asia is developing Connectivity Is Key To Understanding Productivity. Contect our Business Intelligence Servies division to learn where you should be in business tomorrow.

        .clearfix

    .white-bg.related-insight.pt-2.pb-2   
        .container
            h5.pt-2.text-uppercase.text-muted Related Insight
            .grid
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.border-gray.p-arround-1 
                            small.text-muted Feb 26, 2020
                            h4
                                a(target='_top', href='#') Example where news have no thumbanils   
                            .content
                                    h4
                                        a(target='_top', href='#') Example where news have no thumbanils   
                                    p
                                        a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                            | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, 

                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.border-gray.p-arround-1 
                            small.text-muted Feb 26, 2020
                            h4
                                a(target='_top', href='#') Indonesia Is Relocating Its Capital City. What Does This Mean For Investors? 
                            .content
                                h4
                                    a(target='_top', href='#') Indonesia Is Relocating Its Capital City. What Does This Mean For Investors? 
                                p
                                    a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                        | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, 
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.border-gray.p-arround-1 
                            small.text-muted Feb 26, 2020
                            h4
                                a(target='_top', href='#') Manufacturing Competitiveness - What Are The Social Insurance Rates In Vietnam?

                            .content
                                h4
                                    a(target='_top', href='#') Manufacturing Competitiveness - What Are The Social Insurance Rates In Vietnam?
                                p
                                    a(href='https://www.china-briefing.com/news/china-reduce-social-insurance-commitments-smes-short-term-coronavirus-impact/?hilite=%27China+to+Reduce+Corporate+Social+Insurance+Premiums%2C+Defer+Housing+Provident+Fund+Payment%27')
                                        | On February 18, Premier Li Keqiang presided over an executive meeting of the State Council, 