.item
    .item-image
        img(src='https://www.dezshira.com/userfiles/homepage/slideV2-1.jpg', alt='')
    .container.news
        .grid.mb-3
            .col-xs.col-sm.col-md-9.col-lg-9.col-xlg-8.col-bleed-left-right
                h1.text-white Adjusting your business to the New Foreign Investment Law in China
                h3.font-weight.text-yellow Contact us to get advice about your business’ tax residency requirements to better manage your risk exposure.

        .clearfix

    .white-bg.related-insight.pt-2.pb-2.black-bg-opacity   
        .container
            h5.pt-2.text-uppercase Related Insight
            .grid
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small March 16, 2020
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/china-covid-19-policy-tracker-benefiting-business-enterprises-comprehensive-updated-list/') China's Support Policies for Businesses Under COVID-19: A Comprehensive List   
                            .content
                                    h4
                                        a(target='_top', href='https://www.china-briefing.com/news/china-covid-19-policy-tracker-benefiting-business-enterprises-comprehensive-updated-list/') China's Support Policies for Businesses Under COVID-19: A Comprehensive List   
                                    p
                                        a(href='https://www.china-briefing.com/news/china-covid-19-policy-tracker-benefiting-business-enterprises-comprehensive-updated-list/')
                                            | OA consolidated list of China's supporting policies for businesses under the... 

                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small February 04, 2020
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/coronavirus-in-china-applicability-of-force-majeure-in-contract-disputes/') Coronavirus in China: Applicability of Force Majeure in Contract Disputes
                            .content
                                h4
                                    a(target='_top', href='https://www.china-briefing.com/news/coronavirus-in-china-applicability-of-force-majeure-in-contract-disputes/') Coronavirus in China: Applicability of Force Majeure in Contract Disputes 
                                p
                                    a(href='https://www.china-briefing.com/news/coronavirus-in-china-applicability-of-force-majeure-in-contract-disputes/')
                                        | We discuss whether disruption caused during the coronavirus constitutes "fo...
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small January 22, 2020
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/china-2019-trademark-law-amendment-whats-new/') China's 2019 Trademark Law Amendment: What's New

                            .content
                                h4
                                    a(target='_top', href='https://www.china-briefing.com/news/china-2019-trademark-law-amendment-whats-new/') China's 2019 Trademark Law Amendment: What's New
                                p
                                    a(href='https://www.china-briefing.com/news/china-2019-trademark-law-amendment-whats-new/')
                                        | The 2019 amendments to China's Trademark Law strengthen trademark protectio... 