.item
    .item-image
        img(src='https://www.dezshira.com/userfiles/homepage/slide6.jpg', alt='')
    .container.news
        .grid.mb-3
            .col-xs.col-sm.col-md-9.col-lg-9.col-xlg-8.col-bleed-left-right
                h1.text-white Shifting your manufacturing base across Asia
                h3.font-weight.text-yellow Contact an advisor to discuss your multi-country or relocation plans

        .clearfix

    .white-bg.related-insight.pt-2.pb-2.black-bg-opacity   
        .container
            h5.pt-2.text-uppercase Related Insight
            .grid
                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small October 17, 2019
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/china-new-foreign-investment-law-backgrounder/') China’s New Foreign Investment Law: A Backgrounder
                            .content
                                    h4
                                        a(target='_top', href='https://www.china-briefing.com/news/china-new-foreign-investment-law-backgrounder/') China’s New Foreign Investment Law: A Backgrounder
                                    p
                                        a(href='https://www.china-briefing.com/news/china-new-foreign-investment-law-backgrounder/')
                                            | We contextualize the legislation, benefits, and concerns surrounding China'...

                .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row
                    .related-insight-block
                        .news-details.p-arround-1 
                            small October 31, 2019
                            h4
                                a(target='_top', href='https://www.china-briefing.com/news/read-chinas-new-law-foreign-investment/') How to Read China's New Law on Foreign Investment
                            .content
                                h4
                                    a(target='_top', href='https://www.china-briefing.com/news/read-chinas-new-law-foreign-investment/') How to Read China's New Law on Foreign Investment
                                p
                                    a(href='https://www.china-briefing.com/news/read-chinas-new-law-foreign-investment/')
                                        | We provide a close reading of key clauses in China's new law on foreign inv... 
