.item
    .item-image
        img(src='assets/img/rocket.jpg', alt='')
    .container.news
        .grid
            .col-xs.col-sm.col-md.col-lg.col-grid.col-bleed-left-right
                h1.heading-brand.text-white Asia Takes Off - High Growth Alternatives In A Trade War World
                div
                    .mb-4.yellow-text(target='_top', href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet fringilla arcu. Vivamus blandit velit sit amet malesuada iaculis. Praesent dictum dui eu dolor venenatis pulvinar. Nam quis magna quis orci dapibus egestas. Nulla a libero eu est tristique viverra.
        .grid
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                      a(target='_top', href='#')
                          img(src='https://www.china-briefing.com/news/wp-content/uploads/2019/10/US-Tariff-Exclusion-for-Chinese-Imports.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='#') Example with custom HTML CTA Text
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#') Read more
                                i.ml-1.icon-long-arrow-right

            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                      a(target='_top', href='#')
                          img(src='https://www.aseanbriefing.com/news/wp-content/uploads/2019/09/Indonesias-New-Capital.jpg', alt=''  width='200')
                    .news-details
                        p
                            a(target='_top', href='#') Indonesia Is Relocating Its Capital City. What Does This Mean For Investors?  
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#') 
                            | Read more
                            i.ml-1.icon-long-arrow-right
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                      a(target='_top', href='#')
                          img(src='https://www.vietnam-briefing.com/news/wp-content/uploads/2019/05/Vietnam-Social-Insurance.jpg', alt='' width='200')
                    .news-details
                        p
                            a(target='_top', href='#') Manufacturing Competitiveness - What Are The Social Insurance...
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#')
                            | Read more
                            i.ml-1.icon-long-arrow-right
        