.item
    .item-image
        img(src='assets/img/rocket.jpg', alt='')
    .container.news
        .grid
            .col-xs.col-sm.col-md-7.col-lg-7.col-grid.col-bleed-left-right
                h1.heading-brand.text-white Rocket: Keeping Up To Speed With Eurasian Connectivity
                .homepage-cta
                    a.btn.btn-secondary.text-pre-wrap.w-100.mt-1(target='_top', href='#') Discuss your investment and expansion interests with a Advisor now
                        i.ml-1.icon-long-arrow-right.hidden-xxs
        .grid
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-details.borde-left
                        p
                            a(target='_top', href='#') The latest US tariff exclusions on Chinese Imports    
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#') Read more
                                i.ml-1.icon-long-arrow-right

            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-details.borde-left
                        p
                            a(target='_top', href='#') Indonesia Is Relocating Its Capital City. What Does This Mean For Investors?  
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#') 
                            | Read more
                            i.ml-1.icon-long-arrow-right
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-details.borde-left
                        p
                            a(target='_top', href='#') Manufacturing Competitiveness - What Are The Social Insurance...
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#')
                            | Read more
                            i.ml-1.icon-long-arrow-right
        