.item
    .item-image
        img(src='assets/img/speed.jpg', alt='')
    .container.news
        .grid
            .col-xs.col-sm.col-md-7.col-lg-7.col-grid.col-bleed-left-right
                h1.heading-brand.text-white GDP Speeding - Asia's High Growth Economies
                .homepage-cta
                    a.btn.btn-secondary.mb-4.mr-1.text-pre-wrap.w-100(target='_top', href='#') Know More About Accounting Service
                    
                    a.btn.btn-outline-white.mb-4.text-pre-wrap.w-100(target='_top', href='#') Subscribe
                        i.ml-1.icon-long-arrow-right.hidden-xxs
        .grid
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                      a(target='_top', href='#')
                          img(src='https://www.china-briefing.com/news/wp-content/uploads/2019/10/US-Tariff-Exclusion-for-Chinese-Imports.jpg',  width='200' alt='' data-reduce-opacity)
                    .news-details
                        p
                            a(target='_top', href='#') Example with custom HTML CTA   
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#') Read more
                                i.ml-1.icon-long-arrow-right

            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                      a(target='_top', href='#')
                          img(src='https://www.aseanbriefing.com/news/wp-content/uploads/2019/09/Indonesias-New-Capital.jpg', alt=''  width='200')
                    .news-details
                        p
                            a(target='_top', href='#') Indonesia Is Relocating Its Capital City. What Does This Mean For Investors?  
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#') 
                            | Read more
                            i.ml-1.icon-long-arrow-right
            .col-xs.col-sm.col-md-4.col-lg-4.col-grid.direction-row.bg-transparent-black
                    .news-thumbnail
                      a(target='_top', href='#')
                          img(src='https://www.vietnam-briefing.com/news/wp-content/uploads/2019/05/Vietnam-Social-Insurance.jpg', alt='' width='200')
                    .news-details
                        p
                            a(target='_top', href='#') Manufacturing Competitiveness - What Are The Social Insurance Rates In Vietnam?
                        a.btn.btn-link.hidden-xxs.hidden-sm(target='_top', href='#')
                            | Read more
                            i.ml-1.icon-long-arrow-right
        