.item
    .item-image
      img(src='assets/img/train.jpg', alt='')
      .container
          h1.heading-brand.text-white Speed: Keeping Up To Speed With Eurasian Connectivity
          .grid.news.align-end
              .col-xs-6.col-md-4.col-grid.justify-center
                        img.flex-img(src='https://www.china-briefing.com/news/wp-content/uploads/2019/10/US-Tariff-Exclusion-for-Chinese-Imports-300x169.jpg', alt='')
                        h3.text-center
                          a(target='_top', href='#') The latest US tariff exclusions on Chinese Imports    
                        a.btn.btn-link(target='_top', href='#') Read more
              .col-xs-6.col-md-4.col-grid.justify-center
                        img.flex-img(src='https://www.aseanbriefing.com/news/wp-content/uploads/2019/09/Indonesias-New-Capital-300x169.jpg', alt='')
                        h3
                          a(target='_top', href='#') Indonesia Is Relocating Its Capital City. What Does This Mean For Investors?  
                        a.btn.btn-link(target='_top', href='#') Read more
              .col-xs-6.col-md-4.col-grid.justify-center
                        img.flex-img(src='https://www.vietnam-briefing.com/news/wp-content/uploads/2019/05/Vietnam-Social-Insurance-300x169.jpg', alt='')
                        h3
                          a(target='_top', href='#') Manufacturing Competitiveness - What Are The Social Insurance Rates In Vietnam?  
                        a.btn.btn-link(target='_top', href='#') Read more

          a.btn.btn-outline-white(href='#') View more news